Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-06, with the labels that each got.

#282 [DOC] fix bpmn-support activities table issue
  docs/bpmn-support.adoc
Labels: documentation

#281 [INFRA] release-drafter continuously update github draft release
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/fill-gh-draft-release.yml
  CONTRIBUTING.md
Labels: infra:repo

#284 [FEAT] Render the Label Font of a Shape
  package-lock.json
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleConfigurator.ts
  test/e2e/mxGraph.model.test.ts
Labels: BPMN rendering, enhancement

#285 [FEAT] Render the Label Font of a Edge
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/parser/json/converter/DiagramConverter.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/mxgraph/MxGraphRenderer.test.ts
Labels: BPMN rendering, enhancement

#288 [FEAT] consider all Font attributes on rendering
  src/component/mxgraph/MxGraphRenderer.ts
  test/unit/component/mxgraph/MxGraphRenderer.test.ts
Labels: BPMN rendering, enhancement

#289 [REFACTOR] expected shape and bounds interface in tests
  test/unit/component/parser/json/BpmnJsonParser.call.activity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.end.message.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.end.none.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.end.terminate.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.intermediate.catch.message.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.intermediate.catch.timer.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.intermediate.throw.message.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.intermediate.throw.none.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.start.message.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.start.none.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.start.timer.test.ts
  test/unit/component/parser/json/BpmnJsonParser.gateway.exclusive.test.ts
  test/unit/component/parser/json/BpmnJsonParser.gateway.inclusive.test.ts
  test/unit/component/parser/json/BpmnJsonParser.gateway.parallel.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.task.abstract.test.ts
  test/unit/component/parser/json/BpmnJsonParser.task.receive.test.ts
  test/unit/component/parser/json/BpmnJsonParser.task.service.test.ts
  test/unit/component/parser/json/BpmnJsonParser.task.user.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: infra:refactoring

#292 [REFACTOR] Introduce icons painter service
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/extension/MxScaleFactorCanvas.ts
  src/component/mxgraph/shape/IconPainter.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/task-shapes.ts
Labels: BPMN rendering, infra:refactoring

#296 [INFRA] introduce new convenient build scripts
  .github/workflows/build.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: infra:build

#300 [REFACTOR] simplify relative coordinates computation
  src/component/BpmnVisu.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/extension/CoordinatesTranslator.ts
  test/unit/component/mxgraph/MxGraphRenderer.test.ts
Labels: infra:refactoring

#297 [INFRA] make a demo archive available on changes
  .github/workflows/build.yml
  .github/workflows/upload-demo-archive.yml
  CONTRIBUTING.md
  package.json
  rollup.config.js
Labels: example, infra:repo

#298 [REFACTOR] Refactor ratio from parent in the icon painter
  src/component/mxgraph/extension/MxScaleFactorCanvas.ts
  src/component/mxgraph/shape/IconPainter.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
Labels: BPMN rendering, infra:refactoring

#324 [INFRA] use a tagged version of ts-mxgraph
  package-lock.json
  package.json
Labels: infra:build

#299 [FEAT] render shape label bounds
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/StyleUtils.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/e2e/mxGraph.view.test.ts
  test/unit/component/mxgraph/MxGraphRenderer.test.ts
Labels: BPMN rendering, enhancement

#323 [FEAT] Display Interrupting Message Intermediate Event Attached to an Activity Boundary
  docs/bpmn-support.adoc
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/mxgraph/MxGraphRenderer.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.boundary.interrupting.message.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: BPMN support, enhancement

#327 [FEAT] Render Edge Label
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/extension/CoordinatesTranslator.ts
  test/unit/component/mxgraph/MxGraphRenderer.test.ts
Labels: BPMN rendering, enhancement

#325 [DOC] architecture doc about label bounds with mxgraph
  docs/architecture/mxgraph-integration.adoc
Labels: documentation

#328 [INFRA] add editorconfig for cross IDE formatting settings
  .editorconfig
  .eslintignore
  .prettierrc.js
  CONTRIBUTING.md
Labels: infra:build

#330 [FEAT] Display Non-interrupting Message Intermediate Event Attached to an Activity Boundary
  test/unit/component/parser/json/BpmnJsonParser.event.boundary.non.interrupting.message.test.ts
Labels: BPMN support, enhancement

#337 [FIX] disable mxgraph folding to avoid requesting unavailable images
  src/component/mxgraph/MxGraphConfigurator.ts
Labels: bug

#344 [DOC] BPMN labels font and bounds support
  docs/bpmn-support.adoc
Labels: documentation

#336 [FEAT] Display Non-interrupting Timer Intermediate Event Attached to an Activity Boundary
  test/unit/component/parser/json/BpmnJsonParser.event.boundary.non.interrupting.timer.test.ts
Labels: BPMN support, enhancement

#335 [FEAT] Display Interrupting Timer Intermediate Event Attached to an Activity Boundary
  test/unit/component/parser/json/BpmnJsonParser.event.boundary.interrupting.timer.test.ts
Labels: BPMN support, enhancement

#338 [FEAT] Render Interrupting Message Intermediate Event Attached to an Activity Boundary
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
Labels: BPMN rendering, enhancement

#339 [FEAT] Render Interrupting Timer Intermediate Event Attached to an Activity Boundary
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  test/e2e/mxGraph.model.test.ts
Labels: BPMN rendering, enhancement

#348 [TEST] check label values in mxgraph model e2e tests
  test/e2e/mxGraph.model.test.ts
Labels: infra:build

#340 [FEAT] Render Non-interrupting Message Intermediate Event Attached to an Activity Boundary
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/shape/event-shapes.ts
  test/e2e/mxGraph.model.test.ts
Labels: BPMN rendering, enhancement

#341 [FEAT] Render Non-interrupting Timer Intermediate Event Attached to an Activity Boundary
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  test/e2e/mxGraph.model.test.ts
Labels: BPMN rendering, depends on another PR :warning:, enhancement, rebase needed :collision:

#363 [INFRA] allow to debug Typescript code
  CONTRIBUTING.md
  rollup.config.js
  tsconfig.json
Labels: infra:build

#367 [FEAT] Display Event Sub-Process
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeBpmnSubProcessKind.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.event.test.ts
Labels: BPMN support, enhancement

#352 [TEST] check labels in view e2e tests
  src/config/helper.ts
  src/config/main.ts
  test/e2e/e2e-helpers.ts
  test/e2e/mxGraph.dom.test.ts
  test/e2e/mxGraph.view.test.ts
  test/fixtures/bpmn/simple-start-task-end.bpmn
Labels: infra:build

#301 [INFRA] start using types from mxgraph-type-definitions
  package-lock.json
  package.json
  src/component/BpmnVisu.ts
  src/component/mxgraph/MarkerConfigurator.ts
  src/component/mxgraph/MxClientConfigurator.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/extension/CoordinatesTranslator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  test/e2e/mxGraph.model.test.ts
  tsconfig.json
Labels: infra:refactoring

#364 [INFRA] improve the 'generate documentation' github workflow
  .github/workflows/generate-documentation.yml
Labels: infra:repo

#366 [INFRA] improve issue and pull request templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
Labels: infra:repo

#365 [DOC] remove reference to 'JS' in library name
  CONTRIBUTING.md
  README.md
  docs/bpmn-support.adoc
  docs/build-doc.bash
  docs/index.adoc
  docs/intro.adoc
  package-lock.json
  package.json
  src/index.html
  test/e2e/mxGraph.view.test.ts
Labels: documentation
