Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-09, with the labels that each got.

#561 [FEAT] Render Lane (with SubLanes)
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/parser/json/converter/ProcessConverter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-pools-01-labels-and-lanes-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-pools-02-vertical-1-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/fixtures/bpmn/non-regression/pools.01.labels-and-lanes.bpmn
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
Labels: BPMN rendering, enhancement

#565 [TEST] avoid false positive rendering test errors
  test/e2e/bpmn.rendering.test.ts
Labels: infra:build

#563 [INFRA] dev - bump eslint dependencies
  package-lock.json
  package.json
  src/component/mxgraph/StyleUtils.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/demo/index.ts
  test/e2e/bpmn.rendering.test.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
Labels: dependencies

#564 [INFRA] improve release-drafter dependabot replacement
  .github/release-drafter.yml
Labels: infra:build

#567 [INFRA] simplify rollup copy plugins configuration
  rollup.config.js
Labels: infra:build

#568 [INFRA] build docs with npm
  .github/workflows/generate-documentation.yml
  CONTRIBUTING.md
  docs/build-doc.bash
  package-lock.json
  package.json
  scripts/docs.js
Labels: infra:build

#574 [INFRA] Automate release process - step 1
  .github/workflows/release.yml
  CONTRIBUTING.md
Labels: infra:build, infra:repo

#573 [FEAT] Render vertical lanes
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/parser/json/converter/DiagramConverter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-pools-02-vertical-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-pools-02-vertical-with-lanes-1-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-vertical-pool-lanes-sub_lanes.bpmn
  test/fixtures/bpmn/non-regression/pools.02.vertical.with-lanes.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
Labels: BPMN rendering, enhancement

#569 [FEAT] Render Message Flow with initiating & non-initiating message without Bounds
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
  src/component/mxgraph/shape/flow-shapes.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-message-flows-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
Labels: BPMN rendering, enhancement

#582 [FEAT] Detect Manual task
  docs/bpmn-support.adoc
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-tasks-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
Labels: BPMN support, enhancement

#586 [FEAT] Detect script task
  docs/bpmn-support.adoc
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-tasks-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
Labels: BPMN support, enhancement

#585 [FEAT] Render Manual task
  README.md
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-tasks-1-snap.png
Labels: BPMN rendering, enhancement

#588 [FEAT] Render Script task
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-tasks-1-snap.png
Labels: BPMN rendering, enhancement

#598 [DOC] update release steps
  CONTRIBUTING.md
Labels: documentation

#604 [DOC] Update the readme with roadmap next steps
  README.md
Labels: infra:repo

#606 [INFRA] Use dedicated port for e2e and dev servers
  CONTRIBUTING.md
  jest-puppeteer.config.js
  rollup.config.js
  test/e2e/bpmn.rendering.test.ts
  test/e2e/mxGraph.view.test.ts
Labels: infra:build

#615 [DOC] Fix the convention naming of a branch
  CONTRIBUTING.md
Labels: documentation

#603 [REFACTOR] shorten imports
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/flow-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/mxgraph/render/BpmnCanvas.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
  test/unit/model/bpmn/shape/ShapeUtil.test.ts
Labels: infra:refactoring

#607 [INFRA] add 'subprocess' visual tests
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-subprocess-01-with-lanes-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-subprocess-02-with-inner-subprocess-1-snap.png
  test/fixtures/bpmn/non-regression/subprocess.01.with.lanes.bpmn
  test/fixtures/bpmn/non-regression/subprocess.02.with.inner.subprocess.bpmn
Labels: infra:build

#584 [DOC] Improve information about the testing strategy
  CONTRIBUTING.md
  docs/architecture/00-index.adoc
  docs/architecture/architecture-overview.adoc
  docs/architecture/bpmn-internal-model.adoc
  docs/architecture/bpmn-support-how-to.adoc
  docs/architecture/development.adoc
  docs/architecture/mxgraph-integration.adoc
  docs/development/README.md
  docs/development/bpmn-support-how-to.md
  docs/development/mxgraph-version-bump.md
  docs/development/testing.md
Labels: documentation

#623 [INFRA] allow to start dev server when running e2e from ide
  jest-puppeteer.config.js
  rollup.config.js
Labels: infra:build

#624 [TEST] Add visual test for associations and annotations
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-associations-and-annotations-1-snap.png
  test/fixtures/bpmn/non-regression/associations.and.annotations.bpmn
Labels: infra:build

#627 [TEST] Add visual test for text annotation label
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-labels-01-general-1-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/fixtures/bpmn/non-regression/labels.01.general.bpmn
Labels: infra:build

#626 [TEST] improve visual test for sequence flows
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-flows-sequence-kinds-and-complex-paths-1-snap.png
  test/fixtures/bpmn/non-regression/flows.sequence.kinds.and.complex.paths.bpmn
Labels: infra:build

#625 [TEST] improve visual test for message flows
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-flows-message-01-icons-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-flows-message-02-labels-and-complex-paths-1-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/fixtures/bpmn/non-regression/flows.message.01.icons.bpmn
  test/fixtures/bpmn/non-regression/flows.message.02.labels-and-complex-paths.bpmn
Labels: infra:build

#608 [DOC] Provide VSCode tips in the contributing guide
  .vscode/launch.json
  CONTRIBUTING.md
  docs/development/ide-configuration.md
Labels: documentation

#605 [DOC] Improve guidelines for contributors concerning the convention of the commit message
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation

#630 [DOC] improve guidelines for contributors
  CONTRIBUTING.md
  docs/development/README.md
Labels: documentation

#628 [DOC] Remove Jest plugin tips for VSCode
  docs/development/ide-configuration.md
Labels: documentation

#634 [DOC] highlight demo and examples live environments
  README.md
  docs/bpmn-support.adoc
  docs/intro.adoc
Labels: documentation

#633 [REFACTOR] more mxgraph-type-definitions usage
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-markers-01-positioning-1-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/fixtures/bpmn/non-regression/markers.01.positioning.bpmn
Labels: infra:refactoring

#635 [DOC] Update the license section of the readme
  README.md
Labels: documentation

#637 [DOC] fix activities table in bpmn support doc
  docs/bpmn-support.adoc
Labels: documentation

#631 [DOC] Update the contributing section of the readme
  README.md
Labels: documentation

#632 [DOC] Split contributing guide
  CONTRIBUTING.md
  README.md
  docs/development/README.md
  docs/development/development.md
  docs/development/maintainers.md
  docs/development/pull-request.md
Labels: documentation

#643 [DOC] Improve readme
  README.md
  docs/development/development.md
  docs/diagram-example.png
  docs/intro.adoc
Labels: documentation

#653 [DOC] Replace the diagram example for Hacktober Fest
  README.md
  docs/images/diagram-example.png
  docs/images/diagram-hacktoberfest-example.png
  docs/intro.adoc
  scripts/docs.js
Labels: documentation

#657 [DOC] order the development home page
  docs/development/README.md
Labels: documentation

#658 [FIX] fix a small english mistake in the readme
  README.md
Labels: documentation, external contribution :bust_in_silhouette:

#659 [FIX] Increase the default failure threshold in order to fix errors on local macOs
  test/e2e/bpmn.rendering.test.ts
Labels: bug, infra:build

#661 [DOC] Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#660 [TEST] Adding BpmnXmlParser test for BIC Cloud Design 6.2.0
  test/fixtures/bpmn/xml-parsing/bic-cloud-design-6_2_0-A.3.0-export.bpmn
  test/unit/component/parser/xml/BpmnXmlParser.bic-cloud-design-6_2_0.test.ts
Labels: external contribution :bust_in_silhouette:, infra:build

#662 [FEAT] ensure activity markers order
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/utils.ts
  src/model/bpmn/shape/ShapeBpmnMarkerKind.ts
  test/unit/component/mxgraph/shape/render/utils.test.ts
Labels: BPMN rendering, enhancement

#676 [DOC] improve guidelines for contributors
  docs/development/bpmn-support-how-to.md
  docs/development/ide-configuration.md
Labels: documentation

#671 [INFRA] Add more guidance in the PR template
  .github/pull_request_template.md
Labels: infra:repo

#636 [FEAT] add cli tool to parse bpmn files
  .gitignore
  package-lock.json
  package.json
  scripts/utils/README.md
  scripts/utils/parseBpmn.ts
  test/helpers/file-helper.ts
  utils.rollup.config.js
Labels: robustness

#674 [DOC] document bpmn parsing cli tool for testing
  docs/development/testing.md
Labels: documentation

#679 [INFRA] replace import '*' to import only what is used
  src/component/parser/xml/BpmnXmlParser.ts
Labels: infra:refactoring

#675 [FEAT] Detect Compensation Events
  .gitignore
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/model/bpmn/shape/ShapeBpmnEventKind.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/fixtures/bpmn/non-regression/events.bpmn
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
Labels: BPMN support, enhancement, external contribution :bust_in_silhouette:
