Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-11, with the labels that each got.

#855 [DOC] improve the release process
  docs/development/maintainers.md
Labels: documentation

#843 [FEAT] allow to configure the 'fit margin'
  src/component/BpmnVisualization.ts
  src/component/Options.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/demo/index.ts
  src/index.html
  src/static/css/main.css
  src/static/js/demo.js
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-0-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-0-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-0-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-100-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-100-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-100-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-20-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-20-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-20-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-50-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-50-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-50-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-null-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-null-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-null-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
Labels: BPMN diagram usability, enhancement

#856 [INFRA] Tests performance measurement
  .eslintignore
  docs/development/testing.md
  package.json
  test/e2e/helpers/perf-utils.ts
  test/e2e/helpers/visu-utils.ts
  test/e2e/performance/bpmn.load.performance.test.ts
  test/e2e/performance/bpmn.navigation.performance.test.ts
  test/e2e/performance/data/linux/data.js
  test/e2e/performance/data/macos/data.js
  test/e2e/performance/data/windows/data.js
  test/e2e/performance/index.html
  test/fixtures/bpmn/performance/B.2.0.bpmn
Labels: infra:build

#863 [INFRA] Run GitHub workflows on Ubuntu 20.04
  .github/workflows/build.yml
  .github/workflows/fill-gh-draft-release.yml
Labels: infra:build

#875 [REFACTOR] Change the name of the visual tests for the fit on load
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-center-diagram-horizontal-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-center-diagram-vertical-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-center-diagram-with-outside-flows-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-center-diagram-with-outside-labels-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-horizontal-diagram-horizontal-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-horizontal-diagram-vertical-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-horizontal-diagram-with-outside-flows-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-horizontal-diagram-with-outside-labels-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-horizontal-vertical-diagram-horizontal-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-horizontal-vertical-diagram-vertical-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-horizontal-vertical-diagram-with-outside-flows-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-horizontal-vertical-diagram-with-outside-labels-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-none-diagram-horizontal-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-none-diagram-vertical-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-none-diagram-with-outside-flows-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-none-diagram-with-outside-labels-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-vertical-diagram-horizontal-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-vertical-diagram-vertical-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-vertical-diagram-with-outside-flows-load-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-fit-type-vertical-diagram-with-outside-labels-load-1-snap.png
  test/e2e/diagram.rendering.test.ts
Labels: infra:refactoring

#878 [REFACTOR] Rename global options object
  src/bpmn-visualization.ts
  src/component/BpmnVisualization.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/options.ts
  src/demo/index.ts
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
  test/e2e/performance/bpmn.load.performance.test.ts
Labels: infra:refactoring

#882 [REFACTOR] Prepare the demo page for the fit after load
  src/demo/index.ts
  src/index.html
  src/static/js/demo.js
  test/e2e/helpers/visu-utils.ts
Labels: infra:refactoring

#865 [FEAT] improved zoom performance
  package-lock.json
  package.json
  rollup.config.js
  src/component/helpers/validators.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/options.ts
  src/navigation-diagram.html
  src/static/js/navigation-diagram.js
  test/e2e/bpmn.navigation.test.ts
  test/e2e/performance/data/linux/data.js
  test/e2e/performance/data/macos/data.js
  test/e2e/performance/data/windows/data.js
  test/unit/component/helpers/validators.test.ts
Labels: BPMN diagram usability

#867 [FEAT] Allow to update the viewport fit/zoom level after load
  src/component/BpmnVisualization.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/demo/index.ts
  src/index.html
  src/static/js/demo.js
  src/static/js/rendering-diagram.js
  test/e2e/diagram.rendering.test.ts
  test/e2e/performance/data/linux/data.js
  test/e2e/performance/data/macos/data.js
  test/e2e/performance/data/windows/data.js
Labels: BPMN diagram usability

#877 [REFACTOR] Use validators for fit margin
  src/component/helpers/validators.ts
  src/component/mxgraph/BpmnMxGraph.ts
  test/unit/component/helpers/validators.test.ts
Labels: infra:refactoring

#890 [DOC] Remove unnecessary action on release
  docs/development/maintainers.md
Labels: documentation

#889 [INFRA] more visible remaining manual edits in release-drafter template
  .github/release-drafter.yml
Labels: infra:repo

#880 [FEAT] Provide a CommonJS bundle
  README.md
  package.json
  rollup.config.js
Labels: enhancement, lib integration

#891 [REFACTOR] Merge html pages used in visual tests
  src/navigation-diagram.html
  src/rendering-diagram.html
  src/static/js/navigation-diagram.js
  src/static/js/rendering-diagram.js
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-initial-scale-after-zoom-in-and-zoom-out-3-times-1-snap.png
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-initial-scale-after-zoom-in-and-zoom-out-5-times-1-snap.png
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-zoom-in-1-snap.png
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-zoom-out-1-snap.png
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-mouse-panning-1-snap.png
  test/e2e/bpmn.navigation.test.ts
  test/e2e/performance/bpmn.load.performance.test.ts
  test/e2e/performance/bpmn.navigation.performance.test.ts
Labels: infra:refactoring

#893 [REFACTOR] update bpmn div id in test pages
  src/component/options.ts
  src/index.html
  src/lib-integration.html
  src/non-regression.html
  src/static/js/demo.js
  src/static/js/lib-integration.js
  src/static/js/non-regression.js
  test-bundle/lib-integration-iife.html
  test/e2e/bpmn.navigation.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
  test/e2e/mxGraph.view.test.ts
  test/e2e/performance/bpmn.navigation.performance.test.ts
Labels: infra:refactoring

#894 [REFACTOR] Use the diagram rendering html page on the visual tests for the fit margin on load
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-0-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-0-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-0-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-100-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-100-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-100-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-20-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-20-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-20-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-50-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-50-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-50-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-null-for-fit-type-center-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-null-for-fit-type-horizontal-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-fit-margin-margin-null-for-fit-type-vertical-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Center-margin-0-diagram-horizontal-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Center-margin-0-diagram-vertical-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Center-margin-0-diagram-with_outside_flows-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Center-margin-0-diagram-with_outside_labels-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Center-margin-20-diagram-with_outside_flows-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Center-margin-50-diagram-with_outside_flows-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Horizontal-margin-0-diagram-horizontal-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Horizontal-margin-0-diagram-vertical-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Horizontal-margin-0-diagram-with_outside_flows-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Horizontal-margin-0-diagram-with_outside_labels-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Horizontal-margin-20-diagram-horizontal-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Horizontal-margin-50-diagram-horizontal-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-HorizontalVertical-margin-0-diagram-horizontal-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-HorizontalVertical-margin-0-diagram-vertical-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-HorizontalVertical-margin-0-diagram-with_outside_flows-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-HorizontalVertical-margin-0-diagram-with_outside_labels-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-None-margin-0-diagram-horizontal-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-None-margin-0-diagram-vertical-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-None-margin-0-diagram-with_outside_flows-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-None-margin-0-diagram-with_outside_labels-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Vertical-margin-0-diagram-horizontal-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Vertical-margin-0-diagram-vertical-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Vertical-margin-0-diagram-with_outside_flows-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Vertical-margin-0-diagram-with_outside_labels-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Vertical-margin-20-diagram-vertical-snap.png
  test/e2e/__image_snapshots__/no-diagram-visual-regression-fit-type-Vertical-margin-50-diagram-vertical-snap.png
  test/e2e/diagram.rendering.test.ts
Labels: infra:refactoring

#895 [REFACTOR] Update the FitType API
  src/component/options.ts
  src/demo/index.ts
  src/static/js/demo.js
  src/static/js/rendering-diagram.js
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
Labels: infra:refactoring

#904 [DOC] clarify contributors and users documentation folders
  CONTRIBUTING.md
  README.md
  docs/contributors/README.md
  docs/contributors/bpmn-support-how-to.md
  docs/contributors/development.md
  docs/contributors/documentation-guidelines.md
  docs/contributors/ide-configuration.md
  docs/contributors/images/bpmn-icon-example.png
  docs/contributors/maintainers.md
  docs/contributors/mxgraph-integration.md
  docs/contributors/mxgraph-version-bump.md
  docs/contributors/pull-request.md
  docs/contributors/testing.md
  docs/development/README.md
  docs/users/architecture/00-index.adoc
  docs/users/architecture/architecture-overview.adoc
  docs/users/architecture/bpmn-internal-model.adoc
  docs/users/architecture/bpmn-parsing.adoc
  docs/users/architecture/development.adoc
  docs/users/architecture/images/architecture/architecture_overview.svg
  docs/users/architecture/images/architecture/internal-model.drawio
  docs/users/architecture/images/architecture/internal-model.svg
  docs/users/architecture/mxgraph-integration.adoc
  docs/users/bpmn-support.adoc
  docs/users/images/bpmn-diagram_navigation_C.2.0.gif
  docs/users/images/diagram-example.png
  docs/users/images/diagram-hacktoberfest-example.png
  docs/users/index.adoc
  docs/users/intro.adoc
  docs/users/overview.adoc
  scripts/docs.js
Labels: documentation

#907 [REFACTOR] don't paint the Manual Task icon twice
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-tasks-1-snap.png
Labels: infra:refactoring

#906 [INFRA] Add SonarCloud analysis on CI build
  .github/workflows/build.yml
  README.md
  package-lock.json
  package.json
  sonar-project.properties
  test/e2e/jest.config.js
  test/unit/jest.config.js
Labels: infra:repo

#896 [DEMO] Start reworking the demo page design
  docs/contributors/README.md
  docs/contributors/demo-page-css.md
  package-lock.json
  package.json
  postcss.config.js
  src/demo/component/DropFileUserInterface.ts
  src/index.html
  src/static/css/main.css
  src/static/css/styles.css
  src/static/css/tailwind.css
  src/static/img/logo_64x64.ico
  src/static/js/demo.js
  tailwind.config.js
Labels: example
