Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-07, with the labels that each got.

#371 [FEAT] Render Expanded Embedded Sub-Process
  docs/bpmn-support.adoc
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/shape/activity-shapes.ts
  test/unit/component/mxgraph/MxGraphRenderer.test.ts
Labels: BPMN rendering, enhancement

#380 [REFACTOR] move demo code to a dedicated folder
  src/demo/component/DropFileUserInterface.ts
  src/demo/helper.ts
  src/demo/index.ts
  src/index.ts
Labels: infra:refactoring

#377 [INFRA] watch static files
  package-lock.json
  package.json
  rollup.config.js
Labels: enhancement, infra:build

#373 [FEAT] Render Expanded Event Sub-Process
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
Labels: BPMN rendering, enhancement

#375 [INFRA] minimized build
  package-lock.json
  package.json
  rollup.config.js
  src/index.html
Labels: enhancement, example, infra:build

#381 [REFACTOR] mxgraph code reorganization
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/MarkerConfigurator.ts
  src/component/mxgraph/config/MxClientConfigurator.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
Labels: infra:refactoring

#378 [FEAT] Render Collapsed Embedded Sub-Process
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/extension/MxScaleFactorCanvas.ts
  src/component/mxgraph/shape/IconPainter.ts
  src/component/mxgraph/shape/activity-shapes.ts
Labels: BPMN rendering, enhancement

#379 [FEAT] Render Collapsed Event Sub-Process
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
Labels: BPMN rendering, enhancement

#385 [INFRA] improve release-drafter configuration and documentation
  .github/release-drafter.yml
  CONTRIBUTING.md
Labels: documentation

#387 [REFACTOR] rename BpmnVisualization main class
  src/component/BpmnVisualization.ts
  src/demo/index.ts
  test/e2e/mxGraph.dom.test.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#395 [FEAT] Display Text Annotation
  docs/bpmn-support.adoc
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/component/parser/json/BpmnJsonParser.text.annotation.test.ts
Labels: BPMN support, enhancement

#390 [REFACTOR] canvas support scale on Y direction
  src/component/mxgraph/shape/IconPainter.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/render-types.ts
Labels: infra:refactoring

#399 [FEAT] detect signal start event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/model/bpmn/shape/ShapeBpmnEventKind.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.start.signal.test.ts
Labels: BPMN support, enhancement, external contribution :bust_in_silhouette:

#391 [REFACTOR] BpmnCanvas manages icon style and some 'icon origin'
  src/component/mxgraph/shape/IconPainter.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/render-types.ts
Labels: infra:refactoring

#394 [FEAT] Render Message Flow with no message
  docs/bpmn-support.adoc
  src/component/mxgraph/config/StyleConfigurator.ts
Labels: BPMN rendering, enhancement

#405 [FEAT] Render Text Annotation
  docs/bpmn-support.adoc
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/text-annotation-shapes.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
Labels: BPMN rendering, enhancement

#398 [INFRA] Add tests about mxgraph edges positioning
  test/e2e/mxGraph.model.test.ts
Labels: infra:build

#407 [INFRA] sync file loader for parser tests
  test/e2e/mxGraph.dom.test.ts
  test/e2e/mxGraph.view.test.ts
  test/fixtures/bpmn/parser-test.bpmn
  test/helpers/file-helper.ts
  test/unit/component/parser/BpmnParser.test.ts
Labels: enhancement, infra:refactoring

#404 [REFACTOR] use `BpmnCanvas` in `IconPainter`
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/shape/IconPainter.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/render-types.ts
Labels: infra:refactoring

#411 [INFRA] sync file loader for model tests
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-badly-attached-elements.bpmn
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/fixtures/bpmn/model-coordinates-relative-to-pool.bpmn
Labels: infra:refactoring

#409 [INFRA] Bump mxgraph-type-definitions from 1.0.2 to 1.0.3
  package-lock.json
  package.json
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/MarkerConfigurator.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/shape/IconPainter.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/text-annotation-shapes.ts
Labels: dependencies

#413 [REFACTOR] restore temporary commented mxShape createCanvas code
  src/component/mxgraph/config/ShapeConfigurator.ts
Labels: infra:refactoring

#414 [REFACTOR] all icon size computation in BpmnCanvas
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  src/component/mxgraph/shape/render/render-types.ts
Labels: infra:refactoring

#415 [REFACTOR] add a way to inject and extend IconPainter
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: infra:refactoring

#416 [FEAT] Detect end signal event
  docs/bpmn-support.adoc
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
Labels: BPMN support, enhancement

#417 [FEAT] Detect Catch Signal Intermediate Event
  docs/bpmn-support.adoc
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
Labels: BPMN support, enhancement

#418 [FEAT] Detect Throw Signal Intermediate Event
  docs/bpmn-support.adoc
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
Labels: BPMN support, enhancement

#419 [FEAT] Detect Non-interrupting Signal Intermediate Event Attached to an Activity Boundary
  docs/bpmn-support.adoc
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
Labels: BPMN support, enhancement

#420 [FEAT] Detect Interrupting Signal Intermediate Event Attached to an Activity Boundary
  docs/bpmn-support.adoc
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
Labels: BPMN support, enhancement

#423 [BUG] Fix bad value of messageVisibleKind on Edge
  src/model/bpmn/edge/MessageVisibleKind.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
Labels: bug

#432 [DOC] Internal Architecture Model updated
  docs/architecture/images/architecture/internal-model.drawio
  docs/architecture/images/architecture/internal-model.svg
Labels: documentation

#426 [REFACTOR] single `painted icon size` computation function
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  src/component/mxgraph/shape/render/render-types.ts
  test/unit/component/mxgraph/render/BpmnCanvas.test.ts
Labels: infra:refactoring

#434 [DOC] improve the release how-to
  CONTRIBUTING.md
Labels: documentation

#438 [FEAT] Render Association
  docs/bpmn-support.adoc
  src/component/mxgraph/config/StyleConfigurator.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
Labels: BPMN rendering, enhancement

#408 [FEAT] Render signal event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: BPMN rendering, enhancement, external contribution :bust_in_silhouette:

#437 [REFACTOR] Replace string content for BPMN content by json object, in unit json tests
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/xml/BpmnXmlParser.ts
  src/component/parser/xml/bpmn-json-model/BPMN20.ts
  src/component/parser/xml/bpmn-json-model/BPMNDI.ts
  src/component/parser/xml/bpmn-json-model/DC.ts
  src/component/parser/xml/bpmn-json-model/DI.ts
  src/component/parser/xml/bpmn-json-model/Semantic.ts
  src/component/parser/xml/bpmn-json-model/baseElement/artifact.ts
  src/component/parser/xml/bpmn-json-model/baseElement/baseElement.ts
  src/component/parser/xml/bpmn-json-model/baseElement/conversation.ts
  src/component/parser/xml/bpmn-json-model/baseElement/correlation.ts
  src/component/parser/xml/bpmn-json-model/baseElement/data.ts
  src/component/parser/xml/bpmn-json-model/baseElement/expression.ts
  src/component/parser/xml/bpmn-json-model/baseElement/flowElement.ts
  src/component/parser/xml/bpmn-json-model/baseElement/flowNode/activity/activity.ts
  src/component/parser/xml/bpmn-json-model/baseElement/flowNode/activity/task.ts
  src/component/parser/xml/bpmn-json-model/baseElement/flowNode/choreographyActivity.ts
  src/component/parser/xml/bpmn-json-model/baseElement/flowNode/event.ts
  src/component/parser/xml/bpmn-json-model/baseElement/flowNode/gateway.ts
  src/component/parser/xml/bpmn-json-model/baseElement/input-output.ts
  src/component/parser/xml/bpmn-json-model/baseElement/loopCharacteristics.ts
  src/component/parser/xml/bpmn-json-model/baseElement/participant.ts
  src/component/parser/xml/bpmn-json-model/baseElement/resource.ts
  src/component/parser/xml/bpmn-json-model/baseElement/rootElement/collaboration.ts
  src/component/parser/xml/bpmn-json-model/baseElement/rootElement/eventDefinition.ts
  src/component/parser/xml/bpmn-json-model/baseElement/rootElement/globalTask.ts
  src/component/parser/xml/bpmn-json-model/baseElement/rootElement/rootElement.ts
  test/unit/component/parser/json/BpmnJsonParser.association.test.ts
  test/unit/component/parser/json/BpmnJsonParser.call.activity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.gateway.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.normal.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.embedded.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.task.test.ts
  test/unit/component/parser/json/BpmnJsonParser.text.annotation.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
  test/unit/component/parser/xml/BpmnXmlParser.activiti-5_14_1.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.adonis-np-8_0.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.bizagi-modeler-2_8_0_8.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.camuda-eclipse-plugin-3_0_0.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.miwg.test.ts
Labels: infra:refactoring

#439 [REFACTOR] Unit json test: Replace some tests by test templates
  test/unit/component/parser/json/BpmnJsonParser.association.test.ts
  test/unit/component/parser/json/BpmnJsonParser.call.activity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.gateway.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.normal.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.embedded.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.text.annotation.test.ts
Labels: infra:refactoring
