Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-10, with the labels that each got.

#622 [INFRA] upload html test results in GitHub Build workflow
  .github/workflows/build.yml
  jest.config.e2e.js
  jest.config.unit.js
  package-lock.json
  package.json
Labels: infra:build

#681 [INFRA] Add settings for gitpod
  .theia/settings.json
Labels: robustness

#689 [TEST] Update error message in e2e tests
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#690 [INFRA] Provide an IIFE bundle
  .gitignore
  package.json
  rollup.config.js
  test-bundle/lib-integration-iife.html
Labels: infra:build

#691 [INFRA] fix the `parseBpmn` utils build
  .github/workflows/build.yml
  scripts/utils/parseBpmn.ts
Labels: infra:build

#678 [TEST] Fix id convention in model-complete-semantic.bpmn
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
Labels: infra:refactoring

#694 [INFRA] Provide an ESM bundle
  package.json
  rollup.config.js
  src/bpmn-visualization.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:build

#686 [INFRA] Allow e2e tests to pass on gitpod
  .gitpod.Dockerfile
  .gitpod.yml
  jest-puppeteer.config.js
Labels: robustness

#687 [DOC] Add info about Gitpod
  docs/development/ide-configuration.md
Labels: documentation

#692 [INFRA] Prepare publish to npmjs
  package.json
Labels: infra:build

#688 [DOC] Add Gitpod shield in README
  README.md
Labels: documentation

#703 [DOC] add npm package badge
  README.md
Labels: documentation

#705 [DOC] rework icons in markdown
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/development/pull-request.md
Labels: documentation

#695 [TEST] Add expect model utils file
  test/e2e/ExpectModelUtils.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#707 [FEAT] Render compensation events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
Labels: BPMN rendering, enhancement, external contribution :bust_in_silhouette:, hacktoberfest-accepted

#709 [FEAT] Render business rule task
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-tasks-1-snap.png
Labels: BPMN rendering, enhancement, external contribution :bust_in_silhouette:, hacktoberfest-accepted

#706 [DOC] Add ESLint configuration steps for vscode
  .gitignore
  docs/development/ide-configuration.md
Labels: documentation, external contribution :bust_in_silhouette:, hacktoberfest-accepted

#712 [DOC] Fix Hacktoberfest image
  docs/images/diagram-hacktoberfest-example.png
Labels: documentation

#702 [TEST] Convert expectGeometry function to jest extension
  test/e2e/ExpectModelUtils.ts
Labels: infra:refactoring

#713 [REFACTOR] Replace 'any' by mxGraph's types in StyleConfigurator
  src/component/mxgraph/config/StyleConfigurator.ts
Labels: infra:refactoring

#704 [TEST] Convert expectFont function to jest extension
  test/e2e/ExpectModelUtils.ts
Labels: infra:refactoring

#721 [REFACTOR] Avoid global states in json parsers
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/ConverterUtil.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/GlobalTaskConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/model/bpmn/internal/shape/ShapeBpmnEventKind.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.trisotech-bpmn-modeler-6_2_0.test.ts
Labels: infra:refactoring

#714 [DOC] improve SVG icon integration how-to
  docs/development/bpmn-support-how-to.md
  docs/development/images/bpmn-icon-example.png
Labels: documentation

#740 [FEAT] Allow to hide controls (button, text) in the demo page
  src/index.html
  src/static/js/demo.js
Labels: enhancement, example

#722 [REFACTOR] rename parser creation functions
  scripts/utils/parseBpmn.ts
  src/component/BpmnVisualization.ts
  src/component/parser/BpmnParser.ts
  src/component/parser/json/BpmnJsonParser.ts
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: infra:refactoring

#733 [FEAT] Allow to navigate the BPMN diagram with panning
  docs/development/testing.md
  src/bpmn-visualization.ts
  src/component/BpmnVisualization.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/demo/index.ts
  src/navigation-diagram.html
  src/static/js/navigation-diagram.js
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-mouse-panning-1-snap.png
  test/e2e/bpmn.navigation.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
  test/fixtures/bpmn/navigation/simple-2_start_events-1_task.bpmn
Labels: BPMN diagram usability, enhancement

#749 [TEST] Add visual tests for label default position
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-labels-03-default-position-1-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/fixtures/bpmn/non-regression/labels.03.default.position.bpmn
Labels: infra:build

#753 [INFRA] Update release-drafter to use new label
  .github/release-drafter.yml
Labels: infra:repo

#720 [TEST] Convert expectModelContainsEdge function to jest extension
  src/component/mxgraph/config/StyleConfigurator.ts
  test/e2e/ExpectModelUtils.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#711 [INFRA] simplify e2e tests configuration in IDE
  .vscode/launch.json
  docs/development/ide-configuration.md
  package.json
  test/e2e/jest-puppeteer.config.js
  test/e2e/jest.config.js
  test/unit/jest.config.js
Labels: hacktoberfest-accepted, infra:build

#723 [INFRA] dev - Bump typescript from 3.9.7 to 4.0.3
  package-lock.json
  package.json
Labels: dependencies, hacktoberfest-accepted

#742 [TEST] Split jest extensions in different folders
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/matcherUtils.ts
  test/e2e/matchers/toBeCell/index.ts
  test/e2e/matchers/toBeEdge/index.ts
  test/e2e/matchers/withFont/index.ts
  test/e2e/matchers/withGeometry/index.ts
Labels: hacktoberfest-accepted, infra:refactoring

#743 [TEST] Convert expectModelContainsSequenceFlow function to jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/matcherUtils.ts
  test/e2e/matchers/toBeEdge/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#744 [TEST] Convert expectModelContainsMessageFlow function to jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeEdge/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#745 [TEST] Convert expectModelContainsAssociationFlow function to jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeEdge/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#748 [TEST] Replace expectModelNotContainCell by jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#746 [TEST] Convert expectModelContainsShape function to jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/matcherUtils.ts
  test/e2e/matchers/toBeCell/index.ts
  test/e2e/matchers/toBeEdge/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#754 [TEST] Introduce 'toBeCallActivity' Jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeCell/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#755 [TEST] Introduce 'toBeTask' Jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#769 [TEST] Convert expectModelContainsCellWithGeometry to jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/matcherUtils.ts
  test/e2e/matchers/toBeCell/index.ts
  test/e2e/matchers/toBeEdge/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/matchers/withGeometry/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#757 [TEST] Introduce 'toBeUserTask' Jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/bpmn.navigation.test.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#758 [TEST] Introduce 'toBeReceiveTask' Jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#770 [TEST] Remove unnecessary Jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/withFont/index.ts
Labels: infra:refactoring

#759 [TEST] Introduce 'toBeSendTask' Jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#760 [TEST] Introduce 'toBeManualTask' Jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#771 [DOC] Help debugging format errors of BPMN file in e2e tests
  docs/development/bpmn-support-how-to.md
Labels: documentation

#761 [TEST] Introduce 'toBeScriptTask' Jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#762 [TEST] Introduce 'toBeBusinessRuleTask' Jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#734 [FEAT] Allow to zoom the BPMN diagram with mouse wheel
  src/component/mxgraph/MxGraphConfigurator.ts
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-zoom-in-1-snap.png
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-zoom-out-1-snap.png
  test/e2e/bpmn.navigation.test.ts
Labels: BPMN diagram usability, enhancement

#763 [TEST] Convert expectModelContainsBpmnEvent, expectModelContainsBpmnBoundaryEvent & expectModelContainsBpmnStartEvent functions to jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#764 [TEST] Convert expectModelContainsSubProcess to jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#765 [TEST] Convert expectModelContainsPool to jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/matcherUtils.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#766 [TEST] Convert expectModelContainsLane to jest extension
  test/e2e/ExpectModelUtils.ts
  test/e2e/matchers/index.ts
  test/e2e/matchers/toBeShape/index.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#772 [FIX] Don't display elements of a Collapsed Sub-Process
  src/component/mxgraph/MxGraphRenderer.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-subprocess-03-collapsed-with-elements-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/fixtures/bpmn/non-regression/subprocess.03.collapsed.with.elements.bpmn
Labels: BPMN rendering, bug

#774 [FEAT] zoom to mouse pointer
  src/component/mxgraph/MxGraphConfigurator.ts
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-zoom-in-1-snap.png
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-zoom-out-1-snap.png
  test/e2e/bpmn.navigation.test.ts
Labels: BPMN diagram usability, enhancement

#784 [TEST] Fix e2e test for navigation on MacOS
  test/e2e/bpmn.navigation.test.ts
Labels: infra:build

#777 [FEAT] Detect cancel events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/model/bpmn/internal/shape/ShapeBpmnEventKind.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
Labels: BPMN support, enhancement, external contribution :bust_in_silhouette:, hacktoberfest-accepted

#785 [TEST] Remove unnecessary configuration in model e2e
  test/e2e/ExpectModelUtils.ts
  test/e2e/mxGraph.model.test.ts
Labels: infra:refactoring

#788 [DOC] Add info about npm publish
  docs/development/maintainers.md
Labels: documentation

#790 [FEAT] Detect all Conditional events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/model/bpmn/internal/shape/ShapeBpmnEventKind.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-badly-attached-elements.bpmn
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
Labels: BPMN support, enhancement, external contribution :bust_in_silhouette:

#789 [FEAT] Render cancel events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
Labels: BPMN rendering, enhancement, external contribution :bust_in_silhouette:, hacktoberfest-accepted

#811 [FEAT] detect all escalation events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/model/bpmn/internal/shape/ShapeBpmnEventKind.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-badly-attached-elements.bpmn
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
Labels: BPMN support, enhancement, external contribution :bust_in_silhouette:

#813 [INFRA] Add noImplicitThis rule
  src/demo/component/DropFileUserInterface.ts
  tsconfig.json
Labels: infra:build, infra:refactoring

#814 [TEST] Fix the visualization test for the Events on MacOS
  test/e2e/bpmn.rendering.test.ts
Labels: infra:build

#812 [FEAT] Render all escalation events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
  test/fixtures/bpmn/model-complete-semantic.bpmn
Labels: BPMN rendering, enhancement, external contribution :bust_in_silhouette:

#809 [TEST] Add missing shapes in model-badly-attached-elements.bpmn file
  test/fixtures/bpmn/model-badly-attached-elements.bpmn
Labels: infra:refactoring

#816 [DOC] Update the README with the integration examples by module format
  README.md
Labels: documentation

#815 [FEAT] Change mouse cursor while panning
  src/component/mxgraph/MxGraphConfigurator.ts
Labels: BPMN diagram usability, enhancement

#792 [FEAT] Render all Conditional Events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
Labels: BPMN rendering, enhancement, external contribution :bust_in_silhouette:, hacktoberfest-accepted

#810 [REFACTOR] Rename icon methods in IconPainter to reflect what is drawing
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: infra:refactoring

#818 [REFACTOR] Extract BpmnMxGraph class in separate file
  src/component/BpmnVisualization.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
Labels: infra:refactoring

#821 [FIX] Display boundary events of collapsed sub-process
  src/component/mxgraph/MxGraphRenderer.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-subprocess-03-collapsed-with-elements-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/fixtures/bpmn/non-regression/subprocess.03.collapsed.with.elements.bpmn
Labels: BPMN rendering, bug

#820 [INFRA] Show dependencies sizes in rollup build
  package-lock.json
  package.json
  rollup.config.js
Labels: infra:build

#822 [BUG] Fills the icon for Compensation Throw & End Events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
Labels: BPMN rendering, bug

#825 [INFRA] use @types/jest-image-snapshot instead of custom types
  package-lock.json
  package.json
  test/e2e/config/jest.image.ts
  test/e2e/helpers/visu-utils.ts
Labels: infra:build

#831 [TEST] Remove unnecessary duplicated dependency: jest-each
  package.json
Labels: infra:build

#837 [TEST] Rename visual tests for BPMN rendering
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-associations-and-annotations-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-events-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-flows-message-01-icons-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-flows-message-02-labels-and-complex-paths-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-flows-sequence-kinds-and-complex-paths-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-gateways-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-labels-01-general-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-labels-02-position-and-line-breaks-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-labels-03-default-position-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-markers-01-positioning-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-markers-02-different-tasks-sizes-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-pools-01-labels-and-lanes-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-pools-02-vertical-with-lanes-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-pools-03-black-box-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-subprocess-01-with-lanes-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-subprocess-02-with-inner-subprocess-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-subprocess-03-collapsed-with-elements-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-bpmn-elements-visual-regression-tasks-1-snap.png
  test/e2e/bpmn.rendering.test.ts
Labels: infra:refactoring

#838 [DEMO] Rename 'options' into 'globalOptions'
  src/demo/index.ts
  src/static/js/navigation-diagram.js
Labels: infra:refactoring

#832 [FEAT] fix proportions for zoom in and zoom out coherence
  src/component/mxgraph/BpmnMxGraph.ts
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-initial-scale-after-zoom-in-and-zoom-out-3-times-1-snap.png
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-initial-scale-after-zoom-in-and-zoom-out-5-times-1-snap.png
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-zoom-in-1-snap.png
  test/e2e/bpmn.navigation.test.ts
Labels: enhancement

#833 [FEAT] Fit horizontally & vertically on diagram load
  src/bpmn-visualization.ts
  src/component/BpmnVisualization.ts
  src/component/Options.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/demo/index.ts
  src/index.html
  src/static/css/main.css
  src/static/js/demo.js
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-horizontal-vertical-fit-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-horizontal-vertical-fit-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-horizontal-vertical-fit-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-horizontal-vertical-fit-with-outside-labels-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-none-fit-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-none-fit-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-none-fit-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-none-fit-with-outside-labels-diagram-1-snap.png
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
  test/fixtures/bpmn/diagram/horizontal.bpmn
  test/fixtures/bpmn/diagram/vertical.bpmn
  test/fixtures/bpmn/diagram/with_outside_flows.bpmn
  test/fixtures/bpmn/diagram/with_outside_labels.bpmn
Labels: BPMN diagram usability, enhancement

#834 [FEAT] Fit horizontally the viewport on diagram load
  src/component/Options.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/index.html
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-horizontal-fit-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-horizontal-fit-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-horizontal-fit-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-horizontal-fit-with-outside-labels-diagram-1-snap.png
  test/e2e/diagram.rendering.test.ts
Labels: BPMN diagram usability, enhancement

#835 [FEAT] Fit vertically the viewport on diagram load
  src/component/Options.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/index.html
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-vertical-fit-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-vertical-fit-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-vertical-fit-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-vertical-fit-with-outside-labels-diagram-1-snap.png
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
Labels: BPMN diagram usability, enhancement

#836 [FEAT] Fit center the viewport on diagram load
  src/component/Options.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/index.html
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-center-fit-horizontal-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-center-fit-vertical-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-center-fit-with-outside-flows-diagram-1-snap.png
  test/e2e/__image_snapshots__/diagram-rendering-test-ts-no-diagram-visual-regression-load-options-center-fit-with-outside-labels-diagram-1-snap.png
  test/e2e/diagram.rendering.test.ts
Labels: BPMN diagram usability, enhancement, question
