Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-05, with the labels that each got.

#222 [FEAT] render parallel gateway
  docs/bpmn-support.adoc
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/shape/gateway-shapes.ts
Labels: BPMN rendering, enhancement

#228 [FEAT] display timer intermediate catch event
  docs/bpmn-support-roadmap.adoc
  docs/bpmn-support.adoc
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/e2e/View.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.intermediate.catch.timer.test.ts
Labels: BPMN support, enhancement

#225 [FEAT] Display Throw Message Intermediate Event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/model/bpmn/shape/ShapeBpmnEventKind.ts
  test/unit/component/parser/json/BpmnJsonParser.event.intermediate.throw.message.test.ts
Labels: BPMN support, enhancement

#244 [DOC] Remove roadmap page
  README.md
  docs/bpmn-support-roadmap.adoc
  docs/bpmn-support.adoc
  docs/index.adoc
Labels: documentation

#235 [FEAT] Display Catch Message Intermediate Event
  docs/bpmn-support.adoc
  test/unit/component/parser/json/BpmnJsonParser.event.intermediate.catch.message.test.ts
Labels: BPMN support, enhancement

#233 [FEAT] Display Message Start Event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  test/unit/component/parser/json/BpmnJsonParser.event.start.message.test.ts
Labels: BPMN support, enhancement

#234 [FEAT] Display Message End Event
  docs/bpmn-support.adoc
  test/unit/component/parser/json/BpmnJsonParser.event.end.message.test.ts
Labels: BPMN support, enhancement

#226 [FEAT] improved rendering for exclusive gateway
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/extension/MxScaleFactorCanvas.ts
  src/component/mxgraph/shape/gateway-shapes.ts
Labels: enhancement

#227 [FEAT] Render Throw Message Intermediate Event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, enhancement

#252 [DOC] remove reference to changelog file
  CONTRIBUTING.md
Labels: documentation

#238 [FEAT] Render Catch Message Intermediate Event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, enhancement

#245 [FEAT] Display inclusive gateway
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleConfigurator.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/unit/component/parser/json/BpmnJsonParser.gateway.inclusive.test.ts
Labels: BPMN support, enhancement

#241 [FEAT] Render Message End Event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, enhancement

#242 [FEAT] Render Message Start Event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, enhancement

#246 [FEAT] Render inclusive gateway
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, enhancement

#250 [INFRA] introduce graph display end to end tests
  CONTRIBUTING.md
  jest-puppeteer.config.js
  test/e2e/mxGraph.model.test.ts
  test/e2e/mxGraph.view.test.ts
Labels: infra:build, rebase needed :collision:

#253 [INFRA] GH workflow: Fix random e2e tests false positives
  .github/workflows/build.yml
  jest-puppeteer.config.js
  jest.config.e2e.js
  package-lock.json
  package.json
  rollup.config.js
  test/e2e/mxGraph.model.test.ts
  test/e2e/mxGraph.view.test.ts
Labels: infra:build

#257 [FEAT] Display Conditional Sequence flow
  docs/architecture/images/architecture/internal-model.drawio
  docs/architecture/images/architecture/internal-model.svg
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleConfigurator.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/edge/SequenceFlowKind.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
Labels: BPMN support, enhancement

#263 [REFACTOR] avoid duplication of shape utility methods
  src/component/mxgraph/extension/MxScaleFactorCanvas.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/task-shapes.ts
Labels: infra:refactoring

#258 [FEAT] display call activity
  docs/architecture/bpmn-support-how-to.adoc
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleConfigurator.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/parser/json/BpmnJsonParser.call.activity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
Labels: BPMN support, enhancement

#264 [FEAT] Render Sequence Flow
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleConfigurator.ts
Labels: BPMN rendering, enhancement

#262 [FEAT] Render Default Sequence flow
  docs/bpmn-support.adoc
  src/component/mxgraph/MarkerConfigurator.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/service/MxGraphFactoryService.ts
  test/e2e/mxGraph.model.test.ts
Labels: BPMN rendering, enhancement

#268 [DOC] add references to the demo environment
  CONTRIBUTING.md
  README.md
  docs/intro.adoc
Labels: documentation

#270 [DOC] explain how and why signing the CLA
  CONTRIBUTING.md
Labels: documentation

#267 [FEAT] Render Conditional Sequence Flow
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleConfigurator.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/edge/SequenceFlowKind.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
Labels: BPMN rendering, enhancement

#266 [FEAT] New icon for user task
  README.md
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/task-shapes.ts
Labels: BPMN rendering, enhancement

#274 [DOC] fixed anchor in CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation, rebase needed :collision:

#275 [DOC] IntelliJ AsciiDoc plugin info in CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

#271 [FEAT] Display Receive task
  docs/bpmn-support.adoc
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/shape/task-shapes.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
  test/unit/component/parser/json/BpmnJsonParser.task.receive.test.ts
Labels: BPMN support, enhancement

#269 [DOC] architecture additions
  docs/architecture/00-index.adoc
  docs/architecture/architecture-overview.adoc
  docs/architecture/bpmn-support-how-to.adoc
  docs/architecture/images/architecture/architecture_overview.svg
  docs/architecture/mxgraph-integration.adoc
Labels: documentation
