Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-08, with the labels that each got.

#444 [BUG] Fix some types of BPMN Json model
  src/component/parser/json/converter/AbstractConverter.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/xml/bpmn-json-model/BPMN20.ts
  src/component/parser/xml/bpmn-json-model/BPMNDI.ts
  src/component/parser/xml/bpmn-json-model/baseElement/flowNode/event.ts
  test/unit/component/parser/json/BpmnJsonParser.association.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: bug

#446 [DOC] add new release steps
  CONTRIBUTING.md
Labels: documentation

#442 [FIX] A boundary event can only be attached to an activity
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/xml/bpmn-json-model/BPMN20.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/JsonBuilder.test.ts
  test/unit/component/parser/json/JsonBuilder.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: bug

#443 [REFACTOR] Remove json2typescript dependency
  docs/architecture/bpmn-parsing.adoc
  package-lock.json
  package.json
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/Definitions.ts
  src/component/parser/json/converter/AbstractConverter.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/JsonConvertConfig.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/Bounds.ts
  src/model/bpmn/edge/Waypoint.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/JsonBuilder.ts
Labels: dependencies, infra:refactoring

#448 [REFACTOR] no processing in MxGraphConfigurator constructor
  src/component/BpmnVisualization.ts
  src/component/mxgraph/MxGraphConfigurator.ts
Labels: infra:refactoring

#452 [TEST] use external BPMN files
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-coordinates-relative-to-pool-or-lane.bpmn
  test/fixtures/bpmn/xml-parsing/activiti-5_14_1-miwg-A.2.0.export.bpmn
  test/fixtures/bpmn/xml-parsing/adonis-np-8_0-miwg-A.2.1-export.bpmn
  test/fixtures/bpmn/xml-parsing/bizagi-modeler-2_8_0_8-A.2.0-export.bpmn
  test/fixtures/bpmn/xml-parsing/camuda-eclipse-plugin-3_0_0-A.2.0-export.bpmn
  test/fixtures/bpmn/xml-parsing/miwg-A.1.0.bpmn
  test/fixtures/bpmn/xml-parsing/miwg-A.1.0_french_special_characters.bpmn
  test/fixtures/bpmn/xml-parsing/miwg-A.1.0_html_special_characters.bpmn
  test/fixtures/bpmn/xml-parsing/miwg-A.1.0_japanese_special_characters.bpmn
  test/fixtures/bpmn/xml-parsing/miwg-A.2.1.bpmn
  test/helpers/file-helper.ts
  test/unit/component/parser/xml/BpmnXmlParser.activiti-5_14_1.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.adonis-np-8_0.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.bizagi-modeler-2_8_0_8.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.camuda-eclipse-plugin-3_0_0.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.miwg.test.ts
Labels: infra:refactoring

#456 [FEAT] Detect the Loop Marker of an activity
  docs/architecture/images/architecture/internal-model.drawio
  docs/architecture/images/architecture/internal-model.svg
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/xml/bpmn-json-model/baseElement/flowNode/activity/activity.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/shape/ShapeBpmnMarkerKind.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: BPMN support, enhancement

#445 [FEAT] Render Events which have the definition defined by the attribute eventDefinitionRef
  docs/bpmn-support.adoc
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/JsonBuilder.test.ts
  test/unit/component/parser/json/JsonBuilder.ts
Labels: BPMN rendering, BPMN support, enhancement

#457 [INFRA] Activate TypeScript strict type checking options: strictBindCallApply
  tsconfig.json
Labels: infra:build

#458 [INFRA] Activate `alwaysStrict` compiler option
  tsconfig.json
Labels: infra:build

#462 [FEAT] add favicon to the demo page
  rollup.config.js
  src/index.html
  src/static/img/favicon.ico
Labels: example

#459 [INFRA] Activate `strictFunctionTypes` compiler option
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  tsconfig.json
Labels: infra:build

#464 [FEAT] Render the Activity Loop Marker
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: BPMN rendering, enhancement

#463 [Refactor] Replace Arrays by Maps in the Converters
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
Labels: infra:refactoring

#467 [REFACTOR] activity markers style mutualization
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
Labels: infra:refactoring

#460 [INFRA] Activate `noImplicitAny` compiler option
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/ConverterUtil.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/xml/bpmn-json-model/baseElement/artifact.ts
Labels: infra:build

#468 [FEAT] Detect the Sequential Multi-instance Marker of an Activity
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeBpmnMarkerKind.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
Labels: BPMN support, enhancement

#469 [FEAT] Detect the Parallel Multi-instance Marker of an activity
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeBpmnMarkerKind.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
Labels: BPMN support, enhancement

#470 [REFACTOR] Mutualize marker and isExpanded fields in the internal model
  docs/architecture/images/architecture/internal-model.drawio
  docs/architecture/images/architecture/internal-model.svg
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/Shape.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeBpmnMarkerKind.ts
  test/e2e/mxGraph.model.test.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: infra:refactoring

#471 [FEAT] render activity multi instance markers
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: BPMN rendering, enhancement

#461 [INFRA] do not minify public API in the bundle
  rollup.config.js
Labels: infra:build, lib integration

#476 [INFRA] setup dependabot configuration
  .github/dependabot.yml
Labels: infra:build

#480 [INFRA] fix dependabot configuration
  .github/dependabot.yml
Labels: infra:build

#472 [INFRA] release-drafter consider new labels
  .github/release-drafter.yml
Labels: infra:repo

#474 [FIX] Detect expanded/collapsed Call Activity calling Process
  docs/architecture/images/architecture/internal-model.drawio
  docs/architecture/images/architecture/internal-model.svg
  docs/bpmn-support.adoc
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/GlobalTaskConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeBpmnCallActivityKind.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: bug

#481 [FEAT] Render a Expanded/Collapsed Call Activity calling a Process
  src/component/mxgraph/shape/activity-shapes.ts
Labels: BPMN rendering, enhancement

#489 [REFACTOR] Call position methods in PaintParameter
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  src/component/mxgraph/shape/render/render-types.ts
Labels: infra:refactoring

#496 [INFRA] run dependabot on weekly basis
  .github/dependabot.yml
Labels: infra:build

#495 [REFACTOR] simplify BpmnCanvas creation in IconPainter
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: infra:refactoring

#501 [FEAT] Detect Throw & Catch Link Intermediate Events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/model/bpmn/shape/ShapeBpmnEventKind.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
Labels: BPMN support, enhancement

#503 [FEAT] Render Throw & Catch Link Intermediate Events
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: BPMN rendering, enhancement

#504 [FEAT] Detect Error End Event & Error Interrupting Boundary Event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/model/bpmn/shape/ShapeBpmnEventKind.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
Labels: BPMN support, enhancement

#505 [FEAT] Render Error End Event & Error Interrupting Boundary Event
  docs/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: BPMN rendering, enhancement

#507 [FEAT] Detect Send task
  docs/bpmn-support.adoc
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
Labels: BPMN support, enhancement

#508 [FEAT] Render Send task
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
Labels: BPMN rendering, enhancement

#510 [FEAT] only consider the first BPMNDiagram from the BPMN source
  src/component/parser/json/converter/DiagramConverter.ts
  test/unit/component/parser/json/BpmnJsonParser.diagram.test.ts
Labels: BPMN rendering, enhancement

#512 [FEAT] Render Non-instantiating Receive task
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
Labels: BPMN rendering, enhancement

#513 [FEAT] Detect Events on Non Event Sub-Process
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/xml/bpmn-json-model/baseElement/flowNode/activity/activity.ts
  test/fixtures/bpmn/xml-parsing/trisotech-bpmn-modeler-6.2.0_A.4.0-export.bpmn
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.trisotech-bpmn-modeler-6_2_0.test.ts
Labels: BPMN rendering, enhancement

#514 [FEAT] detect activities and gateways in subprocess
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.trisotech-bpmn-modeler-6_2_0.test.ts
Labels: BPMN support, enhancement

#517 [FEAT] detect sequence flows of subprocess
  src/component/parser/json/converter/ProcessConverter.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.trisotech-bpmn-modeler-6_2_0.test.ts
Labels: BPMN support, enhancement

#519 [FEAT] Detect Error Start Interrupting Event on Event Sub-Processes
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
Labels: BPMN support, enhancement

#521 [DOC] add link to examples and BPMN test diagrams
  README.md
  docs/intro.adoc
Labels: documentation

#522 [REFACTOR] painting code easier to extend
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: lib extensibility

#520 [FEAT] Render Pool when Participant references a Process
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/model/bpmn/shape/Shape.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: BPMN rendering, enhancement

#525 [TEST] Organize elements in model_complete_semantic.bpmn
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
Labels: infra:refactoring

#534 [TEST] increase puppeteer server launch timeout
  CONTRIBUTING.md
  jest-puppeteer.config.js
Labels: infra:build

#527 [INFRA] dev - Bump typescript from 3.8.2 to 3.9.7
  package-lock.json
  package.json
Labels: dependencies

#528 [INFRA] Bump fast-xml-parser from 3.16.0 to 3.17.4
  package-lock.json
  package.json
Labels: dependencies

#536 [FEAT] Render Instantiating Receive Task
  src/component/mxgraph/shape/activity-shapes.ts
Labels: BPMN rendering, enhancement

#538 [FEAT] Center Activity Markers
  docs/bpmn-support.adoc
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/shape/activity-shapes.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-markers-1-snap.png
Labels: BPMN rendering, enhancement

#535 [INFRA] dev - Bump mxgraph-type-definitions from 1.0.3 to 1.0.4
  package-lock.json
  package.json
  src/component/BpmnVisualization.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  tsconfig.json
Labels: dependencies

#540 [TEST] improve visualization non regression tests
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/demo/index.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-labels-01-general-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-labels-02-position-and-line-breaks-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-message-flows-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-pools-01-labels-and-lanes-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-pools-02-vertical-1-snap.png
  test/e2e/bpmn-rendering.test.ts
  test/fixtures/bpmn/non-regression/labels.01.general.bpmn
  test/fixtures/bpmn/non-regression/labels.02.position-and-line-breaks.bpmn
  test/fixtures/bpmn/non-regression/message_flows.bpmn
  test/fixtures/bpmn/non-regression/pools.01.labels-and-lanes.bpmn
  test/fixtures/bpmn/non-regression/pools.02.vertical.bpmn
  test/helpers/file-helper.ts
  test/unit/file-helper.test.ts
Labels: infra:build

#539 [FEAT] use fixed size Activity Marker
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-markers-01-positioning-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-markers-02-different-tasks-sizes-1-snap.png
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-markers-1-snap.png
  test/fixtures/bpmn/non-regression/markers.01.positioning.bpmn
  test/fixtures/bpmn/non-regression/markers.02.different.tasks.sizes.bpmn
Labels: BPMN rendering, enhancement

#479 [FIX] demo code does not interfere with lib integration
  rollup.config.js
  src/component/mxgraph/shape/render/index.ts
  src/demo/index.ts
  src/index-non-regression.html
  src/index.html
  src/index.ts
  src/lib-integration.html
  src/model/bpmn/shape/index.ts
  src/static/js/demo.js
  src/static/js/lib-integration.js
  src/static/js/non-regression.js
  test/e2e/bpmn-rendering.test.ts
  test/e2e/mxGraph.view.test.ts
  test/fixtures/bpmn/simple-start-only.bpmn
Labels: bug, lib integration

#543 [TEST] improve 'events' visual tests
  package-lock.json
  package.json
  src/demo/index.ts
  src/index-non-regression.html
  src/static/js/demo.js
  src/static/js/non-regression.js
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
  test/e2e/bpmn-rendering.test.ts
  test/e2e/mxGraph.view.test.ts
  test/fixtures/bpmn/non-regression/events.bpmn
  test/helpers/file-helper.ts
Labels: infra:build

#549 [REFACTOR] demo and test code simplification
  jest.config.e2e.js
  rollup.config.js
  src/demo/index.ts
  src/non-regression.html
  src/static/js/demo.js
  src/static/js/non-regression.js
  test/e2e/bpmn.rendering.test.ts
  test/e2e/config/jest.globals.ts
  test/e2e/config/jest.image.ts
Labels: infra:refactoring

#551 [FEAT] render black box pool
  docs/architecture/mxgraph-integration.adoc
  docs/bpmn-support.adoc
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-pools-03-black-box-1-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/fixtures/bpmn/non-regression/pools.03.black-box.bpmn
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
Labels: BPMN rendering, enhancement

#553 [FIX] don't create extra svg block in the demo page
  src/demo/index.ts
  src/static/js/demo.js
Labels: bug, example

#550 [FEAT] Non-interrupting Start Events
  docs/architecture/images/architecture/internal-model.drawio
  docs/architecture/images/architecture/internal-model.svg
  docs/bpmn-support.adoc
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/e2e/__image_snapshots__/bpmn-rendering-test-ts-no-visual-regression-events-1-snap.png
  test/e2e/mxGraph.model.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
Labels: BPMN rendering, BPMN support

#554 [DOC] improve the release description in the Contributing guide
  CONTRIBUTING.md
Labels: documentation

#562 [FIX] Add default value of failureThreshold to fix macOs tests
  test/e2e/bpmn.rendering.test.ts
Labels: infra:build
