Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-03, with the labels that each got.

#16 [infra] add github action for the build
  .github/workflows/build.yml
  README.md
Labels: infra

#15 [infra] add pull request template
  .github/pull_request_template.md
Labels: infra

#18 Basic setup: rollup, TS
  .github/workflows/build.yml
  .gitignore
  package-lock.json
  package.json
  rollup.config.js
  src/bpmn-visu-js/greet.ts
  src/bpmn-visu-js/main.ts
  src/index.html
  src/index.ts
  tsconfig.json
Labels: infra

#19 Basic setup: linting
  .eslintrc.js
  .prettierrc.js
  package-lock.json
  package.json
  src/bpmn-visu-js/greet.ts
  src/bpmn-visu-js/main.ts
  src/index.ts
Labels: infra

#17 Basic setup: documentation
  README.md
Labels: documentation

#26 [Infra] mxGraph library added
  package-lock.json
  package.json
  rollup.config.js
  src/bpmn-visu-js/main.ts
  src/bpmn-visu-js/mx-graph-visu.ts
Labels: infra

#28 [infra] package.json: update name and version + add description
  README.md
  package.json
Labels: documentation, infra

#30 [documentation] Update CONTRIBUTING.md - code style guidline added
  CONTRIBUTING.md
Labels: documentation

#27 [Infra] initiate graph
  src/bpmn-visu-js/greet.ts
  src/bpmn-visu-js/main.ts
  src/bpmn-visu-js/mx-graph-visu.ts
  src/component/graph/Graph.ts
  src/config/main.ts
  src/index.html
  src/index.ts
Labels: infra

#31 [FEAT] Parse start events from XML content
  .github/workflows/build.yml
  .gitignore
  .nycrc
  package-lock.json
  package.json
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/Definitions.ts
  src/component/parser/json/converter/AbstractConverter.ts
  src/component/parser/json/converter/ShapeConverter.ts
  src/component/parser/json/converter/ShapeModelConverter.ts
  src/component/parser/xml/BpmnXmlParser.ts
  src/model/bpmn/shape/Shape.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/component/parser/json/BpmnJsonParser.test.ts
  test/component/parser/xml/BpmnXmlParser.test.ts
  tsconfig.json
Labels: enhancement

#33 [Doc] Update contributing guide to test
  CONTRIBUTING.md
  README.md
Labels: documentation

#43 Add advices in contributing guide
  CONTRIBUTING.md
Labels: documentation

#44 Parse BPMN Bounds
  src/component/parser/xml/BpmnXmlParser.ts
  src/model/bpmn/Bounds.ts
  src/model/bpmn/shape/Shape.ts
  test/component/parser/json/BpmnJsonParser.test.ts
  test/component/parser/xml/BpmnXmlParser.test.ts
Labels: bpmn support, enhancement

#52 Add eslintignore
  .eslintignore
Labels: infra:build

#42 [FEAT] display start event
  package-lock.json
  package.json
  rollup.config.js
  src/component/graph/Graph.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphConverter.ts
  src/config/main.ts
  src/index.html
  src/static/css/main.css
Labels: bpmn support, enhancement

#50 [FEAT] Display user task
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/parser/json/converter/AbstractConverter.ts
  src/component/parser/json/converter/ShapeConverter.ts
  src/component/parser/json/converter/ShapeModelConverter.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/component/parser/json/BpmnJsonParser.test.ts
  test/component/parser/xml/BpmnXmlParser.test.ts
Labels: bpmn support, enhancement

#53 [INFRA] Fix lint & lint-check command on MacOs
  .github/workflows/build.yml
  package.json
Labels: infra:build

#57 [FEAT] introduce support of sequence flows
  src/component/graph/Graph.ts
  src/component/mxgraph/MxGraphConverter.ts
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/Definitions.ts
  src/component/parser/json/converter/EdgeConverter.ts
  src/component/parser/json/converter/EdgeModelConverter.ts
  src/model/bpmn/edge/Edge.ts
  src/model/bpmn/edge/SequenceFlow.ts
  test/component/parser/json/BpmnJsonParser.test.ts
  test/component/parser/xml/BpmnXmlParser.test.ts
Labels: bpmn support, enhancement

#49 [INFRA] Update the configuration of the coverage
  .nycrc.json
  package-lock.json
  package.json
Labels: infra:build

#62 [INFRA] lint-check: fail on warnings + fix warnings
  package.json
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/AbstractConverter.ts
  src/component/parser/json/converter/EdgeConverter.ts
  src/component/parser/json/converter/EdgeModelConverter.ts
  src/component/parser/json/converter/ShapeConverter.ts
  src/component/parser/json/converter/ShapeModelConverter.ts
  src/config/main.ts
  test/component/parser/xml/BpmnXmlParser.test.ts
Labels: Infra:build

#58 [TEST] sequence flows xml parsing: remove extra console logs
  test/component/parser/xml/BpmnXmlParser.test.ts
Labels: Infra:build

#59 [FEAT] Lock cells & edge labels
  src/component/graph/Graph.ts
Labels: Enhancement

#61 [FEAT] Possible to display Start event & User Task without name
  test/component/parser/json/BpmnJsonParser.test.ts
Labels: BPMN support, Enhancement

#60 [DOC] manual release procedure
  .github/workflows/build.yml
  README.md
Labels: Documentation

#66 Refactor: introduce high level parsing and rendering
  src/component/graph/Graph.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/parser/BpmnParser.ts
  src/model/bpmn/BpmnModel.ts
  test/component/parser/BpmnParser.test.ts
  test/component/parser/json/BpmnJsonParser.test.ts
Labels: Robustness

#96 [FEAT] Parse Lane
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/Definitions.ts
  src/component/parser/json/converter/EdgeModelConverter.ts
  src/component/parser/json/converter/ShapeConverter.ts
  src/component/parser/json/converter/ShapeModelConverter.ts
  src/model/bpmn/Bounds.ts
  src/model/bpmn/BpmnModel.ts
  src/model/bpmn/shape/Shape.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/component/parser/BpmnParser.test.ts
  test/component/parser/json/BpmnJsonParser.lane.test.ts
  test/component/parser/json/BpmnJsonParser.test.ts
  test/component/parser/json/JsonTestUtils.ts
  test/component/parser/xml/BpmnXmlParser.lane.test.ts
  test/component/parser/xml/BpmnXmlParser.test.ts
  test/component/parser/xml/XMLTestUtils.ts
Labels: BPMN support, Enhancement

#103 Refactor: detection based on ShapeBpmnElementKind enum only
  docs/bpmn-support-how-to.adoc
  src/component/parser/json/converter/ShapeModelConverter.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
Labels: Documentation, Robustness

#100 [FEAT] Display Lane
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
Labels: BPMN rendering, Enhancement

#111 [DOC] describe how to see a demo of the project
  README.md
Labels: Documentation

#104 Refactor: Merge converters to optimize parsing
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/Definitions.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/EdgeConverter.ts
  src/component/parser/json/converter/EdgeModelConverter.ts
  src/component/parser/json/converter/SemanticConverter.ts
  src/component/parser/json/converter/ShapeConverter.ts
  src/component/parser/json/converter/ShapeModelConverter.ts
  src/model/bpmn/BpmnModel.ts
  src/model/bpmn/edge/Edge.ts
Labels: infra:refactoring

#105 Refactor: Split tests
  test/component/parser/json/BpmnJsonParser.lane.test.ts
  test/component/parser/json/BpmnJsonParser.sequenceFlow.test.ts
  test/component/parser/json/BpmnJsonParser.startEvent.test.ts
  test/component/parser/json/BpmnJsonParser.test.ts
  test/component/parser/json/BpmnJsonParser.userTask.test.ts
  test/component/parser/json/JsonTestUtils.ts
  test/component/parser/xml/BpmnXmlParser.process.test.ts
  test/component/parser/xml/BpmnXmlParser.sequenceFlow.test.ts
  test/component/parser/xml/BpmnXmlParser.startEvent.test.ts
  test/component/parser/xml/BpmnXmlParser.test.ts
  test/component/parser/xml/BpmnXmlParser.userTask.test.ts
Labels: infra:refactoring

#106 [FEAT] Display Parallel gateway
  src/component/mxgraph/MxGraphConfigurator.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/component/parser/json/BpmnJsonParser.parallelGateway.test.ts
  test/component/parser/xml/BpmnXmlParser.parallelGateway.test.ts
Labels: BPMN support, Enhancement

#117 [INFRA] Replace Mocha, Chai, Nyc by Jest
  .nycrc.json
  jest.config.unit.js
  package-lock.json
  package.json
  test/component/parser/json/JsonTestUtils.ts
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/BpmnJsonParser.parallelGateway.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.test.ts
  test/unit/component/parser/json/BpmnJsonParser.startEvent.test.ts
  test/unit/component/parser/json/BpmnJsonParser.userTask.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
  test/unit/component/parser/xml/BpmnXmlParser.lane.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.parallelGateway.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.process.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.sequenceFlow.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.startEvent.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.userTask.test.ts
  test/unit/component/parser/xml/XMLTestUtils.ts
Labels: Infra:build

#107 [FEAT] Display Exclusive gateway
  src/component/mxgraph/MxGraphConfigurator.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/unit/component/parser/json/BpmnJsonParser.exclusiveGateway.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.exclusiveGateway.test.ts
Labels: BPMN support, Enhancement

#112 Refactor: jsonConvert as singleton
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/JsonParser.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/SemanticConverter.ts
Labels: infra:refactoring

#115 [INFRA] fix license declaration in package.json
  package.json
Labels: Infra:build

#118 [INFRA] Refactored usage of mxGraphFactory
  src/component/graph/Graph.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/service/MxGraphFactoryService.ts
Labels: Question :question:, Question answered :heavy_check_mark:, infra:refactoring

#121 [INFRA] Rename Semantic in Process
  src/component/parser/json/Definitions.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/edge/Edge.ts
Labels: infra:refactoring

#119 [FEAT] Display task
  src/component/mxgraph/MxGraphConfigurator.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/unit/component/parser/json/BpmnJsonParser.task.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.task.test.ts
Labels: BPMN support, Enhancement

#65 [DOC] describe bpmn support roadmap
  README.md
  docs/bpmn-support-roadmap.adoc
Labels: Documentation

#124 [FEAT] Display End event
  docs/bpmn-support-roadmap.adoc
  src/component/mxgraph/MxGraphConfigurator.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/unit/component/parser/json/BpmnJsonParser.endEvent.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.endEvent.test.ts
Labels: BPMN support, Enhancement

#120 [FEAT] display pool
  docs/bpmn-support-roadmap.adoc
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/parser/json/Definitions.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/BpmnModel.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
  test/unit/component/parser/xml/BpmnXmlParser.lane.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.process.test.ts
  test/unit/component/parser/xml/XMLTestUtils.ts
Labels: BPMN support

#116 [INFRA] e2e tests jest puppeteer
  .github/workflows/build.yml
  CONTRIBUTING.md
  jest-puppeteer.config.js
  jest.config.e2e.js
  package-lock.json
  package.json
  rollup.config.js
  src/component/graph/Graph.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/service/MxGraphFactoryService.ts
  test/e2e/View.test.ts
  tsconfig.json
Labels: Infra:build

#128 [DOC] fix releases link in README
  README.md
Labels: Documentation

#123 [FEAT] Display Waypoints of SequenceFlow
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/edge/Edge.ts
  src/model/bpmn/edge/Waypoint.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
  test/unit/component/parser/xml/BpmnXmlParser.sequenceFlow.test.ts
Labels: BPMN support, Enhancement

#135 [FEAT] Render end event
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/shape/EndEventShape.ts
  src/service/MxGraphFactoryService.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, Enhancement

#130 [INFRA] add tests about mxgraph cells positioning
  src/service/MxGraphFactoryService.ts
  test/e2e/View.test.ts
Labels: Infra:build, Robustness

#148 Refactor: simplify jsonconvert retrieval
  src/component/graph/Graph.ts
  src/component/parser/BpmnParser.ts
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/AbstractConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/JsonConvertConfig.ts
  src/component/parser/json/converter/ProcessConverter.ts
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: Question answered :heavy_check_mark:, infra:refactoring

#153 Refactor: the Json Parser Process object is now an empty type
  src/component/parser/json/Definitions.ts
  src/component/parser/json/converter/ProcessConverter.ts
Labels: infra:refactoring

#149 [FEAT] decode xml entities in bpmn input source
  package-lock.json
  package.json
  rollup.config.js
  src/component/parser/xml/BpmnXmlParser.ts
  test/unit/component/parser/xml/BpmnXmlParser.exclusiveGateway.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.parallelGateway.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.process.test.ts
  test/unit/component/parser/xml/XMLTestUtils.ts
Labels: BPMN rendering, Question answered :heavy_check_mark:

#122 [DOC] BPMN xml parsing
  README.md
  docs/architecture/bpmn-parsing.adoc
  docs/bpmn-support-how-to.adoc
Labels: Documentation, Feedback integrated, Question answered :heavy_check_mark:
