Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-04, with the labels that each got.

#159 [FEAT] display only None Start Event
  src/component/parser/json/EventDefinition.ts
  src/component/parser/json/converter/ProcessConverter.ts
  test/unit/component/parser/json/BpmnJsonParser.startEvent.test.ts
Labels: BPMN support, Feedback integrated

#162 [DOC] Add the architecture documentation for the internal model
  README.md
  docs/architecture/Internal model.drawio
  docs/architecture/Internal model.svg
  docs/architecture/internal-model.adoc
Labels: Documentation

#165 [INFRA] build gh workflow: temporarily disable e2e tests
  .github/workflows/build.yml
Labels: Infra:build

#161 [INFRA] build gh wf: use 'npm ci' instead of 'npm install'
  .github/workflows/build.yml
Labels: Infra:build

#163 [FEAT] display service task
  docs/bpmn-support-how-to.adoc
  docs/bpmn-support-roadmap.adoc
  src/component/mxgraph/StyleConfigurator.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  test/unit/component/parser/json/BpmnJsonParser.event.end.none.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.start.none.test.ts
  test/unit/component/parser/json/BpmnJsonParser.gateway.exclusive.test.ts
  test/unit/component/parser/json/BpmnJsonParser.gateway.parallel.test.ts
  test/unit/component/parser/json/BpmnJsonParser.task.abstract.test.ts
  test/unit/component/parser/json/BpmnJsonParser.task.service.test.ts
  test/unit/component/parser/json/BpmnJsonParser.task.user.test.ts
Labels: BPMN support

#160 [FEAT] display only None End Event
  src/component/parser/json/converter/ProcessConverter.ts
  test/unit/component/parser/json/BpmnJsonParser.event.end.none.test.ts
Labels: BPMN support

#140 [FEAT] Drag & Drop BPMN file
  src/component/ui_ux/DropFileUserInterface.ts
  src/config/main.ts
  src/index.html
  src/static/css/main.css
Labels: Example

#173 [INFRA] bump 'minimist' dev dependency
  package-lock.json
  package.json
Labels: Dependencies :arrows_counterclockwise:

#171 [INFRA] update ts-mxgraph dependency url
  package.json
Labels: Infra:build

#172 [DOC] update links after repository move and renaming
  CONTRIBUTING.md
  README.md
  docs/bpmn-support-roadmap.adoc
  package.json
  src/index.html
  test/e2e/View.test.ts
Labels: Documentation

#166 [REFACTOR] rename Graph into BpmnVisu
  src/component/BpmnVisu.ts
  src/config/main.ts
  test/e2e/View.test.ts
Labels: infra:refactoring

#168 [DOC] list supported BPMN elements
  docs/bpmn-support-roadmap.adoc
  docs/bpmn-support.adoc
Labels: Documentation

#169 [REFACTOR] use mxgraph types instead of any
  src/component/BpmnVisu.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/ShapeConfigurator.ts
Labels: infra:refactoring

#175 [DOC] html doc generation
  .github/workflows/build.yml
  .gitignore
  README.md
  docs/architecture/00-index.adoc
  docs/architecture/bpmn-internal-model.adoc
  docs/architecture/bpmn-parsing.adoc
  docs/architecture/bpmn-support-how-to.adoc
  docs/architecture/images/architecture/internal-model.drawio
  docs/architecture/images/architecture/internal-model.svg
  docs/architecture/internal-model.adoc
  docs/bpmn-support-roadmap.adoc
  docs/bpmn-support.adoc
  docs/build-doc.bash
  docs/index.adoc
  docs/intro.adoc
Labels: Documentation

#181 [DOC] explain jest usage in the contributing guide
  CONTRIBUTING.md
Labels: Documentation

#179 [INFRA] add a GH Workflow to build and publish documentation
  .github/workflows/build.yml
  .github/workflows/generate-documentation.yml
Labels: Documentation, Infra:repo

#170 [FEAT] Display Terminate end event
  docs/architecture/bpmn-support-how-to.adoc
  docs/bpmn-support-roadmap.adoc
  docs/bpmn-support.adoc
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/parser/json/converter/AbstractConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/shape/ShapeBpmnElement.ts
  src/model/bpmn/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/shape/ShapeBpmnEventKind.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/unit/component/parser/json/BpmnJsonParser.event.end.none.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.end.terminate.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.start.none.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
  test/unit/component/parser/xml/BpmnXmlParser.event.end.terminate.test.ts
  test/unit/component/parser/xml/XMLTestUtils.ts
Labels: BPMN support, Enhancement

#183 [FEAT] render terminate end event
  docs/bpmn-support.adoc
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/shape/EndEventShape.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, enhancement

#189 [DOC] move all development info to the contributing guide
  CONTRIBUTING.md
  README.md
  docs/architecture/00-index.adoc
Labels: documentation

#190 [TEST] Update the tests of BpmnXmlParser
  docs/architecture/bpmn-support-how-to.adoc
  test/unit/component/parser/xml/BpmnXmlParser.activiti-5_14_1.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.adonis-np-8_0.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.bizagi-modeler-2_8_0_8.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.camuda-eclipse-plugin-3_0_0.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.endEvent.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.event.end.terminate.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.exclusiveGateway.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.lane.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.miwg.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.parallelGateway.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.process.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.sequenceFlow.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.startEvent.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.task.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.userTask.test.ts
  test/unit/component/parser/xml/XMLTestUtils.ts
Labels: infra:refactoring

#204 [INFRA] Prohibit to log with console.xxx (except console.error)
  .eslintrc.js
  src/component/parser/json/converter/AbstractConverter.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/ui_ux/DropFileUserInterface.ts
Labels: infra:refactoring

#191 [DOC] improve html rendering
  docs/bpmn-support-roadmap.adoc
  docs/bpmn-support.adoc
  docs/index.adoc
Labels: documentation

#207 [FEAT] Render Task
  docs/bpmn-support.adoc
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/shape/task-shapes.ts
  src/service/MxGraphFactoryService.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, enhancement

#209 [FEAT] Render Exclusive Gateway
  docs/bpmn-support.adoc
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/model/bpmn/shape/ShapeUtil.ts
  src/service/MxGraphFactoryService.ts
Labels: BPMN rendering, enhancement

#208 [FEAT] Render Service task
  README.md
  docs/bpmn-support.adoc
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/extension/MxScaleFactorCanvas.ts
  src/component/mxgraph/shape/task-shapes.ts
  src/model/bpmn/shape/ShapeUtil.ts
  test/e2e/View.test.ts
  test/unit/model/bpmn/shape/ShapeUtil.test.ts
Labels: BPMN rendering, enhancement

#210 [FEAT] render user task
  README.md
  docs/architecture/bpmn-support-how-to.adoc
  docs/bpmn-support.adoc
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/extension/MxScaleFactorCanvas.ts
  src/component/mxgraph/shape/task-shapes.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, enhancement

#224 [FEAT] Render Throw None Intermediate Event
  docs/bpmn-support.adoc
  src/component/mxgraph/ShapeConfigurator.ts
  src/component/mxgraph/StyleConfigurator.ts
  src/component/mxgraph/shape/event-shapes.ts
  test/e2e/View.test.ts
Labels: BPMN rendering, enhancement
