Repository process-analytics/bpmn-visualization-js, pull requests merged in 2020-12, with the labels that each got.

#922 [DOC] Template for release tweet in Release doc
  docs/contributors/maintainers.md
Labels: documentation

#923 [INFRA] Avoid extra html documentation rebuild
  .github/workflows/generate-documentation.yml
Labels: documentation, infra:build

#910 [TEST] Refactor how DOM selectors are managed
  src/component/BpmnVisualization.ts
  test/e2e/helpers/visu-utils.ts
  test/e2e/mxGraph.dom.test.ts
  test/e2e/mxGraph.view.test.ts
Labels: infra:refactoring

#921 [FEAT] Simplify BPMN element identification in DOM
  src/component/BpmnVisualization.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  test/e2e/helpers/visu-utils.ts
  test/e2e/mxGraph.view.test.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
Labels: enhancement, lib extensibility

#938 [INFRA] Don't run 'tsc' in pre-commit hook
  package.json
Labels: infra:build

#941 [DOC] update label and logo of the GitHub releases badges
  README.md
Labels: documentation

#937 [INFRA] align versions (dev and release) in config files
  .github/workflows/release.yml
  package-lock.json
  package.json
  scripts/manage-version-suffix.mjs
  sonar-project.properties
Labels: infra:build

#940 [FEAT] Add API to identify several BPMN elements on the diagram
  src/bpmn-visualization.ts
  src/component/BpmnVisualization.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/style-helper.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/index.ts
  test/e2e/helpers/visu-utils.ts
  test/e2e/mxGraph.dom.test.ts
  test/e2e/mxGraph.view.test.ts
  test/unit/component/mxgraph/config/StyleConfigurator.test.ts
  test/unit/component/mxgraph/style-helper.test.ts
Labels: BPMN diagram usability, enhancement

#946 [INFRA] Improve release-drafter template
  .github/release-drafter.yml
Labels: infra:build

#943 [TEST] Organize the snapshot directory for diagram rendering visual tests
  test/e2e/__image_snapshots__/fit/type-Center/margin-0/horizontal-snap.png
  test/e2e/__image_snapshots__/fit/type-Center/margin-0/vertical-snap.png
  test/e2e/__image_snapshots__/fit/type-Center/margin-0/with.outside.flows-snap.png
  test/e2e/__image_snapshots__/fit/type-Center/margin-0/with.outside.labels-snap.png
  test/e2e/__image_snapshots__/fit/type-Center/margin-20/with.outside.flows-snap.png
  test/e2e/__image_snapshots__/fit/type-Center/margin-50/with.outside.flows-snap.png
  test/e2e/__image_snapshots__/fit/type-Horizontal/margin-0/horizontal-snap.png
  test/e2e/__image_snapshots__/fit/type-Horizontal/margin-0/vertical-snap.png
  test/e2e/__image_snapshots__/fit/type-Horizontal/margin-0/with.outside.flows-snap.png
  test/e2e/__image_snapshots__/fit/type-Horizontal/margin-0/with.outside.labels-snap.png
  test/e2e/__image_snapshots__/fit/type-Horizontal/margin-20/horizontal-snap.png
  test/e2e/__image_snapshots__/fit/type-Horizontal/margin-50/horizontal-snap.png
  test/e2e/__image_snapshots__/fit/type-HorizontalVertical/margin-0/horizontal-snap.png
  test/e2e/__image_snapshots__/fit/type-HorizontalVertical/margin-0/vertical-snap.png
  test/e2e/__image_snapshots__/fit/type-HorizontalVertical/margin-0/with.outside.flows-snap.png
  test/e2e/__image_snapshots__/fit/type-HorizontalVertical/margin-0/with.outside.labels-snap.png
  test/e2e/__image_snapshots__/fit/type-None/margin-0/horizontal-snap.png
  test/e2e/__image_snapshots__/fit/type-None/margin-0/vertical-snap.png
  test/e2e/__image_snapshots__/fit/type-None/margin-0/with.outside.flows-snap.png
  test/e2e/__image_snapshots__/fit/type-None/margin-0/with.outside.labels-snap.png
  test/e2e/__image_snapshots__/fit/type-Vertical/margin-0/horizontal-snap.png
  test/e2e/__image_snapshots__/fit/type-Vertical/margin-0/vertical-snap.png
  test/e2e/__image_snapshots__/fit/type-Vertical/margin-0/with.outside.flows-snap.png
  test/e2e/__image_snapshots__/fit/type-Vertical/margin-0/with.outside.labels-snap.png
  test/e2e/__image_snapshots__/fit/type-Vertical/margin-20/vertical-snap.png
  test/e2e/__image_snapshots__/fit/type-Vertical/margin-50/vertical-snap.png
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
  test/fixtures/bpmn/diagram/with.outside.flows.bpmn
  test/fixtures/bpmn/diagram/with.outside.labels.bpmn
Labels: infra:refactoring

#944 [TEST] Organize the snapshot & diff directories for bpmn rendering visual tests
  test/e2e/__image_snapshots__/bpmn/associations.and.annotations-snap.png
  test/e2e/__image_snapshots__/bpmn/events-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.message.01.icons-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.message.02.labels.and.complex.paths-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.kinds.and.complex.paths-snap.png
  test/e2e/__image_snapshots__/bpmn/gateways-snap.png
  test/e2e/__image_snapshots__/bpmn/labels.01.general-snap.png
  test/e2e/__image_snapshots__/bpmn/labels.02.position.and.line.breaks-snap.png
  test/e2e/__image_snapshots__/bpmn/labels.03.default.position-snap.png
  test/e2e/__image_snapshots__/bpmn/markers.01.positioning-snap.png
  test/e2e/__image_snapshots__/bpmn/markers.02.different.tasks.sizes-snap.png
  test/e2e/__image_snapshots__/bpmn/pools.01.labels.and.lanes-snap.png
  test/e2e/__image_snapshots__/bpmn/pools.02.vertical.with.lanes-snap.png
  test/e2e/__image_snapshots__/bpmn/pools.03.black-box-snap.png
  test/e2e/__image_snapshots__/bpmn/pools.03.black.box-snap.png
  test/e2e/__image_snapshots__/bpmn/subprocess.01.with.lanes-snap.png
  test/e2e/__image_snapshots__/bpmn/subprocess.02.with.inner.subprocess-snap.png
  test/e2e/__image_snapshots__/bpmn/subprocess.03.collapsed.with.elements-snap.png
  test/e2e/__image_snapshots__/bpmn/tasks-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/fixtures/bpmn/non-regression/flows.message.02.labels.and.complex.paths.bpmn
  test/fixtures/bpmn/non-regression/labels.02.position.and.line.breaks.bpmn
  test/fixtures/bpmn/non-regression/pools.01.labels.and.lanes.bpmn
  test/fixtures/bpmn/non-regression/pools.02.vertical.with.lanes.bpmn
  test/fixtures/bpmn/non-regression/pools.03.black.box.bpmn
Labels: infra:refactoring

#945 [TEST] Organize the snapshot & diff directories for diagram navigation visual tests
  test/e2e/__image_snapshots__/bpmn-navigation-test-ts-diagram-navigation-ctrl-mouse-initial-scale-after-zoom-in-and-zoom-out-5-times-1-snap.png
  test/e2e/__image_snapshots__/navigation/initial.zoom-snap.png
  test/e2e/__image_snapshots__/navigation/mouse.panning-snap.png
  test/e2e/__image_snapshots__/navigation/mouse.zoom.in-snap.png
  test/e2e/__image_snapshots__/navigation/mouse.zoom.out-snap.png
  test/e2e/bpmn.navigation.test.ts
  test/fixtures/bpmn/navigation/simple.2.start.events.1.task.bpmn
Labels: infra:refactoring

#952 [REFACTOR] Configure generic function calling to simplify the code
  src/component/registry/bpmn-elements-registry.ts
Labels: infra:refactoring

#939 [TEST] Refactor the computing of the snapshot & diff paths for the visual tests
  test/e2e/bpmn.navigation.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
Labels: infra:refactoring

#954 [FEAT] Add API to search elements by BPMN Kinds
  src/component/registry/bpmn-elements-registry.ts
  src/demo/index.ts
  src/elements-identification.html
  src/static/js/elements-identification.js
  test/e2e/helpers/visu-utils.ts
  test/e2e/mxGraph.dom.test.ts
  test/e2e/mxGraph.view.test.ts
  test/fixtures/bpmn/registry/1-pool-3-lanes-message-start-end-intermediate-events.bpmn
Labels: BPMN diagram usability, enhancement

#957 [DOC] fix link to example in README
  README.md
Labels: documentation

#985 [TEST] Add visual tests for association complex paths
  test/e2e/__image_snapshots__/bpmn/associations.and.annotations.01.general-snap.png
  test/e2e/__image_snapshots__/bpmn/associations.and.annotations.02.complex.paths-snap.png
  test/e2e/__image_snapshots__/bpmn/pools.03.black-box-snap.png
  test/fixtures/bpmn/non-regression/associations.and.annotations.01.general.bpmn
  test/fixtures/bpmn/non-regression/associations.and.annotations.02.complex.paths.bpmn
Labels: infra:build

#965 [REFACTOR] Simplify BPMN Container management in Visual tests
  test/e2e/bpmn.navigation.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
  test/e2e/performance/bpmn.load.performance.test.ts
  test/e2e/performance/bpmn.navigation.performance.test.ts
Labels: infra:refactoring

#966 [REFACTOR] Simplify the initialization page on visual tests
  test/e2e/bpmn.navigation.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/visu-utils.ts
  test/e2e/performance/bpmn.load.performance.test.ts
  test/e2e/performance/bpmn.navigation.performance.test.ts
Labels: infra:refactoring

#967 [REFACTOR] Refactor Visual Tests for Zoom
  test/e2e/bpmn.navigation.test.ts
Labels: infra:refactoring
