Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-11, with the labels that each got.

#1593 [INFRA] dev - bump eslint to 8.1.0 and related plugins
  package-lock.json
  package.json
Labels: dependencies

#1581 [REFACTOR] Replace StyleIdentifier by the BpmnStyleIdentifier class
  src/component/mxgraph/MxGraphCellUpdater.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/renderer/StyleComputer.ts
  src/component/mxgraph/shape/edges.ts
  test/integration/matchers/toBeEdge/index.ts
Labels: infra:refactoring

#1602 [EXAMPLE] Improve the demo navbar for better integration in the Examples repository
  dev/public/index.html
Labels: example

#1609 [DOC] Restore the regular hero image in README
  README.md
Labels: documentation

#1615 [INFRA] Update Husky installation
  package.json
Labels: infra:build

#1616 [REFACTOR] Remove TODO about model enum conversion
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
Labels: infra:refactoring

#1619 [TEST] Update visual test thresholds for local run on Chromium Ubuntu
  test/e2e/bpmn.rendering.test.ts
Labels: infra:build

#1618 [REFACTOR] Simplify parent retrieval in BpmnRenderer
  src/component/mxgraph/BpmnRenderer.ts
Labels: infra:refactoring

#1617 [REFACTOR] Reorganize style utils code
  src/bpmn-visualization.ts
  src/component/mxgraph/MxGraphCellUpdater.ts
  src/component/mxgraph/config/MarkerConfigurator.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/overlay/OverlayConverter.ts
  src/component/mxgraph/renderer/StyleComputer.ts
  src/component/mxgraph/renderer/style-utils.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/edges.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/flow-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/icon-painter.ts
  src/component/mxgraph/shape/text-annotation-shapes.ts
  src/component/mxgraph/style/identifiers.ts
  src/component/mxgraph/style/index.ts
  src/component/mxgraph/style/utils.ts
  src/component/registry/bpmn-elements-registry.ts
  test/integration/matchers/toBeEdge/index.ts
  test/unit/component/mxgraph/renderer/style-utils.test.ts
Labels: infra:refactoring

#1623 [TEST] Define the same signature for svg expect functions
  test/integration/dom.after.actions.test.ts
  test/integration/helpers/html-utils.ts
Labels: infra:refactoring

#1620 [TEST] Add visual test for default fill colors used by BPMN elements
  dev/ts/demo.ts
  test/e2e/__image_snapshots__/bpmn/all.elements.fill.color-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/fixtures/bpmn/non-regression/all.elements.fill.color.bpmn
Labels: infra:build

#1624 [FIX] Correctly apply css classes to message flow icon
  dev/public/elements-identification.html
  dev/public/static/js/elements-identification.js
  src/component/mxgraph/BpmnRenderer.ts
  src/component/mxgraph/MxGraphCellUpdater.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/renderer/style-utils.ts
  test/fixtures/bpmn/registry/message-flows-with-and-without-icon.bpmn
  test/integration/dom.after.actions.test.ts
  test/integration/helpers/html-utils.ts
  test/unit/component/mxgraph/renderer/style-utils.test.ts
Labels: bug, BPMN diagram styling

#1635 [EXAMPLE] Use deferred script loading
  dev/public/diagram-navigation.html
  dev/public/elements-identification.html
  dev/public/index.html
  dev/public/lib-integration.html
  dev/public/non-regression.html
  dev/public/overlays.html
Labels: example

#1636 [TEST] Reorganize utils code in integration tests
  test/integration/dom.after.actions.test.ts
  test/integration/helpers/html-utils.ts
  test/integration/helpers/semantic-with-svg-utils.ts
Labels: infra:refactoring

#1641 [TEST] Reproduce 'BPMN text label ignored events' in example page
  dev/public/elements-identification.html
Labels: infra:build

#1646 [DOC] Improve wording in README
  README.md
Labels: documentation

#1645 [FIX] Fixes ignored pointerEvents for BPMN Label
  src/component/mxgraph/config/ShapeConfigurator.ts
Labels: bug, BPMN diagram usability

#1644 [DOC] Centralize the documentation of default styles
  docs/users/bpmn-support.adoc
Labels: documentation

#1638 [FIX] Ensure extra CSS classes are cleaned on diagram load
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/bpmn-model-registry.ts
  src/component/registry/css-registry.ts
  test/integration/dom.after.actions.test.ts
  test/integration/helpers/html-utils.ts
  test/unit/component/registry/bpmn-model-registry.test.ts
  test/unit/component/registry/css-registry.test.ts
Labels: bug, BPMN diagram styling
