Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-02, with the labels that each got.

#1063 [TEST] Add xml parsing test for Bonita Community 2021.1
  test/fixtures/bpmn/xml-parsing/bonita-community-2021.1-A.2.0.export.bpmn
  test/unit/component/parser/xml/BpmnXmlParser.bonita-community-2021_1.test.ts
Labels: infra:build

#1060 [DOC] Document the minimum public API
  src/api/public/api.ts
  src/component/BpmnVisualization.ts
  src/component/options.ts
  src/component/registry/bpmn-elements-registry.ts
  typedoc.json
Labels: documentation, enhancement

#1064 [DOC] Document the release process as BPMN diagram
  docs/contributors/images/release_process_part-01_repository.png
  docs/contributors/images/release_process_part-02_npm.png
  docs/contributors/images/release_process_part-03_examples.png
  docs/contributors/maintainers.md
  docs/contributors/resources/bpmn-visualization-release-process.bpmn
Labels: documentation

#1040 [INFRA] Use mxgraph npm package directly
  package-lock.json
  package.json
  rollup.config.js
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/MarkerConfigurator.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/initializer.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/flow-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  src/component/mxgraph/shape/render/render-types.ts
  src/component/mxgraph/shape/text-annotation-shapes.ts
  src/component/mxgraph/style-helper.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/query-selectors.ts
  src/elements-identification.html
  src/index.html
  src/lib-integration.html
  src/non-regression.html
  src/rendering-diagram.html
  src/static/js/configureMxGraphGlobals.js
  test/e2e/helpers/visu/PageTester.ts
  test/e2e/helpers/visu/bpmn-puppeteer-utils.ts
  test/integration/helpers/model-expect.ts
  test/integration/jest.config.js
  test/integration/jest.globals.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/matchers/toBeCell/index.ts
  test/integration/matchers/toBeEdge/index.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.test.ts
  test/unit/jest.config.js
  test/unit/jest.globals.ts
  tsconfig.json
Labels: infra:build

#1061 [INFRA] Use npm cache in GitHub workflows
  .github/workflows/build.yml
  .github/workflows/generate-documentation-api.yml
  .github/workflows/generate-documentation.yml
  .github/workflows/upload-demo-archive.yml
  package.json
Labels: infra:build

#1074 [TEST] Fix timeout configuration for Puppeteer on MacOs
  test/e2e/jest-puppeteer.config.js
  test/performance/jest-puppeteer.config.js
Labels: infra:build

#1075 [INFRA] Fix bad path in perf tests
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
Labels: infra:refactoring

#1083 [TEST] Generate visual test diff images close to test reports
  .gitignore
  test/e2e/helpers/visu/ImageSnapshotConfigurator.ts
Labels: infra:build

#1076 [TEST] Run e2e tests on Firefox
  .github/workflows/test-e2e.yml
  docs/contributors/testing.md
  test/e2e/bpmn.navigation.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu/image-snapshot-config.ts
  test/e2e/jest-puppeteer.config.js
Labels: infra:build

#1092 [INFRA] export mxgraph.mxConstants
  src/bpmn-visualization.ts
Labels: infra:refactoring

#1090 [DOC] Update in progress features in the README
  README.md
Labels: documentation

#1091 [DOC] Improve the release process
  docs/contributors/maintainers.md
Labels: documentation

#1113 [FIX] Don't store 'edge without bpmn element' in the BpmnModel
  src/component/parser/json/converter/DiagramConverter.ts
  test/unit/component/parser/json/BpmnJsonParser.edge.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
Labels: BPMN support, bug

#1114 [REFACTOR] Don't catch and only log warnings in the Json Parser
  src/component/parser/BpmnParser.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/GlobalTaskConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
Labels: infra:refactoring

#1116 [FIX] Fix the technical debt detected by Sonar
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/parser/json/converter/DiagramConverter.ts
Labels: infra:refactoring

#1124 [INFRA] Publish demo preview for Pull Request
  .github/workflows/generate-demo-preview.yml
  .github/workflows/upload-demo-archive.yml
Labels: infra:repo
