Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-01, with the labels that each got.

#968 [REFACTOR] Split visual test helpers
  test/e2e/bpmn.navigation.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu-utils.ts
  test/e2e/helpers/visu/ImageSnapshotConfigurator.ts
  test/e2e/helpers/visu/PageTester.ts
  test/e2e/helpers/visu/html-utils.ts
  test/e2e/mxGraph.dom.test.ts
  test/e2e/performance/bpmn.load.performance.test.ts
  test/e2e/performance/bpmn.navigation.performance.test.ts
Labels: infra:refactoring

#998 [INFRA] Simplify rollup plugins management
  rollup.config.js
Labels: infra:build

#1003 [FEAT] Do not trigger panning on right click
  src/component/mxgraph/MxGraphConfigurator.ts
Labels: BPMN diagram usability, enhancement

#1001 [FEAT] Render event-based gateway
  docs/users/bpmn-support.adoc
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  test/e2e/__image_snapshots__/bpmn/gateways-snap.png
Labels: BPMN rendering, enhancement

#1005 [TEST] Add XML Parser tests
  test/fixtures/bpmn/parser-test.bpmn
  test/fixtures/bpmn/xml-parsing/bpmn-plus-composer-v_10_4-miwg-A.4.0.export.bpmn
  test/fixtures/bpmn/xml-parsing/omnitracker-bpmn-11_5-miwg-A.4.1.export.bpmn
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.bpmn-plus-composer-v_10_4.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.omnitracker-bpmn-11_5.test.ts
Labels: infra:build

#1007 [REFACTOR] Remove MxClientConfigurator
  src/component/BpmnVisualization.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/config/MxClientConfigurator.ts
Labels: infra:refactoring

#1009 [REFACTOR] Remove mxgraph code related to error management
  src/component/BpmnVisualization.ts
Labels: infra:refactoring

#1006 [TEST] Generate local html coverage report
  docs/contributors/testing.md
  test/e2e/jest.config.js
  test/unit/jest.config.js
Labels: infra:build

#997 [FEAT] Provide a non minified IIFE bundle
  package.json
  rollup.config.js
  test-bundle/lib-integration-iife.html
Labels: enhancement, lib integration

#1019 [FIX] Fix visual tests on MacOs
  test/e2e/bpmn.rendering.test.ts
Labels: infra:build

#1021 [INFRA] Update the .eslintignore configuration
  .eslintignore
Labels: infra:build

#969 [REFACTOR] Use a single way to load diagram in visual tests
  docs/contributors/testing.md
  test/e2e/bpmn.navigation.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/config/copy.bpmn.diagram.ts
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu/PageTester.ts
  test/e2e/jest.config.js
  test/e2e/performance/bpmn.load.performance.test.ts
  test/e2e/performance/bpmn.navigation.performance.test.ts
Labels: infra:refactoring

#1004 [INFRA] Split build output directories
  .eslintignore
  .github/workflows/upload-demo-archive.yml
  .gitignore
  package.json
  rollup.config.js
  test/e2e/config/copy.bpmn.diagram.ts
  tsconfig.json
Labels: infra:build, rebase needed :collision:

#1002 [REFACTOR] simplify signature of IconPainter methods
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: infra:refactoring

#1010 [TEST] Add automatic bundle tests
  .github/workflows/build.yml
  docs/contributors/maintainers.md
  docs/contributors/testing.md
  package.json
  rollup.config.js
  test/bundles/bundles.test.ts
  test/bundles/jest-puppeteer.config.js
  test/bundles/jest.config.js
  test/bundles/static/lib-integration-iife.html
  test/e2e/helpers/visu/bpmn-puppeteer-utils.ts
  test/e2e/mxGraph.view.test.ts
Labels: infra:build

#1036 [INFRA] Fix release-drafter template
  .github/release-drafter.yml
Labels: infra:build

#1034 [INFRA] Remove extra node installation check step in GitHub workflows
  .github/workflows/build.yml
  .github/workflows/upload-demo-archive.yml
Labels: infra:build

#1023 [TEST] Add more BPMN rendering visual tests for labels and waypoints
  test/e2e/__image_snapshots__/bpmn/flows.waypoints.01.none-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.waypoints.02.terminal.waypoints.inside.shapes-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.waypoints.03.terminal.waypoints.outside.shapes-snap.png
  test/e2e/__image_snapshots__/bpmn/labels.04.fonts-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/e2e/config/copy.bpmn.diagram.ts
  test/fixtures/bpmn/non-regression/flows.waypoints.01.none.bpmn
  test/fixtures/bpmn/non-regression/flows.waypoints.02.terminal.waypoints.inside.shapes.bpmn
  test/fixtures/bpmn/non-regression/flows.waypoints.03.terminal.waypoints.outside.shapes.bpmn
  test/fixtures/bpmn/non-regression/labels.04.fonts.bpmn
Labels: infra:build

#1037 [DOC] Improve lib usage in the README
  README.md
Labels: documentation

#1033 [DOC] Add information for code coverage
  README.md
Labels: documentation

#1032 [INFRA] Add CodeQL analysis GitHub Workflow
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/upload-demo-archive.yml
Labels: infra:build

#1039 [FEAT] Add CSS classes to BPMN elements
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/css-registry.ts
  src/demo/index.ts
  src/elements-identification.html
  src/static/js/elements-identification.js
  test/e2e/helpers/visu/bpmn-puppeteer-utils.ts
  test/e2e/helpers/visu/html-utils.ts
  test/e2e/mxGraph.dom.test.ts
  test/unit/component/registry/css-registry.test.ts
Labels: BPMN diagram usability

#1044 [REFACTORING] Introduce an array utils
  src/component/helpers/array-utils.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/GlobalTaskConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/component/registry/bpmn-elements-registry.ts
  test/unit/component/parser/xml/BpmnXmlParser.trisotech-bpmn-modeler-6_2_0.test.ts
Labels: infra:refactoring

#1042 [DOC] Fix TSDoc in BpmnElementsRegistry
  src/component/registry/bpmn-elements-registry.ts
Labels: documentation

#1054 [INFRA] Generate documentation on demand with GH workflows
  .github/workflows/generate-documentation-api.yml
  .github/workflows/generate-documentation.yml
Labels: infra:build

#1055 [DOC] example tsdoc for addCssClasses method
  src/component/registry/bpmn-elements-registry.ts
Labels: documentation, enhancement

#1043 [REFACTORING] Add CSS classes to BPMN elements
  src/component/BpmnVisualization.ts
  src/component/helpers/array-utils.ts
  src/component/mxgraph/MxGraphCellUpdater.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/style-helper.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/css-registry.ts
  src/elements-identification.html
  src/static/js/elements-identification.js
  test/unit/component/mxgraph/style-helper.test.ts
  test/unit/component/registry/css-registry.test.ts
Labels: infra:refactoring

#1045 [FEAT] Add new API to remove CSS classes from BPMN elements
  src/component/helpers/array-utils.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/css-registry.ts
  src/demo/index.ts
  src/elements-identification.html
  src/static/js/elements-identification.js
  test/e2e/helpers/visu/html-utils.ts
  test/e2e/mxGraph.dom.test.ts
  test/fixtures/bpmn/registry/1-pool-3-lanes-message-start-end-intermediate-events.bpmn
  test/unit/component/registry/css-registry.test.ts
Labels: BPMN diagram usability, enhancement

#1058 [FEAT] Add new API to toggle CSS classes for BPMN elements
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/css-registry.ts
  test/e2e/helpers/visu/html-utils.ts
  test/e2e/mxGraph.dom.test.ts
  test/fixtures/bpmn/registry/1-pool-3-lanes-message-start-end-intermediate-events.bpmn
  test/unit/component/registry/css-registry.test.ts
Labels: BPMN diagram usability, enhancement

#1059 [REFACTORING] Refactor BpmnElementsRegistry methods for css classes
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/css-registry.ts
  test/unit/component/registry/css-registry.test.ts
Labels: infra:refactoring
