Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-08, with the labels that each got.

#1446 [REFACTOR] Refactor the method to filter an array of ShapeBpmnElementKind
  src/component/helpers/array-utils.ts
  src/model/bpmn/internal/shape/ShapeUtil.ts
  test/unit/component/helpers/array-utils.test.ts
Labels: infra:refactoring

#1447 [FEAT] Detect call activities calling different global tasks
  docs/users/architecture/images/architecture/internal-model.drawio
  docs/users/architecture/images/architecture/internal-model.svg
  docs/users/bpmn-support.adoc
  src/component/helpers/array-utils.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/renderer/StyleComputer.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/GlobalTaskConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/model/bpmn/internal/shape/ShapeBpmnCallActivityKind.ts
  src/model/bpmn/internal/shape/ShapeBpmnElement.ts
  src/model/bpmn/internal/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/internal/shape/ShapeUtil.ts
  test/e2e/__image_snapshots__/bpmn/call.activities-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/fixtures/bpmn/non-regression/call.activities.bpmn
  test/integration/helpers/model-expect.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.test.ts
  test/unit/component/helpers/array-utils.test.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: BPMN support, enhancement

#1448 [FEAT] Render call activities calling different global tasks
  docs/users/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
  test/e2e/__image_snapshots__/bpmn/call.activities-snap.png
Labels: BPMN rendering, enhancement

#1456 [DOC] Update code example for the BPMN element icon integration
  docs/contributors/bpmn-support-how-to.md
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: documentation

#1457 [TEST] Simplify threshold configuration
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.navigation.fit.tests.ts
  test/e2e/diagram.navigation.zoom.pan.tests.ts
  test/e2e/helpers/visu/image-snapshot-config.ts
  test/e2e/overlays.rendering.test.ts
Labels: infra:refactoring

#1461 [FEAT] Use the new Process Analytics logo
  dev/diagram-navigation.html
  dev/elements-identification.html
  dev/index.html
  dev/lib-integration.html
  dev/non-regression.html
  dev/overlays.html
  dev/static/img/favicon.ico
  dev/static/img/favicon.png
  dev/static/img/logo_64x64.ico
  dev/static/img/logo_64x64_white.png
  docs/users/index.adoc
  scripts/docs.js
Labels: documentation, enhancement

#1468 [INFRA] List dependencies change at the end of the release notes
  .github/release-drafter.yml
Labels: infra:repo

#1470 [TEST] Fix imports in performance tests
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
Labels: infra:build

#1462 [FEAT] Detect and Render Group
  docs/contributors/bpmn-support-how-to.md
  docs/users/bpmn-support.adoc
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/CategoryConverter.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/model/bpmn/internal/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/json/baseElement/rootElement/rootElement.ts
  test/e2e/__image_snapshots__/bpmn/group.01.in.process.with.label-snap.png
  test/e2e/__image_snapshots__/bpmn/group.02.in.collaboration.with.label-snap.png
  test/e2e/__image_snapshots__/bpmn/group.03.several.groups.different.size-snap.png
  test/e2e/__image_snapshots__/bpmn/group.04.cross.lanes-snap.png
  test/e2e/__image_snapshots__/bpmn/group.05.cross.pools-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/fixtures/bpmn/non-regression/group.01.in.process.with.label.bpmn
  test/fixtures/bpmn/non-regression/group.02.in.collaboration.with.label.bpmn
  test/fixtures/bpmn/non-regression/group.03.several.groups.different.size.bpmn
  test/fixtures/bpmn/non-regression/group.04.cross.lanes.bpmn
  test/fixtures/bpmn/non-regression/group.05.cross.pools.bpmn
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.test.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/component/mxgraph/renderer/style-helper.test.ts
  test/unit/component/parser/json/BpmnJsonParser.group.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/model/bpmn/shape/ShapeUtil.test.ts
Labels: enhancement, BPMN support, BPMN rendering

#1471 [TEST] Rename 'mouse zoom' helper functions
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu/playwright-utils.ts
  test/e2e/overlays.rendering.test.ts
  test/performance/bpmn.navigation.performance.test.ts
Labels: infra:build

#1467 [INFRA] Review the jest configuration
  .github/workflows/build.yml
  package.json
  test/bundles/jest.config.js
  test/e2e/jest.config.js
  test/integration/jest.config.js
  test/performance/jest.config.js
  test/performance/tsconfig.json
  test/unit/jest.config.js
Labels: infra:build

#1481 [INFRA] dev - Bump dev dependencies to use Jest 27
  package-lock.json
  package.json
  test/bundles/bundles.test.ts
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/helpers/visu/playwright-utils.ts
  test/e2e/overlays.rendering.test.ts
  test/integration/jest.config.js
  test/performance/helpers/metrics-chromium.ts
  test/unit/component/mxgraph/overlay/OverlayConverter.test.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/component/mxgraph/shape/render/BpmnCanvas.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.activiti-5_14_1.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.adonis-np-8_0.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.bizagi-modeler-2_8_0_8.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.camuda-eclipse-plugin-3_0_0.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.miwg.test.ts
Labels: dependencies

#1479 [REFACTOR] Remove direct console calls in the Parsing code
  scripts/utils/parseBpmn.ts
  src/component/parser/BpmnParser.ts
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/component/parser/json/warnings.ts
  src/component/parser/parsing-messages.ts
  test/unit/component/parser/json/BpmnJsonParser.edge.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.group.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
  test/unit/component/parser/parsing-messages.test.ts
Labels: infra:refactoring

#1482 [REFACTOR] Use 'reduce' instead of 'forEach' in BpmnElementsRegistry
  src/component/registry/bpmn-elements-registry.ts
Labels: infra:refactoring

#1483 [INFRA] Replace macOS 10.15 by macOS 11 (Big Sur) in the GitHub Actions
  .github/workflows/build.yml
  .github/workflows/test-e2e.yml
Labels: infra:repo

#1484 [INFRA] Update node version from 12.x to 14.x in the Github Actions
  .github/workflows/build.yml
  .github/workflows/generate-documentation.yml
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
  .github/workflows/test-e2e.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  docs/contributors/development.md
Labels: infra:repo

#1485 [TEST] Fix threshold on visual tests on macOS & Chromium
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/overlays.rendering.test.ts
Labels: infra:build

#1337 [DOC] Improve contributors doc about mxgraph integration
  docs/contributors/mxgraph-integration.md
Labels: documentation

#1486 [REFACTOR] Remove extra defensive code in BpmnRenderer
  src/component/mxgraph/BpmnRenderer.ts
Labels: infra:refactoring

#1497 [TEST] Add specific Bonita diagrams to check waypoints
  test/e2e/__image_snapshots__/bpmn/flows.waypoints.04.terminal.waypoints.bonita.events-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.waypoints.05.terminal.waypoints.bonita.gateways-snap.png
  test/fixtures/bpmn/non-regression/flows.waypoints.04.terminal.waypoints.bonita.events.bpmn
  test/fixtures/bpmn/non-regression/flows.waypoints.05.terminal.waypoints.bonita.gateways.bpmn
Labels: infra:build

#1506 [INFRA] dev - bump typescript 4.3.5 from to 4.4.2
  package-lock.json
  package.json
Labels: dependencies
