Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-03, with the labels that each got.

#1127 [TEST] Update performance stats
  test/performance/data/linux/data.js
  test/performance/data/macos/data.js
  test/performance/data/windows/data.js
Labels: robustness

#1141 [INFRA] Dispatch event to the examples repository in order to update it automatically on release
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  docs/contributors/maintainers.md
Labels: infra:build

#1152 [DOC] Improve the documentation for public API access
  README.md
  docs/users/overview.adoc
Labels: documentation

#1117 [INFRA] Publish documentation preview for Pull Request
  .github/workflows/build.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation-api.yml
  .github/workflows/generate-documentation.yml
  .github/workflows/test-e2e.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  README.md
Labels: infra:repo

#1164 [INFRA] Remove generated husky configuration files
  .husky/.gitignore
  .husky/_/husky.sh
Labels: infra:build

#1084 [INFRA] Hide types only used internally
  .github/workflows/generate-documentation.yml
  src/component/BpmnVisualization.ts
  src/component/helpers/array-utils.ts
  src/component/helpers/dom-utils.ts
  src/component/helpers/validators.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/MxGraphCellUpdater.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/MxGraphRenderer.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/MarkerConfigurator.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/flow-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/utils.ts
  src/component/mxgraph/shape/text-annotation-shapes.ts
  src/component/mxgraph/style-helper.ts
  src/component/parser/BpmnParser.ts
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/GlobalTaskConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/component/parser/xml/BpmnXmlParser.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/css-registry.ts
  src/component/registry/query-selectors.ts
  src/demo/component/DropFileUserInterface.ts
  src/demo/helper.ts
  src/demo/index.ts
  src/model/bpmn/internal/Bounds.ts
  src/model/bpmn/internal/BpmnModel.ts
  src/model/bpmn/internal/Label.ts
  src/model/bpmn/internal/api.ts
  src/model/bpmn/internal/edge/AssociationDirectionKind.ts
  src/model/bpmn/internal/edge/Edge.ts
  src/model/bpmn/internal/edge/Flow.ts
  src/model/bpmn/internal/edge/FlowKind.ts
  src/model/bpmn/internal/edge/MessageVisibleKind.ts
  src/model/bpmn/internal/edge/SequenceFlowKind.ts
  src/model/bpmn/internal/edge/Waypoint.ts
  src/model/bpmn/internal/shape/Shape.ts
  src/model/bpmn/internal/shape/ShapeBpmnCallActivityKind.ts
  src/model/bpmn/internal/shape/ShapeBpmnElement.ts
  src/model/bpmn/internal/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/internal/shape/ShapeBpmnEventBasedGatewayKind.ts
  src/model/bpmn/internal/shape/ShapeBpmnEventKind.ts
  src/model/bpmn/internal/shape/ShapeBpmnMarkerKind.ts
  src/model/bpmn/internal/shape/ShapeBpmnSubProcessKind.ts
  src/model/bpmn/internal/shape/ShapeUtil.ts
  src/model/bpmn/json/INTERNAL.MD
  tsconfig.json
  typedoc.json
Labels: decision record, documentation

#1185 [DOC] Fix TSDoc example for the removeCssClasses API
  src/component/registry/bpmn-elements-registry.ts
Labels: documentation

#1193 [TEST] Add more DOM integration tests
  test/integration/dom.interactions.test.ts
  test/integration/helpers/html-utils.ts
Labels: infra:build

#1191 [FEAT] Add new overlay positions
  src/component/mxgraph/overlay/OverlayConverter.ts
  src/component/registry/types.ts
  test/unit/component/mxgraph/overlay/OverlayConverter.test.ts
Labels: BPMN diagram usability, enhancement

#1192 [INFRA] Fix the trigger of the examples repository on release
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
Labels: infra:repo

#1196 [REFACTOR] Don't use special prefix in private field name
  src/component/BpmnVisualization.ts
Labels: decision record, infra:refactoring

#1195 [REFACTOR] Update types in mxCellRenderer overlays management
  src/component/mxgraph/config/ShapeConfigurator.ts
Labels: infra:refactoring

#1153 [INFRA] Simplify how workflows are triggered
  .github/workflows/build.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
  .github/workflows/test-e2e.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  sonar-project.properties
Labels: infra:build

#1186 [FEAT] Remove all overlays of a given bpmn shape element
  src/component/mxgraph/MxGraphCellUpdater.ts
  src/component/registry/bpmn-elements-registry.ts
  src/demo/index.ts
  src/elements-identification.html
  src/overlays.html
  src/static/js/elements-identification.js
  src/static/js/overlays.js
  test/e2e/__image_snapshots__/overlays/remove.all.overlays.of.shape-snap.png
  test/e2e/diagram.overlays.rendering.test.ts
  test/integration/dom.interactions.test.ts
  test/integration/helpers/html-utils.ts
  test/integration/mxGraph.model.test.ts
Labels: BPMN diagram usability, enhancement, mvp

#1198 [REFACTOR] Reorganize BpmnQuerySelectors usage
  src/component/registry/query-selectors.ts
  test/e2e/helpers/visu/PageTester.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/helpers/query-selectors.ts
  test/integration/helpers/html-utils.ts
Labels: infra:refactoring
