Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-06, with the labels that each got.

#1336 [DOC] Improve the contributors BPMN diagram for the release
  docs/contributors/images/release_process_part-01_release_automation.png
  docs/contributors/images/release_process_part-02_github.png
  docs/contributors/resources/bpmn-visualization-release-process.bpmn
Labels: documentation

#1345 [FIX] Don't use a select text cursor on label hover
  src/component/mxgraph/BpmnMxGraph.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
Labels: BPMN rendering, bug

#1353 [INFRA] Fix .eslintignore to consider files in `config` folders
  .eslintignore
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  test/e2e/config/playwright.ts
Labels: infra:build

#1352 [DOC] Add settings for husky when using nvm
  docs/contributors/development.md
Labels: documentation

#1354 [TEST] Fix imports: playwright -> playwright-core
  test/performance/helpers/metrics-chromium.ts
Labels: infra:build

#1366 [FIX] Fill the sequence flow conditional start marker
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/edges.ts
Labels: BPMN rendering, bug

#1372 [INFRA] dev - Bump typed-mxgraph from 1.0.2 to 1.0.3
  package-lock.json
  package.json
  src/component/mxgraph/shape/edges.ts
Labels: dependencies

#1370 [DOC] Contributors: improve how diagram are loaded in e2e tests
  docs/contributors/testing.md
Labels: documentation

#1371 [TEST] Update file-helper debug logger namespace
  test/helpers/file-helper.ts
Labels: infra:build

#1367 [FEAT] Review message flows start and end markers
  src/component/mxgraph/StyleUtils.ts
  test/e2e/__image_snapshots__/bpmn/flows.message.01.icons-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.message.02.labels.and.complex.paths-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-end/add.overlay.on.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-middle/add.overlay.on.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-start/add.overlay.on.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/remove.all.overlays.of.message.flow-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/e2e/overlays.rendering.test.ts
Labels: BPMN rendering, enhancement

#1374 [INFRA] Remove Marcin from the auto reviewers
  .github/dependabot.yml
Labels: infra:build

#1383 [REFACTOR] Improve naming consistency in painting code
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/flow-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/IconPainter.ts
  src/component/mxgraph/shape/render/render-types.ts
  test/unit/component/mxgraph/shape/render/BpmnCanvas.test.ts
Labels: infra:refactoring

#1386 [INFRA] Fix typescript missing source when using livereload
  rollup.config.js
Labels: infra:build

#1384 [EXAMPLE] Fix selected attribute in the demo page
  .github/workflows/generate-demo-preview.yml
  dev/index.html
Labels: example

#1387 [REFACTOR] Improve mxgraph style inheritance
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
Labels: infra:refactoring

#1385 [TEST] Fix message flow css selector in test page
  dev/elements-identification.html
Labels: infra:refactoring

#1389 [TEST] Improve 'generated svg' e2e and bundle tests
  dev/static/js/lib-integration.js
  dev/ts/demo.ts
  docs/contributors/testing.md
  test/bundles/bundles.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/config/copy.bpmn.diagram.ts
  test/e2e/diagram.navigation.fit.tests.ts
  test/e2e/diagram.navigation.zoom.pan.tests.ts
  test/e2e/generated.svg.test.ts
  test/e2e/helpers/visu/PageTester.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/overlays.rendering.test.ts
  test/fixtures/bpmn/simple-start-only.bpmn
  test/fixtures/bpmn/svg/simple-start-task-end.bpmn
  test/helpers/file-helper.ts
  test/unit/file-helper.test.ts
Labels: infra:refactoring

#1399 [TEST] Add more visual tests for edges
  test/e2e/__image_snapshots__/bpmn/associations.and.annotations.03.waypoints.inside.shape-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.01.kinds.and.complex.paths-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.02.events.from.to-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.03.gateways.from.to-snap.png
  test/fixtures/bpmn/non-regression/associations.and.annotations.03.waypoints.inside.shape.bpmn
  test/fixtures/bpmn/non-regression/flows.sequence.01.kinds.and.complex.paths.bpmn
  test/fixtures/bpmn/non-regression/flows.sequence.02.events.from.to.bpmn
  test/fixtures/bpmn/non-regression/flows.sequence.03.gateways.from.to.bpmn
Labels: infra:build

#1388 [FEAT] Add svg and png download capabilities in test page
  dev/elements-identification.html
  dev/static/js/elements-identification.js
  dev/ts/component/SvgExporter.ts
  dev/ts/component/download.ts
  dev/ts/demo.ts
  dev/ts/helper.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  test/e2e/__image_snapshots__/bpmn/pools.01.labels.and.lanes-snap.png
  test/e2e/__image_snapshots__/bpmn/subprocess.01.with.lanes-snap.png
  test/e2e/__image_snapshots__/bpmn/subprocess.02.with.inner.subprocess-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/integration/matchers/toBeShape/index.ts
Labels: enhancement, example

#1400 [TEST] Add e2e visual test for text annotation on Edge
  dev/ts/demo.ts
  test/e2e/__image_snapshots__/bpmn/associations.and.annotations.04.target.edges-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.navigation.fit.tests.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/fixtures/bpmn/non-regression/associations.and.annotations.04.target.edges.bpmn
Labels: infra:build

#1401 [TEST] Update position of `doctype` in test pages
  dev/diagram-navigation.html
  dev/overlays.html
Labels: infra:build
