Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-09, with the labels that each got.

#1507 [TEST] Add more integration tests for 'requesting unknown bpmn element id'
  test/integration/dom.after.actions.test.ts
Labels: infra:build

#1508 [REFACTOR] Manage and clean some TODOs
  src/component/BpmnVisualization.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/options.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/registry/bpmn-elements-registry.ts
  src/model/bpmn/internal/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/internal/shape/ShapeBpmnEventKind.ts
  src/model/bpmn/internal/shape/ShapeBpmnSubProcessKind.ts
  src/model/bpmn/internal/shape/ShapeUtil.ts
  src/model/bpmn/internal/shape/index.ts
  test/integration/dom.after.actions.test.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/component/mxgraph/shape/render/BpmnCanvas.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
Labels: infra:refactoring

#1514 [REFACTOR] Manage some todo
  .editorconfig
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
Labels: infra:refactoring

#1515 [REFACTOR] Simplify array map/filter/forEach
  dev/ts/component/DropFileUserInterface.ts
  src/component/helpers/array-utils.ts
  src/component/mxgraph/BpmnRenderer.ts
  src/component/mxgraph/shape/render/utils.ts
  src/component/parser/json/converter/CategoryConverter.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/GlobalTaskConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/bpmn-model-registry.ts
  src/model/bpmn/internal/shape/ShapeBpmnEventKind.ts
  src/model/bpmn/internal/shape/ShapeUtil.ts
  test/e2e/helpers/test-utils.ts
  test/integration/matchers/matcher-utils.ts
Labels: infra:refactoring

#1521 [REFACTOR] Remove unused functions and constants in StyleUtils
  src/component/mxgraph/StyleUtils.ts
Labels: infra:refactoring

#1522 [DOC] Ensure contributors use npm@6
  docs/contributors/development.md
Labels: documentation

#1529 [REFACTOR] Move static dev resources to a dedicated folder
  .gitignore
  dev/public/diagram-navigation.html
  dev/public/elements-identification.html
  dev/public/index.html
  dev/public/lib-integration.html
  dev/public/non-regression.html
  dev/public/overlays.html
  dev/public/static/css/styles.css
  dev/public/static/css/test-page.css
  dev/public/static/img/favicon.png
  dev/public/static/img/logo_64x64_white.png
  dev/public/static/js/demo.js
  dev/public/static/js/diagram-navigation.js
  dev/public/static/js/elements-identification.js
  dev/public/static/js/helpers/controls.js
  dev/public/static/js/lib-integration.js
  dev/public/static/js/non-regression.js
  dev/public/static/js/overlays.js
  package.json
  rollup.config.js
  scripts/docs.js
  tailwind.config.js
Labels: infra:refactoring

#1530 [REFACTOR] Always configure styles out of mxgraph BPMN shapes
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/text-annotation-shapes.ts
  test/integration/matchers/toBeShape/index.ts
Labels: infra:refactoring

#1531 [TEST] Add tests for lib initialization using HTMLElement container
  test/integration/dom.after.actions.test.ts
Labels: infra:build

#1532 [TEST] Simplify imports in tests
  test/integration/helpers/html-utils.ts
  test/integration/helpers/model-expect.ts
  test/integration/mxGraph.model.test.ts
  test/unit/component/mxgraph/overlay/OverlayConverter.test.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.diagram.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.text.annotation.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: infra:refactoring

#1533 [REFACTOR] Simplify lib exports
  dev/ts/demo.ts
  src/api/public/api.ts
  src/bpmn-visualization.ts
  src/component/BpmnVisualization.ts
  src/component/mxgraph/BpmnRenderer.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/renderer/StyleComputer.ts
  src/component/mxgraph/shape/render/icon-painter.ts
  src/component/mxgraph/shape/render/index.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/GlobalTaskConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/component/registry/bpmn-model-registry.ts
  src/model/bpmn/internal/api.ts
  src/model/bpmn/internal/shape/ShapeBpmnElement.ts
  src/model/bpmn/internal/shape/ShapeBpmnElementKind.ts
  src/model/bpmn/internal/shape/shape-utils.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
  test/unit/model/bpmn/shape/ShapeUtil.test.ts
Labels: infra:refactoring

#1538 [REFACTOR] Don't export mxgraph mxConstants
  src/bpmn-visualization.ts
Labels: infra:refactoring

#1539 [DOC] Update the REAME hero image to promote Hacktoberfest
  README.md
  docs/users/images/diagram-hacktoberfest-example.png
Labels: documentation

#1541 [REFACTOR] Simplify markers computation during rendering
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/utils.ts
Labels: infra:refactoring

#1556 [TEST] Add zoom tests on Webkit and Firefox
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu/playwright-utils.ts
  test/e2e/overlays.rendering.test.ts
  test/performance/bpmn.navigation.performance.test.ts
Labels: infra:refactoring
