Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-05, with the labels that each got.

#1237 [TEST] Fix panning tests on webkit
  test/e2e/bpmn.navigation.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu/PageTester.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/helpers/visu/playwright-utils.ts
  test/e2e/overlays.rendering.test.ts
Labels: infra:build

#1273 [DOC] Replace 'diagram display' by 'BPMN rendering'
  docs/users/architecture/mxgraph-integration.adoc
  docs/users/bpmn-support.adoc
  docs/users/overview.adoc
  src/component/mxgraph/shape/render/IconPainter.ts
Labels: documentation, mvp

#1285 [DOC] Review Configuration vs Customization
  CONTRIBUTING.md
Labels: documentation

#1295 [FIX] Fix lint after bump of prettier library
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
Labels: infra:refactoring

#1294 [INFRA] Restore Typescript sourcemap for development
  rollup.config.js
Labels: infra:build

#1297 [DOC] wording: replace diagram rendering -> diagram navigation
  docs/contributors/testing.md
  src/diagram-navigation.html
  src/static/js/diagram-navigation.js
  test/e2e/diagram.navigation.fit.tests.ts
  test/e2e/diagram.navigation.zoom.pan.tests.ts
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
Labels: documentation

#1298 [DOC] Improve the Overlay API TSDoc
  src/component/registry/types.ts
Labels: documentation

#1305 [FEAT] Only trigger zoom with the CTRL on macOS
  src/component/mxgraph/BpmnMxGraph.ts
Labels: BPMN diagram usability, enhancement

#1299 [DOC] Use 'behavior' instead of 'interaction' when possible
  docs/contributors/testing.md
  src/diagram-navigation.html
  src/overlays.html
Labels: documentation

#1311 [INFRA] Add new release-drafter categories
  .github/release-drafter.yml
Labels: infra:repo

#1310 [DOC] process execution data - examples of data
  docs/users/overview.adoc
Labels: documentation

#1309 [INFRA] dev - Bump typed-mxgraph from 1.0.1 to 1.0.2
  package-lock.json
  package.json
  src/component/mxgraph/overlay/shapes.ts
  tsconfig.typedoc.json
Labels: dependencies

#1313 [INFRA] Improve the eslint config for js files
  .eslintrc.js
  docs/contributors/development.md
  package.json
  scripts/docs.js
  scripts/manage-version-suffix.mjs
  src/static/js/demo.js
  src/static/js/diagram-navigation.js
  src/static/js/elements-identification.js
  src/static/js/lib-integration.js
  src/static/js/non-regression.js
  src/static/js/overlays.js
  src/static/js/test.js
Labels: infra:build

#1314 [INFRA] Simplify cache retrieval in a GitHub workflow
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
Labels: infra:build

#1315 [INFRA] Automate npm publishing
  .github/workflows/publish-npm.yml
  docs/contributors/images/release_process_part-01_release_automation.png
  docs/contributors/images/release_process_part-01_repository.png
  docs/contributors/images/release_process_part-02_github.png
  docs/contributors/images/release_process_part-02_npm.png
  docs/contributors/images/release_process_part-03_examples.png
  docs/contributors/maintainers.md
  docs/contributors/resources/bpmn-visualization-release-process.bpmn
Labels: infra:build

#1325 [DOC] Improve the mxgraph bump guidelines
  docs/contributors/mxgraph-version-bump.md
Labels: documentation

#1327 [TEST] Rename some integration and e2e tests
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.navigation.fit.tests.ts
  test/e2e/diagram.navigation.zoom.pan.tests.ts
  test/e2e/generated.svg.test.ts
  test/integration/dom.after.actions.test.ts
Labels: infra:refactoring

#1328 [DOC] Do not use the 'interaction' term when possible
  docs/contributors/testing.md
  src/api/public/api.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/types.ts
  typedoc.json
Labels: documentation

#1330 [DOC] Add user documentation for the 'custom behavior' features
  docs/users/bpmn-support.adoc
  docs/users/images/custom-behavior-path-highlighting.gif
  docs/users/images/custom-behavior-popovers.gif
  docs/users/intro.adoc
  docs/users/overview.adoc
Labels: documentation

#1317 [TEST] Avoid Jest warning about missing TS sourcemap
  test/bundles/jest.config.js
  test/e2e/jest.config.js
  test/integration/jest.config.js
  test/performance/jest.config.js
  test/unit/jest.config.js
  tsconfig.jest.json
Labels: infra:build

#1331 [DOC] Add user documentation for 'Overlays'
  docs/users/images/monitoring.gif
  docs/users/images/simple-overlay-example.png
  docs/users/overview.adoc
Labels: documentation

#1332 [DOC] Update example image used in README and user documentation
  README.md
  docs/users/intro.adoc
Labels: documentation

#1334 [INFRA] Skip GitHub workflow elements when secrets are not available
  .github/workflows/build.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
Labels: infra:build

#1324 [REFACTOR] Remove the demo code from the packaging
  README.md
  dev/ts/component/DropFileUserInterface.ts
  dev/ts/demo.ts
  dev/ts/helper.ts
  dev/ts/internal-dev-bundle-index.ts
  rollup.config.js
  sonar-project.properties
  src/bpmn-visualization.ts
  test/e2e/jest.config.js
  test/integration/jest.config.js
  test/unit/jest.config.js
Labels: lib integration
