Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-12, with the labels that each got.

#1655 [FIX] Always apply extra CSS classes to label nodes
  dev/public/elements-identification.html
  dev/public/static/js/elements-identification.js
  src/component/mxgraph/MxGraphCellUpdater.ts
  src/component/registry/query-selectors.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/helpers/query-selectors.ts
  test/integration/dom.after.actions.test.ts
  test/integration/helpers/html-utils.ts
Labels: bug, BPMN diagram styling

#1654 [DOC] Specify the default font color for BPMN elements
  docs/users/bpmn-support.adoc
Labels: documentation

#1656 [REFACTOR] Rename the 'load' method in ModelRegistry
  src/component/BpmnVisualization.ts
  src/component/registry/bpmn-model-registry.ts
  test/unit/component/registry/bpmn-model-registry.test.ts
Labels: infra:refactoring

#1666 [REFACTOR] Explicit mxgraph type imports
  dev/ts/component/SvgExporter.ts
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/BpmnRenderer.ts
  src/component/mxgraph/MxGraphConfigurator.ts
  src/component/mxgraph/config/MarkerConfigurator.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/initializer.ts
  src/component/mxgraph/overlay/custom-overlay.ts
  src/component/mxgraph/overlay/shapes.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
  src/component/mxgraph/renderer/style-utils.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/edges.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/flow-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/BpmnCanvas.ts
  src/component/mxgraph/shape/render/icon-painter.ts
  src/component/mxgraph/shape/text-annotation-shapes.ts
  test/integration/helpers/model-expect.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/matchers/toBeCell/index.ts
Labels: infra:refactoring

#1664 [TEST] Split mxGraph model tests
  docs/contributors/bpmn-support-how-to.md
  test/integration/helpers/model-expect.ts
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/integration/mxGraph.model.overlays.test.ts
  test/integration/mxGraph.model.test.ts
Labels: infra:refactoring

#1667 [TEST] Add integration tests for BpmnVisualization
  test/fixtures/bpmn/malformed-bpmn-diagram.txt
  test/integration/BpmnVisualization.test.ts
  test/integration/dom.after.actions.test.ts
  test/integration/helpers/dom-utils.ts
Labels: infra:build

#1640 [FEAT] Generate more precise CSS classes on BPMN elements
  dev/public/elements-identification.html
  dev/public/static/js/elements-identification.js
  src/component/mxgraph/renderer/style-utils.ts
  src/model/bpmn/internal/shape/utils.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/integration/dom.after.actions.test.ts
  test/integration/helpers/html-utils.ts
  test/unit/component/mxgraph/renderer/style-utils.test.ts
Labels: enhancement, decision record, BPMN diagram styling

#1625 [REFACTOR] Improve naming in internal registry code
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/css-registry.ts
Labels: infra:refactoring

#1643 [FIX] Export some missing flow kinds
  src/model/bpmn/internal/edge/kinds.ts
  src/model/bpmn/internal/index.ts
  test/integration/mxGraph.model.bpmn.elements.test.ts
Labels: bug, BPMN diagram styling

#1670 [FIX] Prevent external modification of reference shape kinds
  src/model/bpmn/internal/shape/utils.ts
  test/unit/model/bpmn/internal/shape/utils.test.ts
Labels: bug

#1671 [EXAMPLE] Use specific stroke and fill colors for msg flow icons
  dev/public/elements-identification.html
Labels: enhancement, example

#1672 [TEST] Split integration tests related to DOM checks
  test/integration/config/mxgraph-config.ts
  test/integration/dom.bpmn.elements.test.ts
  test/integration/dom.container.div.test.ts
  test/integration/dom.css.classes.test.ts
  test/integration/dom.overlays.test.ts
  test/integration/helpers/bpmn-visualization-initialization.ts
  test/integration/jest.config.js
Labels: infra:build

#1639 [INFRA] Bump Node version from 14 to 16
  .github/workflows/build.yml
  .github/workflows/generate-documentation.yml
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
  .github/workflows/test-e2e.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  .nvmrc
  docs/contributors/development.md
  package-lock.json
  test/e2e/bpmn.rendering.test.ts
  test/helpers/file-helper.ts
  test/integration/BpmnVisualization.test.ts
Labels: infra:build

#1686 [INFRA] Replace the Playwright GitHub Action by the Playwright CLI
  .github/workflows/build.yml
  .github/workflows/test-e2e.yml
Labels: infra:build

#1687 [INFRA] Install the eslint-plugin-jest dependency
  .eslintrc.js
  package-lock.json
  package.json
  test/.eslintrc.js
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/integration/BpmnVisualization.test.ts
  test/integration/helpers/bpmn-visualization-initialization.ts
  test/integration/helpers/html-utils.ts
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/component/mxgraph/shape/render/BpmnCanvas.test.ts
  test/unit/component/parser/json/BpmnJsonParser.edge.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.group.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/parser/json/TestUtils.ts
  test/unit/component/parser/xml/BpmnXmlParser.bonita-community-2021_1.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.bpmn-plus-composer-v_10_4.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.omnitracker-bpmn-11_5.test.ts
Labels: dependencies, infra:build

#1674 [FEAT] Improve the robustness of the XML Parser
  package-lock.json
  package.json
  src/component/BpmnVisualization.ts
  src/component/parser/xml/BpmnXmlParser.ts
  test/fixtures/bpmn/xml-parsing/special/simple-start-task-end_large_numbers_and_large_decimals.bpmn
  test/fixtures/bpmn/xml-parsing/special/simple-start-task-end_truncated.bpmn
  test/fixtures/bpmn/xml-parsing/special/text-only.txt
  test/fixtures/bpmn/xml-parsing/special/xml-but-not-bpmn.xml
  test/integration/BpmnVisualization.test.ts
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.00.special.parsing.cases.test.ts
  test/unit/jest.config.js
  test/unit/model/bpmn/internal/shape/utils.test.ts
Labels: enhancement, BPMN support

#1688 [INFRA] Install the ESLint Plugin Playwright dependency
  package-lock.json
  package.json
  test/bundles/.eslintrc.js
  test/e2e/.eslintrc.js
  test/performance/.eslintrc.js
Labels: dependencies, infra:build

#1690 [INFRA] Fix the browser installation in the Github actions
  .github/workflows/build.yml
  .github/workflows/test-e2e.yml
Labels: infra:build

#1689 [INFRA] Use expect-playwright in tests
  package-lock.json
  package.json
  test/bundles/bundles.test.ts
  test/bundles/jest.config.js
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/jest.config.js
  test/e2e/overlays.rendering.test.ts
  test/integration/jest.config.js
  test/performance/bpmn.navigation.performance.test.ts
  test/performance/jest.config.js
  test/unit/jest.config.js
  tsconfig.test.json
Labels: infra:build

#1700 [INFRA] Investigate flaky bundle tests
  package.json
  test/bundles/jest-playwright.config.js
Labels: infra:build

#1703 [INFRA] Improve the tsconfig of the performance tests
  test/performance/jest.config.js
  test/performance/tsconfig.json
Labels: infra:build

#1702 [INFRA] Limit the number of pull requests created by dependabot
  .github/dependabot.yml
Labels: infra:repo

#1705 [TEST] Avoid usage of the Playwright page global in PageTester
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.navigation.fit.test.ts
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/overlays.rendering.test.ts
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
Labels: infra:build

#1706 [TEST] Simplify the performance test
  test/performance/bpmn.navigation.performance.test.ts
Labels: infra:build

#1708 [TEST] Avoid usage of the PW page global in utils functions
  test/e2e/diagram.navigation.fit.test.ts
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/overlays.rendering.test.ts
  test/performance/bpmn.navigation.performance.test.ts
Labels: infra:build

#1701 [INFRA] Run tests also with Chrome and Edge
  .github/workflows/build.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
  .github/workflows/publish-npm.yml
  .github/workflows/test-e2e.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  docs/contributors/testing.md
  test/bundles/jest-playwright.config.js
  test/e2e/config/playwright.ts
  test/e2e/jest-playwright.config.js
  test/helpers/config/jest-playwright.js
  test/performance/jest-playwright.config.js
Labels: infra:build

#1711 [TEST] Simplify the performance test
  test/performance/bpmn.load.performance.test.ts
Labels: infra:build

#1710 [REFACTOR] Fix remaining SonarCloud issues
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/shape/event-shapes.ts
Labels: infra:refactoring

#1715 [DOC] Add a paragraph about BPMN Theme
  docs/users/bpmn-support.adoc
  docs/users/images/bpmn-theme-custom-colors.png
  docs/users/images/bpmn-theme-default.png
  docs/users/overview.adoc
Labels: documentation

#1714 [INFRA] Run the CodeQL analysis workflow only when needed
  .github/workflows/codeql-analysis.yml
Labels: infra:build

#1713 [INFRA] Let dependabot update github-actions
  .github/dependabot.yml
Labels: infra:repo
