Repository process-analytics/bpmn-visualization-js, pull requests merged in 2021-04, with the labels that each got.

#1207 [FEAT] Add overlays on Edge
  src/component/mxgraph/overlay/custom-overlay.ts
  test/e2e/__image_snapshots__/overlays/on-position-end/add.overlay.on.association.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on-position-end/add.overlay.on.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on-position-end/add.overlay.on.sequence.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on-position-middle/add.overlay.on.association.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on-position-middle/add.overlay.on.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on-position-middle/add.overlay.on.sequence.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on-position-start/add.overlay.on.association.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on-position-start/add.overlay.on.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on-position-start/add.overlay.on.sequence.flow-snap.png
  test/e2e/__image_snapshots__/overlays/remove.all.overlays.of.association.flow-snap.png
  test/e2e/__image_snapshots__/overlays/remove.all.overlays.of.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/remove.all.overlays.of.sequence.flow-snap.png
  test/e2e/diagram.overlays.rendering.test.ts
  test/fixtures/bpmn/overlays/overlays.edges.associations.complex.paths.bpmn
  test/fixtures/bpmn/overlays/overlays.edges.message.flows.complex.paths.bpmn
  test/fixtures/bpmn/overlays/overlays.edges.sequence.flows.complex.paths.bpmn
  test/fixtures/bpmn/overlays/overlays.start.flow.task.gateway.no.waypoints.bpmn
  test/helpers/overlays.ts
  test/integration/dom.interactions.test.ts
  test/integration/helpers/html-utils.ts
Labels: BPMN diagram usability, mvp

#1214 [TEST] Add overlays navigation visual tests
  src/overlays.html
  src/rendering-diagram.html
  src/static/css/test.css
  src/static/js/overlays.js
  src/static/js/rendering-diagram.js
  src/static/js/test.js
  test/e2e/__image_snapshots__/overlays/panning-snap.png
  test/e2e/__image_snapshots__/overlays/zoom.out-snap.png
  test/e2e/bpmn.navigation.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/overlays.rendering.test.ts
Labels: infra:build, infra:refactoring, mvp

#1216 [DOC] Add various improvements
  README.md
  docs/users/overview.adoc
Labels: documentation

#1224 [INFRA] dev - Bump typed-mxgraph from 1.0.0 to 1.0.1
  package-lock.json
  package.json
  src/component/mxgraph/BpmnMxGraph.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/overlay/shapes.ts
  tsconfig.typedoc.json
Labels: dependencies

#1218 [FEAT] Provide styling options for Overlay
  src/api/public/api.ts
  src/component/mxgraph/MxGraphCellUpdater.ts
  src/component/mxgraph/StyleUtils.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/overlay/OverlayConverter.ts
  src/component/mxgraph/overlay/custom-overlay.ts
  src/component/mxgraph/overlay/shapes.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/types.ts
  src/demo/index.ts
  src/overlays.html
  src/static/js/elements-identification.js
  src/static/js/overlays.js
  test/e2e/__image_snapshots__/overlays/with.custom.style/add.overlay.with.custom.fill-snap.png
  test/e2e/__image_snapshots__/overlays/with.custom.style/add.overlay.with.custom.font-snap.png
  test/e2e/__image_snapshots__/overlays/with.custom.style/add.overlay.with.custom.stroke-snap.png
  test/e2e/overlays.rendering.test.ts
  test/integration/dom.interactions.test.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/mxGraph.model.test.ts
  test/unit/component/mxgraph/overlay/OverlayConverter.test.ts
Labels: BPMN diagram usability, enhancement, mvp

#1225 [TEST] Simplify the directory layout of the shapes/edges overlay snapshots
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-end/add.overlay.on.association.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-end/add.overlay.on.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-end/add.overlay.on.sequence.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-middle/add.overlay.on.association.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-middle/add.overlay.on.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-middle/add.overlay.on.sequence.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-start/add.overlay.on.association.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-start/add.overlay.on.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/on-position-start/add.overlay.on.sequence.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/remove.all.overlays.of.association.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/remove.all.overlays.of.message.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.edge/remove.all.overlays.of.sequence.flow-snap.png
  test/e2e/__image_snapshots__/overlays/on.shape/add.overlay.on.position.bottom-center-snap.png
  test/e2e/__image_snapshots__/overlays/on.shape/add.overlay.on.position.bottom-left-snap.png
  test/e2e/__image_snapshots__/overlays/on.shape/add.overlay.on.position.bottom-right-snap.png
  test/e2e/__image_snapshots__/overlays/on.shape/add.overlay.on.position.middle-left-snap.png
  test/e2e/__image_snapshots__/overlays/on.shape/add.overlay.on.position.middle-right-snap.png
  test/e2e/__image_snapshots__/overlays/on.shape/add.overlay.on.position.top-center-snap.png
  test/e2e/__image_snapshots__/overlays/on.shape/add.overlay.on.position.top-left-snap.png
  test/e2e/__image_snapshots__/overlays/on.shape/add.overlay.on.position.top-right-snap.png
  test/e2e/__image_snapshots__/overlays/on.shape/remove.all.overlays.of.shape-snap.png
  test/e2e/overlays.rendering.test.ts
Labels: infra:refactoring

#1197 [INFRA] Run WebKit e2e tests on macOS
  .github/workflows/test-e2e.yml
  test/e2e/bpmn.navigation.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.rendering.test.ts
  test/e2e/helpers/test-utils.ts
  test/e2e/helpers/visu/image-snapshot-config.ts
  test/e2e/overlays.rendering.test.ts
Labels: infra:build

#1235 [TEST] Improve thresholds configuration for overlay styles visual tests
  test/e2e/overlays.rendering.test.ts
Labels: infra:build

#1243 [DOC] Fix typo on the example for the RemoveAllOverlays in the documentation
  src/component/registry/bpmn-elements-registry.ts
Labels: documentation

#1255 [DOC] Improve the bpmn-visualization presentation sentence
  README.md
  docs/users/intro.adoc
Labels: documentation

#1258 [DOC] Improve the Diagram Navigation paragraph in user documentation
  docs/users/overview.adoc
Labels: documentation
