Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-12, with the labels that each got.

#2379 [INFRA] Bump rollup from 2.79.1 to 3.6.0
  .github/workflows/upload-npm-package.yml
  package-lock.json
  package.json
  rollup.config.mjs
Labels: dependencies, javascript, skip-changelog

#2373 [FEAT] Render complex gateway
  docs/contributors/bpmn-support-how-to.md
  docs/contributors/images/inkscape-result1.png
  docs/contributors/images/inkscape-result2.png
  docs/users/bpmn-support.adoc
  docs/users/images/icons/gateway_complex.svg
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/icon-painter.ts
  test/e2e/__image_snapshots__/bpmn-rendering/gateways.png
Labels: enhancement, BPMN rendering

#2401 [DEMO] Bump fontawesome from 6.2.0 to 6.2.1
  dev/public/index.html
Labels: enhancement, example

#2425 [DOC] Fix typo in the maintainers documentation
  docs/contributors/maintainers.md
Labels: documentation

#2419 [INFRA] Simplify release announces
  .github/workflows/announce-new-release.yml
  docs/contributors/maintainers.md
Labels: chore
