Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-04, with the labels that each got.

#1903 [INFRA] Add a worfklow to review dependencies in PR
  .github/workflows/dependency-review-pr.yml
Labels: infra:build

#1920 [INFRA] Notify the bpmn-visualization-R repository after NPM publish
  .github/workflows/publish-npm.yml
Labels: infra:repo

#1927 [INFRA] Remove declaration of the rollup json plugin
  package-lock.json
  package.json
  rollup.config.js
  utils.rollup.config.mjs
Labels: infra:build

#1930 [INFRA] Simplify surge preview teardown
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
Labels: infra:repo

#1926 [INFRA] Notify repositories of new version with a custom GH action
  .github/actions/notify-PA-repo-of-new-version/action.yml
  .github/workflows/publish-npm.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  docs/contributors/images/release_process_part-01_release_automation.png
  docs/contributors/maintainers.md
  docs/contributors/resources/bpmn-visualization-release-process.bpmn
Labels: infra:repo

#1934 [INFRA] Temporarly disable Chrome and Edge e2e tests on CI
  .github/workflows/test-e2e.yml
Labels: infra:repo

#1929 [REFACTOR] Review the XML parsing configuration
  .github/workflows/build.yml
  package.json
  rollup.config.js
  scripts/utils/README.md
  scripts/utils/parseBpmn.ts
  scripts/utils/rollup.config.mjs
  src/component/parser/xml/BpmnXmlParser.ts
  test/fixtures/bpmn/xml-parsing/miwg-A.1.0_modified_01_french_characters.bpmn
  test/fixtures/bpmn/xml-parsing/miwg-A.1.0_modified_02_japanese_characters.bpmn
  test/fixtures/bpmn/xml-parsing/miwg-A.1.0_modified_10_entities.bpmn
  test/fixtures/bpmn/xml-parsing/special/start-tasks-end_entities_in_attributes.bpmn
  test/unit/component/parser/xml/BpmnXmlParser.00.special.parsing.cases.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.miwg.test.ts
Labels: infra:refactoring
