Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-09, with the labels that each got.

#2241 [DOC] Add a changelog file that refs GH releases
  CHANGELOG.md
Labels: documentation

#2242 [DOC] Simplify the introduction of the user documentation
  docs/users/intro.adoc
Labels: documentation

#2240 [FIX] Do not export ModelFiltering in types
  src/component/registry/bpmn-model-filters.ts
Labels: lib integration

#2248 [FIX] Fix the browser field in package.json
  package.json
  rollup.config.js
Labels: bug, lib integration

#2251 [DOC] README indicates the lowest supported TypeScript version
  README.md
Labels: documentation

#2267 [TEST] Add more tests when passing CSS classes separated by spaces
  test/integration/dom.css.classes.test.ts
  test/unit/component/registry/css-registry.test.ts
Labels: chore

#2250 [FEAT] Detect Complex Gateway
  docs/contributors/bpmn-support-how-to.md
  docs/contributors/testing.md
  docs/users/bpmn-support.adoc
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/model/bpmn/internal/shape/kinds.ts
  src/model/bpmn/internal/shape/utils.ts
  test/e2e/__image_snapshots__/bpmn-rendering/gateways.png
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
Labels: enhancement, BPMN support

#2258 [FEAT] Simplify the integration in TypeScript project
  .github/workflows/upload-npm-package.yml
  .gitignore
  README.md
  src/bpmn-visualization.ts
  test/typescript-support/package-lock.json
  test/typescript-support/package.json
  test/typescript-support/src/index.ts
  test/typescript-support/tsconfig.json
  tsconfig.json
Labels: enhancement, lib integration

#2271 [REFACTOR] Remove the deprecated `fit` method
  src/component/BpmnVisualization.ts
  test/integration/diagram.navigation.test.ts
Labels: refactoring

#2254 [DOC] Improve the release 'how-to'
  docs/contributors/maintainers.md
Labels: documentation
