Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-07, with the labels that each got.

#2095 [DOC] Improve the doc of API marked as experimental in the HTML docs
  src/component/BpmnVisualization.ts
Labels: documentation

#2097 [REFACTOR] Move 'verify shape' function for event in utils file
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/helpers/bpmn-model-expect.ts
Labels: infra:refactoring

#2092 [TEST] Make performance tests work
  .github/workflows/test-performance.yml
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
  test/performance/data/linux/data.js
  test/performance/data/macos/data.js
  test/performance/data/windows/data.js
  test/performance/helpers/file-utils.ts
  test/performance/jest.config.js
Labels: infra:build

#2100 [TEST] Add option to add Participant on JsonBuilder
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:build

#2101 [TEST] Customize Task in generated json by JsonBuilder
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:build

#2102 [TEST] Add several Exclusive Gateway in generated json by JsonBuilder
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:build

#2103 [TEST] Add several Call Activity in generated json by JsonBuilder
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:build

#2104 [TEST] Add several Message Flow in generated json by JsonBuilder
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:build, depends on another PR :warning:

#2105 [TEST] Change the way to build an event with JsonBuilder
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:build

#2094 [REFACTOR] Simplify zoom done with Mouse Wheel
  src/component/mxgraph/BpmnGraph.ts
  src/component/mxgraph/GraphConfigurator.ts
  test/performance/data/linux/data.js
  test/performance/data/macos/data.js
  test/performance/data/windows/data.js
Labels: infra:refactoring

#2099 [TEST] Add new combination of unit tests for the Message Flows
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
Labels: infra:build

#2106 [TEST] Refactor event unit tests for JsonParser
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
Labels: infra:build

#2132 [TEST] To be able to override the generic id of the generated event with JsonBuilder
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:build

#2141 [REFACTOR] JsonBuilder: Ensure that the generated events have the fields of their kind
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring

#2142 [REFACTOR] JsonBuilder: Choose the kind of the gateway to generate
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring

#2143 [REFACTOR] JsonBuilder: Don't generate a default name if it's not in the parameter to build flownode
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring

#2144 [REFACTOR] JsonBuilder: Choose if a participant should be generated on each Process and not for every Process
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring

#2145 [REFACTOR] JsonBuilder: Choose the kind of the task to generate
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring

#2146 [REFACTOR] JsonBuilder: Add missing field in Call activity: calledElement and isExpanded
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring

#2147 [TEST] JsonBuilder: Don't generate Bounds for Edge
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring

#2148 [TEST] JsonBuilder: Add subProcess on the generated Definitions JSON
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring

#2149 [TEST] JsonBuilder: Add sequenceFlow on a Process
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring
