Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-05, with the labels that each got.

#1932 [REFACTOR] Fix SonarCloud code smells
  src/component/mxgraph/GraphConfigurator.ts
  src/component/mxgraph/config/MarkerConfigurator.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
Labels: infra:refactoring

#1942 [INFRA] Fix custom action with no parameter for demo
  .github/actions/notify-PA-repo-of-new-version/action.yml
Labels: infra:repo

#1947 [REFACTOR] Simplify mxGraph initialization
  src/component/mxgraph/initializer.ts
Labels: infra:refactoring

#1951 [DOC] Warn usage of headful browser mode when testing
  docs/contributors/testing.md
Labels: documentation

#1957 [INFRA] Include the NOTICE file in the npm package
  NOTICE
  package.json
Labels: infra:build

#1953 [EXAMPLE] Update assets loading in the demo
  dev/public/index.html
  dev/public/static/img/logo_64x64_white.png
  dev/public/static/img/logo_white.svg
Labels: example

#1952 [TEST] Simplify the code of some tests
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/unit/component/parser/xml/BpmnXmlParser.00.special.parsing.cases.test.ts
Labels: infra:refactoring

#1962 [TEST] Fix threshold of visual tests on macOS with Chromium
  test/e2e/bpmn.elements.collapsed.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/bpmn.theme.test.ts
  test/e2e/helpers/visu/image-snapshot-config.ts
Labels: infra:build

#1977 [INFRA] Restore Chrome and Edge e2e tests on CI
  .github/workflows/test-e2e.yml
Labels: infra:build

#1974 [INFRA] Fix released demo artifact name
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
Labels: infra:build

#1990 [INFRA] Allow only update of dependencies to patch versions
  package-lock.json
  package.json
Labels: infra:build

#1996 [DOC] Update Live IDE examples on release
  docs/contributors/maintainers.md
Labels: documentation

#1988 [FEAT] Add a new API to zoom the BPMN diagram
  dev/public/diagram-navigation.html
  dev/public/index.html
  dev/public/static/js/diagram-navigation.js
  dev/public/static/js/index.js
  dev/ts/demo.ts
  src/bpmn-visualization.ts
  src/component/BpmnVisualization.ts
  src/component/mxgraph/BpmnGraph.ts
  src/component/navigation.ts
  src/component/options.ts
  test/e2e/__image_snapshots__/navigation/button.zoom.in-snap.png
  test/e2e/__image_snapshots__/navigation/button.zoom.out-snap.png
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/overlays.rendering.test.ts
  test/integration/BpmnVisualization.test.ts
  test/integration/diagram.navigation.test.ts
  test/performance/bpmn.navigation.performance.test.ts
  typedoc.json
Labels: enhancement, BPMN diagram navigation
