Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-06, with the labels that each got.

#1992 [DOC] Simplify section levels in both primary and included pages
  docs/users/bpmn-support.adoc
  docs/users/index.adoc
  docs/users/overview.adoc
Labels: documentation

#2003 [INFRA] Review the Gitpod configuration
  .theia/settings.json
  .vscode/launch.json
  docs/contributors/ide-configuration.md
Labels: infra:refactoring

#1989 [DOC] Improve CSS classes and default colors information
  docs/users/overview.adoc
  src/component/registry/bpmn-elements-registry.ts
Labels: documentation

#1950 [DOC] Add a paragraph about the bpmn-visualization strengths
  README.md
Labels: documentation

#2023 [INFRA] Use ViteJS for development and the demo build
  .gitignore
  dev/public/diagram-navigation.html
  dev/public/elements-identification.html
  dev/public/index.html
  dev/public/lib-integration.html
  dev/public/non-regression.html
  dev/public/overlays.html
  dev/public/static/js/diagram-navigation.js
  dev/public/static/js/elements-identification.js
  dev/public/static/js/index.js
  dev/public/static/js/lib-integration.js
  dev/public/static/js/non-regression.js
  dev/public/static/js/overlays.js
  docs/contributors/demo-page-css.md
  docs/contributors/development.md
  docs/contributors/testing.md
  index.html
  package-lock.json
  package.json
  postcss.config.js
  rollup.config.js
  scripts/prepare-demo-for-publish.mjs
  test/config/jest-playwright.js
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/jest.config.js
  test/performance/jest.config.js
  tsconfig.json
  vite.config.js
Labels: infra:build

#2032 [INFRA] Fix GH Token permissions for codeql analysis workflow
  .github/workflows/codeql-analysis.yml
Labels: infra:repo

#2033 [INFRA] Remove unused rollup plugins
  package-lock.json
  package.json
Labels: infra:build

#2034 [DEMO] Add a select button to switch the BPMN Theme
  dev/public/index.html
  dev/public/static/js/index.js
  dev/ts/component/ThemedBpmnVisualization.ts
  dev/ts/main.ts
Labels: enhancement, example

#2048 [INFRA] Run GitHub Actions on macOS 12
  .github/workflows/build.yml
  .github/workflows/test-e2e.yml
Labels: infra:build

#2049 [INFRA] Remove build setup duplication in GitHub workflows
  .github/actions/build-setup/action.yml
  .github/workflows/build.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
  .github/workflows/test-e2e.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  scripts/manage-version-in-files.mjs
Labels: infra:build

#2051 [REFACTOR] Apply some refactoring in ProcessConverter & JsonTestUtils
  src/component/parser/json/BpmnJsonParser.ts
  src/component/parser/json/converter/CategoryConverter.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: infra:refactoring

#2068 [TEST] Improve integration tests about the lib initialization
  src/component/mxgraph/GraphConfigurator.ts
  test/integration/BpmnVisualization.test.ts
  test/integration/config/hide-console-warnings.js
  test/integration/helpers/bpmn-visualization-initialization.ts
  test/integration/jest.config.js
  test/unit/component/parser/json/BpmnJsonParser.edge.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/parsing-messages.test.ts
Labels: infra:build

#2066 [REFACTOR] Simplify the `ensureIsArray` function
  src/component/helpers/array-utils.ts
Labels: infra:refactoring

#2065 [DOC] Improve Gitpod and VSCode documentation for contributors
  .gitpod.yml
  .vscode/settings.json
  docs/contributors/ide-configuration.md
Labels: documentation

#2069 [TEST] Improve integration tests of the load API
  src/component/BpmnVisualization.ts
  src/component/mxgraph/BpmnRenderer.ts
  test/integration/BpmnVisualization.test.ts
  test/integration/diagram.navigation.test.ts
  test/integration/helpers/fit-utils.ts
Labels: infra:build

#2067 [TEST] Simplify imports of expected model elements
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/component/parser/json/BpmnJsonParser.association.test.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.diagram.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.group.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.normal.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.text.annotation.test.ts
  test/unit/component/parser/json/JsonTestUtils.ts
Labels: infra:refactoring

#2072 [INFRA] Improve surge preview workflows
  .github/actions/custom-surge-preview/action.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
Labels: infra:build
