Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-03, with the labels that each got.

#1836 [EXAMPLE] Improve the layout of the demo for mobile
  dev/public/index.html
  src/component/options.ts
Labels: enhancement, example

#1835 [DOC] Export SVG icons for documentation
  docs/users/bpmn-support.adoc
  docs/users/images/icons/event_boundary_cancel.svg
  docs/users/images/icons/event_end_cancel.svg
  docs/users/images/icons/event_end_error.svg
  docs/users/images/icons/event_end_terminate.svg
  docs/users/images/icons/event_intermediate_catch_link.svg
  docs/users/images/icons/event_intermediate_catch_start_boundary_conditional.svg
  docs/users/images/icons/event_intermediate_catch_start_boundary_message.svg
  docs/users/images/icons/event_intermediate_catch_start_boundary_signal.svg
  docs/users/images/icons/event_intermediate_catch_start_boundary_timer.svg
  docs/users/images/icons/event_intermediate_throw_end_compensation.svg
  docs/users/images/icons/event_intermediate_throw_end_escalation.svg
  docs/users/images/icons/event_intermediate_throw_end_message.svg
  docs/users/images/icons/event_intermediate_throw_end_signal.svg
  docs/users/images/icons/event_intermediate_throw_link.svg
  docs/users/images/icons/event_start_boundary_compensation.svg
  docs/users/images/icons/event_start_boundary_error.svg
  docs/users/images/icons/event_start_boundary_escalation.svg
  docs/users/images/icons/gateway_event_based.svg
  docs/users/images/icons/gateway_exclusive.svg
  docs/users/images/icons/gateway_inclusive.svg
  docs/users/images/icons/gateway_parallel.svg
  docs/users/images/icons/marker_expand.svg
  docs/users/images/icons/marker_loop.svg
  docs/users/images/icons/marker_multi_instance_parallel.svg
  docs/users/images/icons/marker_multi_instance_sequential.svg
  docs/users/images/icons/task_business_rule.svg
  docs/users/images/icons/task_manual.svg
  docs/users/images/icons/task_receive.svg
  docs/users/images/icons/task_script.svg
  docs/users/images/icons/task_send.svg
  docs/users/images/icons/task_service.svg
  docs/users/images/icons/task_user.svg
Labels: documentation

#1851 [INFRA] Improve the release-notes generation and documentation
  .github/release-drafter.yml
  .github/workflows/fill-gh-draft-release.yml
  docs/contributors/maintainers.md
Labels: infra:repo

#1853 [INFRA] Improve contributors list detection by release-drafter
  .github/release-drafter.yml
Labels: infra:repo

#1855 [INFRA] Declare `typed-mxgraph` in production dependencies
  README.md
  package-lock.json
  package.json
Labels: lib integration

#1857 [INFRA] Send a Slack notification after NPM publish
  .github/workflows/publish-npm.yml
Labels: infra:build

#1858 [FIX] Make the Version API return the actual released version
  .github/workflows/release.yml
  package.json
  scripts/manage-version-in-files.mjs
  src/component/version.ts
Labels: bug

#1865 [INFRA] prod - Bump typed-mxgraph from 1.0.4 to 1.0.5
  package-lock.json
  package.json
Labels: dependencies, javascript

#1866 [EXAMPLE] Better highlight conditional and default sequence flows
  dev/public/elements-identification.html
Labels: example

#1867 [TEST] Add visual tests for edges targeting collapsed elements
  dev/ts/demo.ts
  test/e2e/__image_snapshots__/collapse-expand/pools-collapse-Participant_1-snap.png
  test/e2e/__image_snapshots__/collapse-expand/pools-collapse-Participant_2-snap.png
  test/e2e/__image_snapshots__/collapse-expand/pools-collapse-Participant_3-snap.png
  test/e2e/__image_snapshots__/collapse-expand/pools-collapse-Participant_4-snap.png
  test/e2e/__image_snapshots__/collapse-expand/pools-collapse-none-snap.png
  test/e2e/__image_snapshots__/collapse-expand/subprocess-collapse-SubProcess_1-snap.png
  test/e2e/__image_snapshots__/collapse-expand/subprocess-collapse-none-snap.png
  test/e2e/bpmn.elements.collapsed.test.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/fixtures/bpmn/collapse-expand/pools.bpmn
  test/fixtures/bpmn/collapse-expand/subprocess.bpmn
Labels: infra:build

#1879 [INFRA] Fix the release GitHub workflow
  package.json
  scripts/manage-version-in-files.mjs
Labels: infra:repo

#1872 [INFRA] prod - Bump mxgraph from 4.1.0 to 4.2.2
  docs/contributors/mxgraph-integration.md
  docs/contributors/mxgraph-version-bump.md
  package-lock.json
  package.json
  src/component/mxgraph/config/ShapeConfigurator.ts
  test/e2e/__image_snapshots__/bpmn/flows.message.02.labels.and.complex.paths-snap.png
  test/e2e/__image_snapshots__/bpmn/group.01.in.process.with.label-snap.png
  test/e2e/__image_snapshots__/bpmn/group.02.in.collaboration.with.label-snap.png
  test/e2e/__image_snapshots__/bpmn/labels.01.general-snap.png
  test/e2e/__image_snapshots__/bpmn/labels.02.position.and.line.breaks-snap.png
  test/e2e/__image_snapshots__/bpmn/labels.03.default.position-snap.png
  test/e2e/__image_snapshots__/bpmn/labels.04.fonts-snap.png
  test/e2e/__image_snapshots__/bpmn/pools.01.labels.and.lanes-snap.png
  test/e2e/__image_snapshots__/bpmn/pools.02.vertical.with.lanes-snap.png
  test/e2e/__image_snapshots__/bpmn/pools.03.black.box-snap.png
  test/e2e/__image_snapshots__/fit/type-Center/margin-0/with.outside.labels-snap.png
  test/e2e/__image_snapshots__/fit/type-Horizontal/margin-0/with.outside.labels-snap.png
  test/e2e/__image_snapshots__/fit/type-HorizontalVertical/margin-0/with.outside.labels-snap.png
  test/e2e/__image_snapshots__/fit/type-None/margin-0/with.outside.labels-snap.png
  test/e2e/__image_snapshots__/fit/type-Vertical/margin-0/with.outside.labels-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/e2e/diagram.navigation.fit.test.ts
  test/integration/dom.css.classes.test.ts
Labels: dependencies, javascript

#1893 [DOC] Update the list of working browsers with v0.23.0
  README.md
Labels: documentation
