Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-01, with the labels that each got.

#1735 [DOC] Reference the BPMN Support doc instead of source in README
  README.md
Labels: documentation

#1734 [DOC] Improve the BPMN Theme documentation
  docs/users/images/bpmn-theme-custom-colors.png
  docs/users/images/bpmn-theme-default.png
  docs/users/overview.adoc
Labels: documentation

#1733 [TEST] Add visual tests for BPMN Theme
  dev/ts/component/ThemedBpmnVisualization.ts
  dev/ts/demo.ts
  test/e2e/__image_snapshots__/bpmn/all.elements.fill.color-snap.png
  test/e2e/__image_snapshots__/theme/container-background-snap.png
  test/e2e/__image_snapshots__/theme/theme-brown-snap.png
  test/e2e/__image_snapshots__/theme/theme-dark-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/e2e/bpmn.theme.test.ts
  test/e2e/config/copy.bpmn.diagram.ts
  test/e2e/diagram.navigation.fit.test.ts
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/helpers/visu/image-snapshot-config.ts
  test/e2e/overlays.rendering.test.ts
  test/fixtures/bpmn/theme/01.most.bpmn.types.without.label.bpmn
Labels: infra:build

#1746 [TEST] Increase the delay for zooming on the slow environments
  test/e2e/helpers/test-utils.ts
  test/helpers/config/jest-playwright.js
  test/helpers/environment-utils.js
Labels: infra:build

#1749 [TEST] Reduce default verbosity of test logs
  .github/workflows/build.yml
  .github/workflows/test-e2e.yml
  docs/contributors/testing.md
  package.json
Labels: infra:build

#1753 [INFRA] Simplify demo CSS watch configuration
  docs/contributors/demo-page-css.md
  package-lock.json
  package.json
  rollup.config.js
Labels: infra:build

#1752 [FEAT] Improve the robustness of the XML Parser
  src/component/parser/xml/BpmnXmlParser.ts
  test/fixtures/bpmn/xml-parsing/special/path.png
  test/integration/BpmnVisualization.test.ts
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.00.special.parsing.cases.test.ts
Labels: enhancement, BPMN support

#1755 [REFACTOR] Rename classes and functions related to mxGraph
  src/component/BpmnVisualization.ts
  src/component/mxgraph/BpmnGraph.ts
  src/component/mxgraph/BpmnRenderer.ts
  src/component/mxgraph/GraphCellUpdater.ts
  src/component/mxgraph/GraphConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
  src/component/registry/bpmn-elements-registry.ts
Labels: infra:refactoring

#1759 [INFRA] Add a git changelog link in the release notes
  .github/release-drafter.yml
Labels: infra:repo

#1756 [TEST] Simplify BPMN diagrams management
  docs/contributors/bpmn-support-how-to.md
  docs/contributors/testing.md
  test/bundles/bundles.test.ts
  test/bundles/tsconfig.json
  test/config/copy.bpmn.diagram.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/bpmn.theme.test.ts
  test/e2e/diagram.navigation.fit.test.ts
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/generated.svg.test.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/overlays.rendering.test.ts
  test/e2e/tsconfig.json
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
  test/tsconfig.json
Labels: infra:build

#1761 [FIX] Do not display window alert on BPMN load error
  dev/ts/component/DropFileUserInterface.ts
  dev/ts/demo.ts
  dev/ts/helper.ts
  src/component/BpmnVisualization.ts
Labels: lib integration

#1764 [DOC] Improve the release notes guide for examples
  docs/contributors/images/release_process_part-10_examples_release-notes.png
  docs/contributors/maintainers.md
Labels: documentation

#1765 [TEST] Add visual tests for terminal waypoints special cases
  test/e2e/__image_snapshots__/bpmn/associations.and.annotations.03.waypoints.01.inside.shape-snap.png
  test/e2e/__image_snapshots__/bpmn/associations.and.annotations.03.waypoints.02.outside.shape-snap.png
  test/e2e/__image_snapshots__/bpmn/associations.and.annotations.03.waypoints.03.none-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.message.02.labels.and.complex.paths-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.message.03.waypoints.01.none-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.message.03.waypoints.02.inside-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.message.03.waypoints.03.outside-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.04.waypoints.01.none-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.04.waypoints.02.terminal.inside.shapes-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.04.waypoints.03.terminal.outside.shapes.01.general-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.04.waypoints.03.terminal.outside.shapes.02.segments.no.intersection.with.shapes-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.04.waypoints.04.terminal.bonita.events-snap.png
  test/e2e/__image_snapshots__/bpmn/flows.sequence.04.waypoints.05.terminal.bonita.gateways-snap.png
  test/e2e/bpmn.rendering.test.ts
  test/fixtures/bpmn/non-regression/associations.and.annotations.03.waypoints.01.inside.shape.bpmn
  test/fixtures/bpmn/non-regression/associations.and.annotations.03.waypoints.02.outside.shape.bpmn
  test/fixtures/bpmn/non-regression/associations.and.annotations.03.waypoints.03.none.bpmn
  test/fixtures/bpmn/non-regression/flows.message.02.labels.and.complex.paths.bpmn
  test/fixtures/bpmn/non-regression/flows.message.03.waypoints.01.none.bpmn
  test/fixtures/bpmn/non-regression/flows.message.03.waypoints.02.inside.bpmn
  test/fixtures/bpmn/non-regression/flows.message.03.waypoints.03.outside.bpmn
  test/fixtures/bpmn/non-regression/flows.sequence.04.waypoints.01.none.bpmn
  test/fixtures/bpmn/non-regression/flows.sequence.04.waypoints.02.terminal.inside.shapes.bpmn
  test/fixtures/bpmn/non-regression/flows.sequence.04.waypoints.03.terminal.outside.shapes.01.general.bpmn
  test/fixtures/bpmn/non-regression/flows.sequence.04.waypoints.03.terminal.outside.shapes.02.segments.no.intersection.with.shapes.bpmn
  test/fixtures/bpmn/non-regression/flows.sequence.04.waypoints.04.terminal.bonita.events.bpmn
  test/fixtures/bpmn/non-regression/flows.sequence.04.waypoints.05.terminal.bonita.gateways.bpmn
Labels: infra:build

#1778 [REFACTOR] Simplify StyleConfigurator
  src/component/mxgraph/config/StyleConfigurator.ts
Labels: infra:refactoring
