Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-10, with the labels that each got.

#2272 [FEAT] Explicit error message when using too old TypeScript versions
  .github/workflows/build.yml
  .github/workflows/upload-npm-package.yml
  docs/contributors/README.md
  docs/contributors/supported-typescript-version.md
  package.json
  rollup.config.js
  scripts/generate-types-for-not-supported-ts-versions.mjs
  test/bundles/bundles.test.ts
  test/typescript-support/.npmrc
  test/typescript-support/package-lock.json
  tsconfig.bundle.json
  tsconfig.npm-package.json
Labels: enhancement, lib integration

#2275 [DOC] Update the REAME hero image to promote Hacktoberfest
  README.md
Labels: documentation

#2274 [INFRA] Upload artifact when unable to deploy to surge
  .github/actions/custom-surge-preview/action.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
Labels: chore

#2284 [INFRA] Run some GH workflows less often
  .github/workflows/build.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/test-e2e.yml
  .github/workflows/upload-npm-package.yml
Labels: chore

#2282 [FIX] Allow BPMN container HTML element without id
  dev/public/elements-identification.html
  dev/public/static/js/elements-identification.js
  dev/ts/component/DropFileUserInterface.ts
  dev/ts/main.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/query-selectors.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/helpers/query-selectors.ts
  test/integration/BpmnVisualization.test.ts
  test/integration/dom.bpmn.elements.test.ts
  test/integration/dom.container.div.test.ts
  test/integration/dom.css.classes.test.ts
  test/integration/dom.overlays.test.ts
  test/integration/helpers/bpmn-visualization-initialization.ts
  test/integration/helpers/dom-utils.ts
  test/integration/helpers/html-utils.ts
Labels: bug, BPMN diagram usability

#2288 [INFRA] Update the keywords of the npm package
  package.json
Labels: chore

#2295 [DOC] Announce releases on Discord
  docs/contributors/maintainers.md
Labels: documentation

#2297 [DOC] Simplify the content of the NOTICE file
  NOTICE
  package.json
Labels: documentation

#2313 [INFRA] Remove CommonJS and minified ESM bundles from the npm package
  README.md
  package.json
  rollup.config.js
  test/bundles/bundles.test.ts
  tsconfig.json
Labels: lib integration

#2315 [DEMO] Bump fontawesome from 6.1.2 to 6.2.0
  dev/public/index.html
Labels: enhancement, example

#2321 [DOC] Improve the BPMN support how-to
  docs/contributors/README.md
  docs/contributors/bpmn-support-how-to.md
Labels: documentation

#2325 [REFACTOR] Include a single file for types in the npm package
  .github/workflows/upload-npm-package.yml
  config/api-extractor.json
  package-lock.json
  package.json
  scripts/generate-types-for-not-supported-ts-versions.mjs
  src/component/mxgraph/initializer.ts
  test/bundles/bundles.test.ts
  test/bundles/jest.config.js
  test/bundles/npm.package.test.ts
  tsconfig.npm-package.json
Labels: lib integration

#2326 [FEAT] Downlevel the minimum supported TS version from 4.5 to 4.0
  README.md
  package.json
  scripts/generate-types-for-not-supported-ts-versions.mjs
  test/typescript-support/package.json
Labels: enhancement, lib integration
