Repository process-analytics/bpmn-visualization-js, pull requests merged in 2022-08, with the labels that each got.

#2150 [TEST] JsonBuilder: Add laneSet & lane on a Process
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: infra:refactoring

#2169 [INFRA] Fix the demo package: allow deploy on a non root context
  .github/workflows/generate-demo-preview.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  scripts/prepare-demo-for-publish.mjs
  vite.config.js
Labels: infra:build

#2175 [EXAMPLE] Improve assets management
  dev/public/bpmn-rendering.html
  dev/public/diagram-navigation.html
  dev/public/elements-identification.html
  dev/public/index.html
  dev/public/lib-integration.html
  dev/public/overlays.html
  dev/public/static/img/favicon.png
  dev/public/static/img/favicon.svg
  dev/public/static/js/bpmn-rendering.js
  docs/users/index.adoc
  scripts/docs.js
  vite.config.js
Labels: enhancement, example

#1869 [DOC] Improve the usability of README
  README.md
  docs/users/bpmn-support.adoc
  docs/users/overview.adoc
  src/component/BpmnVisualization.ts
  src/component/options.ts
  src/component/version.ts
  typedoc.json
Labels: documentation

#2129 [FIX] Don't convert Process without Participant as a Pool
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/model/bpmn/internal/shape/ShapeBpmnElement.ts
  test/e2e/__image_snapshots__/bpmn-rendering/pools.04.not.displayed.with.elements-snap.png
  test/fixtures/bpmn/bpmn-rendering/pools.04.not.displayed.with.elements.bpmn
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.group.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
Labels: bug, BPMN support

#2180 [DEMO] Provide more space for the BPMN diagram
  dev/public/index.html
Labels: enhancement, example

#2190 [FEAT] Allow to fill the boundaries of the Text Annotation with color
  dev/public/index.html
  dev/ts/component/ThemedBpmnVisualization.ts
  src/component/mxgraph/shape/text-annotation-shapes.ts
  test/e2e/__image_snapshots__/theme/container-background-snap.png
  test/e2e/__image_snapshots__/theme/theme-brown-snap.png
  test/e2e/__image_snapshots__/theme/theme-dark-snap.png
  test/e2e/__image_snapshots__/theme/theme-light-blue-snap.png
  test/e2e/bpmn.theme.test.ts
  test/fixtures/bpmn/theme/01.most.bpmn.types.without.label.bpmn
Labels: enhancement, BPMN diagram styling

#2185 [INFRA] gha - Use surge-preview-tools action v1
  .github/actions/custom-surge-preview/action.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
Labels: dependencies, github_actions

#2140 [FIX] Filter elements of an Expanded Call Activity
  src/component/parser/json/converter/ProcessConverter.ts
  test/e2e/__image_snapshots__/filter/pools-filter-all-snap.png
  test/e2e/__image_snapshots__/filter/pools-filter-one-with-expanded-call-activity-snap.png
  test/e2e/bpmn.elements.filter.pools.test.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
Labels: bug, BPMN diagram usability

#2139 [FIX] Filter elements of a participant without a displayed Pool
  .vscode/settings.json
  src/component/registry/bpmn-model-filters.ts
  test/e2e/__image_snapshots__/filter/pools-filter-not-displayed-with-elements-snap.png
  test/e2e/bpmn.elements.filter.pools.test.ts
  test/fixtures/bpmn/filter/pools.not.displayed.with.elements.bpmn
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/unit/component/registry/bpmn-model-filters.test.ts
  test/unit/helpers/bpmn-model-utils.ts
Labels: bug, BPMN diagram usability

#2197 [INFRA] Improve full changelog visibility in release notes
  .github/release-drafter.yml
Labels: infra:repo

#2210 [DOC] Update browsers list in README
  README.md
Labels: documentation

#2211 [DOC] Do not add dev dependencies to release notes
  .github/dependabot.yml
  .github/release-drafter.yml
Labels: documentation

#2198 [DOC] Improve the documentation of the high-level architecture
  docs/users/architecture/00-index.adoc
  docs/users/architecture/architecture-overview.adoc
  docs/users/architecture/bpmn-internal-model.adoc
  docs/users/architecture/bpmn-parsing.adoc
  docs/users/architecture/development.adoc
  docs/users/architecture/images/architecture/architecture-overview.drawio
  docs/users/architecture/images/architecture/architecture-overview.svg
  docs/users/architecture/images/architecture/architecture_overview.svg
  docs/users/architecture/mxgraph-integration.adoc
Labels: documentation
