Repository process-analytics/bpmn-visualization-js, pull requests merged in 2023-03, with the labels that each got.

#2557 docs: fix license header in files of the root directory
  .eslintrc.js
  package.json
  postcss.config.js
  tailwind.config.js
  vite.config.js
Labels: documentation

#2551 refactor: rework label position setting in StyleComputer
  src/component/mxgraph/renderer/StyleComputer.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
Labels: refactoring

#2562 ci(e2e-tests): fix false positive tests on macOS with Firefox
  dev/public/bpmn-rendering.html
  dev/public/static/js/bpmn-rendering.js
  dev/public/static/js/diagram-navigation.js
  dev/public/static/js/elements-identification.js
  dev/public/static/js/index.js
  dev/public/static/js/overlays.js
  dev/ts/main.ts
  dev/ts/utils/internal-helpers.ts
  dev/ts/utils/shared-helpers.ts
  test/e2e/helpers/visu/bpmn-page-utils.ts
Labels: chore

#2564 ci(release): improve the release commit message
  .github/workflows/release.yml
Labels: chore

#2556 feat: introduce the `Update Style` API
  dev/ts/main.ts
  src/component/mxgraph/GraphCellUpdater.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/types.ts
  test/e2e/__image_snapshots__/style/strokeColor.png
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/style.api.test.ts
  test/fixtures/bpmn/registry/1-pool-3-lanes-message-start-end-intermediate-events.bpmn
  test/integration/helpers/model-expect.ts
  test/integration/matchers/index.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.style.api.test.ts
  test/performance/tsconfig.json
  typedoc.json
Labels: enhancement, BPMN diagram styling

#2569 docs: update the list of working chromium browsers
  README.md
Labels: documentation

#2565 test: use explicit ids in the "registry" BPMN diagrams
  test/fixtures/bpmn/registry/1-pool-3-lanes-message-start-end-intermediate-events.bpmn
  test/integration/dom.css.classes.test.ts
  test/integration/mxGraph.model.overlays.test.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: refactoring

#2572 test: simplify utility code in integration tests
  test/integration/matchers/matcher-utils.ts
  test/integration/matchers/toBeEdge/index.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: refactoring

#2579 feat(style): configure programatically the font style of a shape/edge
  src/component/mxgraph/GraphCellUpdater.ts
  src/component/registry/types.ts
  test/integration/helpers/model-expect.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: enhancement

#2580 feat(style): configure programatically the fill style of a shape
  dev/ts/main.ts
  src/component/mxgraph/GraphCellUpdater.ts
  src/component/registry/types.ts
  test/e2e/__image_snapshots__/style/fillColor.png
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/style.api.test.ts
  test/integration/helpers/model-expect.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: enhancement

#2582 refactor: change snapshot name of e2e for consistency
  test/e2e/__image_snapshots__/style/fill.color.png
  test/e2e/__image_snapshots__/style/stroke.color.png
  test/e2e/style.api.test.ts
Labels: refactoring

#2581 feat(style): configure programatically the opacity style properties of a shape
  dev/ts/main.ts
  src/component/helpers/validators.ts
  src/component/mxgraph/GraphCellUpdater.ts
  src/component/registry/types.ts
  test/e2e/__image_snapshots__/style/fill.color.opacity.png
  test/e2e/__image_snapshots__/style/font.color.opacity.png
  test/e2e/__image_snapshots__/style/tasks.fill.color.opacity.png
  test/e2e/helpers/visu/bpmn-page-utils.ts
  test/e2e/style.api.test.ts
  test/integration/helpers/model-expect.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.style.api.test.ts
  test/unit/component/helpers/validators.test.ts
Labels: enhancement

#2584 feat: add all BPMN Elements in Elements Identification page
  dev/public/elements-identification.html
Labels: enhancement, example
