Repository process-analytics/bpmn-visualization-js, pull requests merged in 2023-05, with the labels that each got.

#2586 refactor: remove duplication in the "Update Style" API
  src/component/mxgraph/GraphCellUpdater.ts
Labels: refactoring

#2658 ci: publish npm package with "provenance"
  .github/workflows/publish-npm.yml
Labels: chore

#2638 feat: enrich links between edges and shapes in the internal model
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.text.annotation.test.ts
Labels: enhancement

#2667 refactor: fix code smells detected by SonarCloud
  src/component/helpers/validators.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/parser/json/converter/DiagramConverter.ts
Labels: refactoring

#2662 test: move shared code to a dedicated directory
  scripts/utils/parseBpmn.ts
  test/bundles/bundles.test.ts
  test/bundles/npm.package.test.ts
  test/config/jest-playwright.js
  test/config/jest.retries.ts
  test/e2e/bpmn.elements.collapsed.test.ts
  test/e2e/bpmn.elements.filter.pools.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/bpmn.theme.test.ts
  test/e2e/diagram.navigation.fit.test.ts
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/generated.svg.test.ts
  test/e2e/helpers/visu/image-snapshot-config.ts
  test/e2e/overlays.rendering.test.ts
  test/e2e/style.api.test.ts
  test/integration/BpmnVisualization.test.ts
  test/integration/diagram.navigation.test.ts
  test/integration/dom.bpmn.elements.test.ts
  test/integration/dom.container.div.test.ts
  test/integration/dom.css.classes.test.ts
  test/integration/dom.overlays.test.ts
  test/integration/helpers/semantic-with-svg-utils.ts
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/integration/mxGraph.model.overlays.test.ts
  test/integration/mxGraph.model.style.api.test.ts
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
  test/performance/helpers/file-utils.ts
  test/shared/environment-utils.js
  test/shared/file-helper.ts
  test/shared/model/bpmn-semantic-utils.ts
  test/shared/overlays.ts
  test/shared/query-selectors.ts
  test/shared/visu/bpmn-page-utils.ts
  test/shared/visu/test-utils.ts
  test/unit/component/registry/bpmn-model-registry.test.ts
  test/unit/file-helper.test.ts
  tsconfig.test.json
Labels: refactoring

#2666 feat: add an API to remove all CSS classes of BPMN elements
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/css-registry.ts
  test/integration/BpmnVisualization.test.ts
  test/integration/dom.css.classes.test.ts
  test/unit/component/registry/css-registry.test.ts
Labels: enhancement, BPMN diagram styling

#2669 docs(release): add tips for referencing the `examples` repository
  .github/release-drafter.yml
Labels: documentation

#2675 refactor: transform overlay types from interface to type
  src/component/registry/types.ts
Labels: refactoring

#2677 feat(parser): generate more explicit warning logs
  src/component/parser/parsing-messages.ts
  test/unit/component/parser/parsing-messages.test.ts
Labels: enhancement, lib integration

#2685 chore: fix a typo in the `release-drafter` template
  .github/release-drafter.yml
Labels: chore

#2693 test(e2e): only run the "Update Style" API when query parameters are set
  dev/ts/main.ts
Labels: refactoring

#2678 chore(deps): use the `lodash-es` dependency
  package-lock.json
  package.json
  src/component/mxgraph/BpmnGraph.ts
  test/integration/jest.config.js
  test/unit/component/mxgraph/overlay/OverlayConverter.test.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
Labels: dependencies, javascript

#2707 feat(demo): simplify logs displaying fit and load options
  dev/ts/main.ts
  dev/ts/utils/internal-helpers.ts
Labels: enhancement, example

#2704 feat(parser): let configure XML attribute processing
  package-lock.json
  package.json
  src/component/BpmnVisualization.ts
  src/component/options.ts
  src/component/parser/BpmnParser.ts
  src/component/parser/xml/BpmnXmlParser.ts
  test/fixtures/bpmn/xml-parsing/miwg-A.1.0_modified_10_entities.bpmn
  test/integration/mxGraph.model.parsing.entities.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.00.special.parsing.cases.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.miwg.test.ts
Labels: lib integration

#2709 fix: keep existing CSS classes when calling the "Update Style" API
  src/component/mxgraph/GraphCellUpdater.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  test/integration/helpers/model-expect.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/mxGraph.model.css.api.test.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: bug, BPMN diagram usability

#2713 test: prepare support for transaction sub-processes
  docs/contributors/bpmn-support-how-to.md
  src/model/bpmn/internal/shape/kinds.ts
  test/e2e/__image_snapshots__/bpmn-rendering/subprocess.04.expanded.with.elements.png
  test/fixtures/bpmn/bpmn-rendering/subprocess.04.expanded.with.elements.bpmn
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/helpers/JsonTestUtils.ts
Labels: chore

#2717 ci: run e2e and performance tests workflows less often
  .github/workflows/test-e2e.yml
  .github/workflows/test-performance.yml
Labels: chore

#2718 chore: remove comments from bundle files
  package-lock.json
  package.json
  rollup.config.mjs
Labels: chore

#2719 feat: add support for 'transaction' subprocess
  docs/users/bpmn-support.adoc
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/style/utils.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/internal/shape/kinds.ts
  test/e2e/__image_snapshots__/bpmn-rendering/markers.01.positioning.png
  test/e2e/__image_snapshots__/bpmn-rendering/subprocess.03.collapsed.with.elements.png
  test/e2e/__image_snapshots__/bpmn-rendering/subprocess.04.expanded.with.elements.png
  test/e2e/bpmn.rendering.test.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/component/mxgraph/renderer/style-utils.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: enhancement, BPMN support

#2716 refactor: use object instead of class for style identifiers
  src/component/mxgraph/style/identifiers.ts
Labels: refactoring

#2721 refactor: simplify the parsing of elements of process
  src/component/parser/json/converter/ProcessConverter.ts
Labels: refactoring
