Repository process-analytics/bpmn-visualization-js, pull requests merged in 2023-08, with the labels that each got.

#2793 chore(demo): bump fontawesome from 6.4.0 to 6.4.2
  dev/public/index.html
Labels: dependencies

#2798 fix: reset the style of elements only when passing nullish param
  src/component/mxgraph/GraphCellUpdater.ts
  src/component/registry/bpmn-elements-registry.ts
  test/integration/jest.config.js
  test/integration/mxGraph.model.css.api.test.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: bug

#2799 chore(release): publish announce tweet manually
  .github/workflows/announce-new-release.yml
  docs/contributors/maintainers.md
Labels: chore

#2800 refactor: move overlay management out of BpmnElementsRegistry
  src/component/mxgraph/GraphCellUpdater.ts
  src/component/mxgraph/overlay/converter.ts
  src/component/mxgraph/overlay/updater.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/overlays-registry.ts
  test/unit/component/mxgraph/overlay/converter.test.ts
Labels: refactoring

#2801 test: refactor JsonParser unit tests and type handling enhancements
  src/component/parser/json/converter/ProcessConverter.ts
  test/unit/component/parser/json/BpmnJsonParser.association.test.ts
  test/unit/component/parser/json/BpmnJsonParser.edge.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.group.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.bounds.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.conditional.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.default.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sequenceFlow.normal.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
Labels: chore

#2804 refactor: remove extra constructors
  src/component/mxgraph/shape/edges.ts
  src/component/mxgraph/shape/flow-shapes.ts
Labels: refactoring

#2802 refactor: extend mxCellRender instead of redefining prototypes
  src/component/mxgraph/BpmnCellRenderer.ts
  src/component/mxgraph/BpmnGraph.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
Labels: refactoring

#2806 ci: restore "--ignore-scripts" option for `npm ci`
  .github/actions/build-setup/action.yml
Labels: chore

#2805 fix: remove extra parsing of lane elements which are not in the BPMN spec
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/json/BPMN20.ts
  src/model/bpmn/json/baseElement/rootElement/rootElement.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.lane.test.ts
  test/unit/component/parser/json/BpmnJsonParser.marker.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: bug

#2807 test(e2e): fix e2e thresholds on macOS
  test/e2e/bpmn.colors.test.ts
  test/e2e/bpmn.elements.collapsed.test.ts
  test/e2e/bpmn.elements.filter.pools.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/bpmn.theme.test.ts
  test/e2e/diagram.navigation.fit.test.ts
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/overlays.rendering.test.ts
  test/e2e/style.api.test.ts
Labels: chore

#2815 refactor: remove unnecessary type casting
  dev/ts/pages/elements-identification.ts
  test/bundles/bundles.test.ts
  test/e2e/bpmn.colors.test.ts
  test/e2e/bpmn.elements.collapsed.test.ts
  test/e2e/bpmn.elements.filter.pools.test.ts
  test/e2e/bpmn.rendering.test.ts
  test/e2e/bpmn.theme.test.ts
  test/e2e/diagram.navigation.fit.test.ts
  test/e2e/diagram.navigation.zoom.pan.test.ts
  test/e2e/generated.svg.test.ts
  test/e2e/overlays.rendering.test.ts
  test/e2e/style.api.test.ts
  test/integration/matchers/toBeEdge/index.ts
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
  test/shared/visu/bpmn-page-utils.ts
  test/unit/helpers/JsonTestUtils.ts
  test/unit/helpers/bpmn-model-expect.ts
Labels: refactoring

#2820 chore(eslint): use `eslint-plugin-jest-extended`
  package-lock.json
  package.json
  test/.eslintrc.js
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
  test/unit/component/registry/bpmn-model-registry.test.ts
Labels: dependencies, chore

#2830 chore(dependabot): improve groups configuration
  .github/dependabot.yml
Labels: chore

#2825 refactor: start removing the coupling between the "CSS" and "Style" APIs
  src/component/mxgraph/GraphCellUpdater.ts
  test/integration/cross.css.and.style.api.test.ts
  test/integration/matchers/toBeEdge/index.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: refactoring

#2823 refactor: improving code safety with nullish coalescing operator
  dev/ts/pages/index.ts
  dev/ts/shared/main.ts
  src/component/helpers/validators.ts
  src/component/parser/json/converter/ProcessConverter.ts
  test/e2e/helpers/visu/image-snapshot-config.ts
  test/performance/helpers/metrics-chromium.ts
  test/unit/helpers/bpmn-model-expect.ts
Labels: refactoring

#2821 chore(eslint): use @typescript-eslint/stylistic rules
  .eslintrc.js
  dev/ts/component/DropFileUserInterface.ts
  dev/ts/pages/diagram-navigation.ts
  dev/ts/pages/elements-identification.ts
  dev/ts/pages/index.ts
  dev/ts/pages/overlays.ts
  dev/ts/shared/main.ts
  src/component/helpers/array-utils.ts
  src/component/mxgraph/BpmnCellRenderer.ts
  src/component/mxgraph/initializer.ts
  src/component/mxgraph/overlay/converter.ts
  src/component/mxgraph/renderer/StyleComputer.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/style/style-updater.ts
  src/component/mxgraph/style/utils.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/component/parser/json/warnings.ts
  src/component/parser/parsing-messages.ts
  src/component/registry/bpmn-model-registry.ts
  src/model/bpmn/internal/shape/ShapeBpmnElement.ts
  test/config/jest.image.ts
  test/e2e/bpmn.elements.collapsed.test.ts
  test/integration/BpmnVisualization.test.ts
  test/integration/cross.css.and.style.api.test.ts
  test/integration/diagram.navigation.test.ts
  test/integration/helpers/model-expect.ts
  test/integration/helpers/semantic-with-svg-utils.ts
  test/integration/mxGraph.model.style.api.test.ts
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
  test/performance/helpers/metrics-chromium.ts
  test/performance/helpers/perf-utils.ts
  test/shared/overlays.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
  test/unit/component/registry/bpmn-model-registry.test.ts
  test/unit/helpers/JsonBuilder.ts
  test/unit/helpers/JsonTestUtils.ts
Labels: chore, refactoring, decision record

#2835 test: add more tests for `StyleComputer`
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
Labels: chore

#2834 refactor: remove mx prefix in variables related to mxGraph objects
  src/component/mxgraph/BpmnRenderer.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
  test/integration/mxGraph.model.bpmn.elements.test.ts
Labels: refactoring

#2839 docs: describe the security policy
  SECURITY.md
Labels: documentation

#2841 feat: add a method to only get BPMN semantic of elements by kind
  dev/ts/pages/elements-identification.ts
  dev/ts/shared/main.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/types.ts
  test/integration/model.elements.api.test.ts
  test/shared/model/bpmn-semantic-utils.ts
Labels: enhancement, BPMN diagram usability
