Repository process-analytics/bpmn-visualization-js, pull requests merged in 2023-07, with the labels that each got.

#2748 docs(style): explain usage of 'inherit' and 'swimlane' colors
  dev/public/static/js/elements-identification.js
  dev/ts/main.ts
  src/component/registry/types.ts
Labels: documentation, example

#2759 chore(dev-deps): update @typescript-eslint/eslint-plugin and @typescript-eslint/parser to 5.61.0
  package-lock.json
  package.json
Labels: dependencies

#2760 feat(style): add support for fill color gradient in the Update Style API
  dev/public/static/js/elements-identification.js
  dev/ts/main.ts
  src/component/mxgraph/style/utils.ts
  src/component/registry/types.ts
  test/e2e/__image_snapshots__/style/fill.color.gradient.png
  test/e2e/__image_snapshots__/style/fill.color.string.png
  test/e2e/style.api.test.ts
  test/integration/helpers/model-expect.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.style.api.test.ts
  test/shared/visu/bpmn-page-utils.ts
Labels: enhancement, BPMN diagram styling

#2764 chore(dependabot): groups dependencies
  .github/dependabot.yml
Labels: chore
