Repository process-analytics/bpmn-visualization-js, pull requests merged in 2023-09, with the labels that each got.

#2847 docs: improve the JSDoc of `NavigationConfiguration.enabled`
  src/component/options.ts
Labels: documentation

#2846 docs: fix code example of getModelElementsByKinds
  src/component/registry/types.ts
Labels: documentation

#2817 test: improvement management of asynchronous configuration
  .eslintrc.cjs
  package-lock.json
  test/config/jest.image.ts
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
Labels: chore

#2819 refactor(demo): improve method signatures and async code
  .eslintrc.cjs
  dev/ts/component/DropFileUserInterface.ts
  dev/ts/shared/internal-helpers.ts
  dev/ts/shared/main.ts
Labels: example

#2809 chore: use the macOS 13 runner in GH Actions
  .github/workflows/build.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-performance.yml
Labels: chore

#2856 feat: only infer incoming and outgoing from flows
  src/component/parser/json/converter/ProcessConverter.ts
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.flowNode.test.ts
  test/unit/component/parser/json/BpmnJsonParser.sub.process.test.ts
Labels: enhancement, BPMN support

#2863 ci(release): eliminate bypassing of branch protection
  .github/workflows/release.yml
Labels: chore

#2854 feat: provide more properties in BpmnSemantic
  src/component/registry/bpmn-model-registry.ts
  src/component/registry/types.ts
  test/integration/dom.bpmn.elements.test.ts
  test/integration/helpers/semantic-with-svg-utils.ts
  test/integration/model.elements.api.test.ts
  test/shared/model/bpmn-semantic-utils.ts
  test/unit/component/registry/bpmn-model-registry.test.ts
Labels: enhancement, BPMN diagram usability

#2866 chore(eslint): add `unicorn/prefer-query-selector` rule
  .eslintrc.cjs
  dev/ts/component/DropFileUserInterface.ts
  dev/ts/pages/bpmn-rendering.ts
  dev/ts/pages/diagram-navigation.ts
  dev/ts/pages/elements-identification.ts
  dev/ts/pages/index.ts
  dev/ts/pages/overlays.ts
  dev/ts/shared/controls.ts
  src/component/helpers/dom-utils.ts
Labels: chore, refactoring

#2867 chore(eslint): add `unicorn/prefer-add-event-listener` rule
  .eslintrc.cjs
  dev/ts/component/download.ts
  dev/ts/pages/elements-identification.ts
  dev/ts/shared/main.ts
Labels: chore, refactoring

#2868 chore(eslint): add `unicorn/no-array-for-each` rule
  .eslintrc.cjs
  dev/ts/component/DropFileUserInterface.ts
  dev/ts/component/ThemedBpmnVisualization.ts
  dev/ts/pages/diagram-navigation.ts
  dev/ts/pages/elements-identification.ts
  dev/ts/pages/index.ts
  scripts/prepare-demo-for-publish.mjs
  src/component/mxgraph/BpmnRenderer.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/overlay/updater.ts
  src/component/mxgraph/renderer/style-utils.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/render/utils.ts
  src/component/parser/json/converter/CategoryConverter.ts
  src/component/parser/json/converter/CollaborationConverter.ts
  src/component/parser/json/converter/DiagramConverter.ts
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/GlobalTaskConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/registry/bpmn-model-filters.ts
  src/component/registry/bpmn-model-registry.ts
  src/component/registry/css-registry.ts
  test/unit/component/parser/json/BpmnJsonParser.event.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/helpers/JsonBuilder.ts
  test/unit/helpers/bpmn-model-utils.ts
Labels: chore, refactoring

#2869 chore(eslint): add `unicorn/prefer-dom-node-text-content` rule
  .eslintrc.cjs
  dev/ts/pages/bpmn-rendering.ts
  dev/ts/pages/index.ts
Labels: chore, refactoring

#2871 chore(eslint): add `unicorn/prefer-logical-operator-over-ternary` rule
  .eslintrc.cjs
  test/config/jest-playwright.cjs
  test/e2e/diagram.navigation.fit.test.ts
  test/integration/matchers/toBeCell/index.ts
  test/integration/matchers/toBeEdge/index.ts
  test/integration/matchers/toBeShape/index.ts
  test/unit/helpers/JsonBuilder.ts
Labels: chore, refactoring

#2873 chore(eslint): add `unicorn/consistent-function-scoping` rule
  .eslintrc.cjs
  src/component/mxgraph/config/MarkerConfigurator.ts
  src/component/parser/json/converter/ProcessConverter.ts
  test/e2e/overlays.rendering.test.ts
  test/unit/component/mxgraph/shape/render/BpmnCanvas.test.ts
  test/unit/component/parser/json/BpmnJsonParser.group.test.ts
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
Labels: chore, refactoring

#2884 docs: clarify how contributions are accepted
  CONTRIBUTING.md
Labels: documentation

#2876 chore(eslint): add `unicorn/no-negated-condition` rule
  .eslintrc.cjs
  dev/ts/shared/main.ts
  scripts/utils/parseBpmn.ts
  src/component/helpers/array-utils.ts
  src/component/mxgraph/BpmnCellRenderer.ts
  src/component/mxgraph/BpmnGraph.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/renderer/style-utils.ts
  src/component/mxgraph/style/style-updater.ts
  src/component/parser/json/converter/ProcessConverter.ts
  test/config/jest.image.ts
  test/unit/component/mxgraph/renderer/StyleComputer.test.ts
  test/unit/helpers/bpmn-model-expect.ts
Labels: chore, refactoring

#2888 docs: improve the JSDoc of `BpmnSemantic.parentId`
  src/component/registry/types.ts
  test/integration/model.elements.api.test.ts
Labels: documentation

#2877 chore(eslint): add unicorn Array rules
  .eslintrc.cjs
  dev/ts/pages/elements-identification.ts
  dev/ts/shared/main.ts
  scripts/utils/parseBpmn.ts
  src/component/mxgraph/renderer/StyleComputer.ts
  src/component/mxgraph/style/style-updater.ts
  src/component/parser/json/converter/CategoryConverter.ts
  src/component/registry/bpmn-elements-registry.ts
  src/component/registry/bpmn-model-filters.ts
  src/component/registry/bpmn-model-registry.ts
  test/integration/helpers/html-utils.ts
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.00.special.parsing.cases.test.ts
  test/unit/component/registry/bpmn-model-filters.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: chore, refactoring

#2880 chore(eslint): add `unicorn/numeric-separators-style` and `unicorn/no-zero-fractions` rules
  .eslintrc.cjs
  test/bundles/jest.config.cjs
  test/config/jest-playwright.cjs
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/performance/jest.config.cjs
  test/shared/visu/bpmn-page-utils.ts
  test/unit/component/parser/BpmnParser.test.ts
  test/unit/component/parser/json/BpmnJsonParser.label.font.test.ts
  test/unit/component/parser/json/BpmnJsonParser.process.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.00.special.parsing.cases.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.camuda-eclipse-plugin.3_0_0.test.ts
  test/unit/component/parser/xml/BpmnXmlParser.miwg.test.ts
  vite.config.js
Labels: chore, refactoring

#2881 chore(eslint): add unicorn Switch rules
  .eslintrc.cjs
  dev/ts/component/ThemedBpmnVisualization.ts
  dev/ts/pages/elements-identification.ts
  src/component/mxgraph/BpmnGraph.ts
  src/component/mxgraph/renderer/style-utils.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/style/utils.ts
  src/component/parser/json/converter/ProcessConverter.ts
  test/e2e/helpers/visu/image-snapshot-config.ts
  test/unit/helpers/JsonBuilder.ts
Labels: chore, refactoring

#2894 docs: clarify the Pull Request template
  .github/pull_request_template.md
Labels: documentation

#2898 docs: simplify PR template for core contributors
  .github/pull_request_template.md
Labels: documentation

#2897 test(JsonBuilder): enforce the type of `BuildEventDefinitionParameter` `eventDefinitionKind` property in JsonBuilder
  test/unit/component/parser/json/BpmnJsonParser.event.boundary.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.none.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.with.event.definition.test.ts
  test/unit/helpers/JsonBuilder.ts
  test/unit/helpers/TestUtils.BpmnJsonParser.event.ts
Labels: chore

#2899 test(JsonBuilder): not possible to have NONE `eventDefinitionOn` and `eventDefinitionKind` in same time in `BuildEventParameter`
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: chore
