Repository process-analytics/bpmn-visualization-js, pull requests merged in 2023-10, with the labels that each got.

#2900 fix(API): prevent a reset/remove when passing an empty string
  src/component/mxgraph/style/style-updater.ts
  src/component/registry/css-registry.ts
  test/integration/mxGraph.model.css.api.test.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: bug

#2901 test(JsonBuilder): avoid duplicated code when adding `EventDefinition`
  test/unit/component/parser/json/BpmnJsonParser.event.with.event.definition.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: chore

#2906 test(JsonBuilder): have unique id for event definition
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: chore

#2895 test(JsonBuilder): add new properties for link events
  test/unit/component/parser/json/BpmnJsonParser.callActivity.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.none.test.ts
  test/unit/component/parser/json/BpmnJsonParser.event.with.event.definition.test.ts
  test/unit/component/parser/json/BpmnJsonParser.messageFlow.test.ts
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
  test/unit/helpers/TestUtils.BpmnJsonParser.event.ts
Labels: chore

#2910 test(JsonBuilder): use the id of event for the id of eventDefinition
  test/unit/helpers/JsonBuilder.test.ts
  test/unit/helpers/JsonBuilder.ts
Labels: chore

#2912 chore(eslint): enable 3 rules of the unicorn plugin
  .eslintrc.cjs
  scripts/utils/parseBpmn.ts
  src/component/mxgraph/BpmnCellRenderer.ts
  src/component/mxgraph/BpmnGraph.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/overlay/custom-overlay.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
  src/component/registry/bpmn-elements-registry.ts
  test/shared/file-helper.ts
Labels: chore

#2914 chore(eslint): add `@typescript-eslint/dot-notation` rule
  .eslintrc.cjs
  dev/ts/component/ThemedBpmnVisualization.ts
  scripts/utils/parseBpmn.ts
  src/component/parser/json/converter/DiagramConverter.ts
Labels: chore

#2915 test: simplify the code of `toBpmnStyle()`
  test/integration/matchers/matcher-utils.ts
Labels: chore

#2913 chore(eslint): add `unicorn/prefer-string-slice` rule
  .eslintrc.cjs
  test/config/jest.image.ts
  test/performance/bpmn.load.performance.test.ts
  test/performance/bpmn.navigation.performance.test.ts
Labels: chore

#2922 fix: do not return duplicates in `BpmnElementsRegistry` "get model" APIs
  src/component/registry/bpmn-elements-registry.ts
  test/fixtures/bpmn/registry/1-pool-3-lanes-message-start-end-intermediate-events.bpmn
  test/integration/dom.bpmn.elements.test.ts
  test/integration/helpers/semantic-with-svg-utils.ts
  test/integration/model.elements.api.test.ts
  test/shared/model/bpmn-semantic-utils.ts
Labels: bug

#2923 refactor: internally store more data of event definitions
  src/component/parser/json/converter/EventDefinitionConverter.ts
  src/component/parser/json/converter/ProcessConverter.ts
  src/component/parser/json/converter/utils.ts
  src/model/bpmn/json/baseElement/rootElement/eventDefinition.ts
Labels: refactoring

#2924 feat: add more data in the internal model for the link events
  docs/users/architecture/images/architecture/internal-model.drawio
  docs/users/architecture/images/architecture/internal-model.svg
  src/component/parser/json/converter/ProcessConverter.ts
  src/model/bpmn/internal/shape/ShapeBpmnElement.ts
  src/model/bpmn/internal/shape/utils.ts
  test/unit/component/parser/json/BpmnJsonParser.event.link.with.source.target.test.ts
  test/unit/helpers/bpmn-model-expect.ts
Labels: enhancement

#2911 feat: add link event data in `ShapeBpmnSemantic`
  src/component/registry/bpmn-model-registry.ts
  src/component/registry/types.ts
  test/fixtures/bpmn/model-complete-semantic.bpmn
  test/fixtures/bpmn/registry/1-pool-2-lanes-link-intermediate-events.bpmn
  test/integration/dom.bpmn.elements.test.ts
  test/integration/helpers/model-expect.ts
  test/integration/helpers/semantic-with-svg-utils.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/model.elements.api.test.ts
  test/shared/model/bpmn-semantic-utils.ts
  test/unit/component/registry/bpmn-model-registry.test.ts
  test/unit/helpers/bpmn-model-expect.ts
  test/unit/helpers/bpmn-model-utils.ts
Labels: enhancement

#2925 chore(eslint): add some unicorn rules
  .eslintrc.cjs
  dev/ts/component/SvgExporter.ts
  dev/ts/shared/main.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/registry/bpmn-model-registry.ts
  src/model/bpmn/internal/shape/utils.ts
  test/config/jest.image.ts
  test/shared/visu/bpmn-page-utils.ts
Labels: chore

#2824 chore(eslint): use `unicorn/recommended` rules
  .eslintrc.cjs
  dev/ts/shared/internal-helpers.ts
  src/model/bpmn/internal/shape/utils.ts
  test/config/ts-jest.cjs
Labels: chore

#2937 docs(release-notes): improve template of the "highlight" paragraph
  .github/release-drafter.yml
Labels: documentation
