Repository process-analytics/bpmn-visualization-js, pull requests merged in 2023-06, with the labels that each got.

#2722 ci: better configure the "paths" triggering the execution of workflows running tests
  .github/workflows/build.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-npm-package.yml
  .github/workflows/test-performance.yml
Labels: chore

#2720 test(e2e): correctly display diff images in the report generated on windows
  test/config/jest.image.ts
Labels: chore

#2726 docs: update browsers version in README
  README.md
Labels: documentation

#2725 ci: run the "performance test" workflow less often
  .github/workflows/test-performance.yml
Labels: chore

#2727 test: simplify integration tests
  test/integration/BpmnVisualization.test.ts
  test/integration/diagram.navigation.test.ts
  test/integration/dom.bpmn.elements.test.ts
  test/integration/dom.container.div.test.ts
  test/integration/helpers/model-expect.ts
  test/integration/matchers/index.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.bpmn.elements.test.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: refactoring

#2734 docs: improve paragraphs about colors and styles
  docs/users/overview.adoc
Labels: documentation

#2737 chore(deps): bump @typed-mxgraph/typed-mxgraph from 1.0.7 to 1.0.8
  package-lock.json
  package.json
Labels: dependencies

#2745 refactor: directly use mxGraph value objects
  dev/ts/component/SvgExporter.ts
  dev/ts/component/ThemedBpmnVisualization.ts
  src/component/mxgraph/BpmnGraph.ts
  src/component/mxgraph/BpmnRenderer.ts
  src/component/mxgraph/GraphCellUpdater.ts
  src/component/mxgraph/GraphConfigurator.ts
  src/component/mxgraph/config/ShapeConfigurator.ts
  src/component/mxgraph/config/StyleConfigurator.ts
  src/component/mxgraph/initializer.ts
  src/component/mxgraph/overlay/custom-overlay.ts
  src/component/mxgraph/renderer/CoordinatesTranslator.ts
  src/component/mxgraph/renderer/StyleComputer.ts
  src/component/mxgraph/shape/activity-shapes.ts
  src/component/mxgraph/shape/edges.ts
  src/component/mxgraph/shape/event-shapes.ts
  src/component/mxgraph/shape/flow-shapes.ts
  src/component/mxgraph/shape/gateway-shapes.ts
  src/component/mxgraph/shape/render/icon-painter.ts
  src/component/mxgraph/shape/text-annotation-shapes.ts
  src/component/mxgraph/style/utils.ts
  src/component/version.ts
  test/integration/config/mxgraph-config.ts
  test/integration/matchers/toBeEdge/index.ts
  test/integration/matchers/toBeShape/index.ts
  test/integration/mxGraph.model.bpmn.elements.test.ts
Labels: refactoring

#2744 fix: apply style update to the message flow icon
  src/component/mxgraph/BpmnRenderer.ts
  src/component/mxgraph/GraphCellUpdater.ts
  test/e2e/__image_snapshots__/style/fill.color.opacity.group.png
  test/e2e/__image_snapshots__/style/fill.color.png
  test/e2e/__image_snapshots__/style/stroke.color.png
  test/e2e/style.api.test.ts
  test/integration/matchers/matcher-utils.ts
  test/integration/matchers/toBeEdge/index.ts
  test/integration/mxGraph.model.style.api.test.ts
Labels: bug, BPMN diagram styling

#2735 docs: improve JSDoc related to the style API
  src/component/registry/types.ts
Labels: documentation
