Repository process-analytics/bpmn-visualization-js, pull requests merged in 2023-01, with the labels that each got.

#2428 [INFRA] dev - Switch from rollup-plugin-terser to @rollup/plugin-terser
  .npmrc
  package-lock.json
  package.json
  rollup.config.mjs
Labels: dependencies, javascript

#2439 [REFACTOR] Update the lib name in the documentation and the demo
  .github/actions/notify-PA-repo-of-new-version/action.yml
  .github/workflows/publish-npm.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  README.md
  dev/public/bpmn-rendering.html
  dev/public/diagram-navigation.html
  dev/public/elements-identification.html
  dev/public/index.html
  dev/public/lib-integration.html
  dev/public/overlays.html
  docs/contributors/maintainers.md
  docs/contributors/mxgraph-version-bump.md
  test/bundles/bundles.test.ts
  test/bundles/static/lib-integration-iife.html
  test/e2e/helpers/visu/bpmn-page-utils.ts
Labels: documentation, example, chore

#2462 [REFACTOR] Improve the default style configuration
  src/component/mxgraph/config/StyleConfigurator.ts
Labels: refactoring

#2461 [REFACTOR] Clarify the style configuration for `Associations`
  src/component/mxgraph/config/StyleConfigurator.ts
Labels: refactoring

#2465 [INFRA] Use organization variables for runners
  .github/workflows/announce-new-release.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review-pr.yml
  .github/workflows/fill-gh-draft-release.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-performance.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  .github/workflows/upload-npm-package.yml
Labels: chore

#2476 [INFRA] Revert "use organization variables for runners"
  .github/workflows/announce-new-release.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review-pr.yml
  .github/workflows/fill-gh-draft-release.yml
  .github/workflows/generate-demo-preview.yml
  .github/workflows/generate-documentation.yml
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-performance.yml
  .github/workflows/upload-demo-archive-and-trigger-examples-repository-update.yml
  .github/workflows/upload-npm-package.yml
Labels: chore

#2479 [INFRA] Rename the GH workflow that build and test the npm package
  .github/workflows/test-npm-package.yml
Labels: chore

#2478 [INFRA] Bump Node from 16 to 18
  .nvmrc
  docs/contributors/development.md
Labels: chore
